In [1]:
# import libraries

from google.colab import files
import pandas as pd
import numpy as np

In [2]:
uploaded = files.upload()

Saving book_tags.csv to book_tags.csv
Saving books.csv to books.csv
Saving ratings.csv to ratings.csv
Saving toread.csv to toread.csv

### Read the data

In [3]:
ratings = pd.read_csv('ratings.csv')
ratings.head(5)

   user_id  book_id  rating
0        2       26       4
1        4       35       5
2        4       26       3
3        4      297       4
4        4       45       4

In [4]:
books = pd.read_csv('books.csv')
books.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,NonEnglish
0,9,960,960,3338963,311,1416524797,9.781417e+12,Dan Brown,2000.0,Angels & Demons,...,2078754,25112,77841,145740,458429,716569,680175,https://images.gr-assets.com/books/1303390735m...,https://images.gr-assets.com/books/1303390735s...,0
1,26,968,968,2982101,350,307277674,9.780307e+12,Dan Brown,2003.0,The Da Vinci Code,...,1557292,41560,71345,126493,340790,539277,479387,https://images.gr-assets.com/books/1303252999m...,https://images.gr-assets.com/books/1303252999s...,0
2,35,865,865,4835472,458,61122416,9.780061e+12,"Paulo Coelho, Alan R. Clarke",1988.0,O Alquimista,...,1403995,55781,74846,123614,289143,412180,504212,https://images.gr-assets.com/books/1483412266m...,https://images.gr-assets.com/books/1483412266s...,0
3,37,100915,100915,4790821,474,60764899,9.780061e+12,C.S. Lewis,1950.0,"The Lion, the Witch and the Wardrobe",...,1584884,15186,19309,55542,262038,513366,734629,https://images.gr-assets.com/books/1353029077m...,https://images.gr-assets.com/books/1353029077s...,0
4,40,19501,19501,3352398,185,143038419,9.780143e+12,Elizabeth Gilbert,2006.0,"Eat, pray, love: one woman's search for everyt...",...,1206597,49714,100373,149549,310212,332191,314272,https://images.gr-assets.com/books/1503066414m...,https://images.gr-assets.com/books/1503066414s...,0

In [5]:
tags = pd.read_csv('book_tags.csv')
tags.head(5)

   goodreads_book_id  tag_id  count
0                105   26837   1356
1                105   26771   1029
2                105   11743    439
3                105    8717    352
4                105   10007    317

In [6]:
to_read = pd.read_csv('toread.csv')
to_read.head(5)

   user_id  book_id
0       34      483
1       94     1167
2       29     4475
3      116      474
4       94     4475

### Data Preprocessing

In [7]:
books.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url', 'NonEnglish'],
      dtype='object')

In [8]:
books.isnull().sum()

book_id                        0
goodreads_book_id              0
best_book_id                   0
work_id                        0
books_count                    0
isbn                          16
isbn13                        15
authors                        0
original_publication_year      1
original_title                42
title                          0
language_code                132
average_rating                 0
ratings_count                  0
work_ratings_count             0
work_text_reviews_count        0
ratings_1                      0
ratings_2                      0
ratings_3                      0
ratings_4                      0
ratings_5                      0
image_url                      0
small_image_url                0
NonEnglish                     0
dtype: int64

### Find book_id , goodreads_book_id for records that have null values in 'original_title' in [books.csv]

In [9]:
na_books = books[books['original_title'].isnull()].book_id.to_list()
na_books

[299,
 464,
 504,
 1357,
 1625,
 1697,
 1747,
 2256,
 2473,
 2638,
 2660,
 2912,
 3315,
 3591,
 3885,
 3931,
 4330,
 4346,
 4496,
 4558,
 5102,
 5711,
 5752,
 5919,
 6253,
 6390,
 6438,
 6949,
 7086,
 7248,
 7404,
 7478,
 7590,
 7723,
 7947,
 8182,
 8235,
 8661,
 8819,
 9017,
 9534,
 9932]

In [10]:
na_goodreads = books[books['original_title'].isnull()].goodreads_book_id.to_list()
na_goodreads

[7933292,
 1923820,
 11422,
 29797,
 1846,
 11413,
 4499669,
 381421,
 7497897,
 56405,
 81959,
 119760,
 17287028,
 214332,
 29780253,
 11198480,
 22632,
 11281852,
 643301,
 281512,
 12611073,
 13547241,
 102958,
 265205,
 24709327,
 89369,
 92254,
 12171769,
 99955,
 7778609,
 11389341,
 15737147,
 8765461,
 159418,
 5031805,
 12878300,
 12475019,
 9670094,
 46201,
 39916,
 1056627,
 16182601]

In [11]:
### ii) Remove the records in [books.csv] that have null values in 'original_title'.

books = books.dropna(subset=['original_title'])

In [12]:
books.isnull().sum()

book_id                        0
goodreads_book_id              0
best_book_id                   0
work_id                        0
books_count                    0
isbn                          15
isbn13                        14
authors                        0
original_publication_year      0
original_title                 0
title                          0
language_code                124
average_rating                 0
ratings_count                  0
work_ratings_count             0
work_text_reviews_count        0
ratings_1                      0
ratings_2                      0
ratings_3                      0
ratings_4                      0
ratings_5                      0
image_url                      0
small_image_url                0
NonEnglish                     0
dtype: int64

In [13]:
  ###  Remove the records in other files [ratings.csv],[to_read.csv],[book_tags.csv] by mapping the respective book_id/goodreads_book_id (from i)

ratings_na_index = ratings[ratings['book_id'].isin(na_books)].index.to_list()
ratings_upd = ratings.drop(ratings_na_index)

In [14]:
to_read_na_index = to_read[to_read['book_id'].isin(na_books)].index.to_list()
to_read_upd = to_read.drop(to_read_na_index)

In [15]:
tags_na_index = tags[tags['goodreads_book_id'].isin(na_goodreads)].index.to_list()
tags_upd = tags.drop(tags_na_index)

In [16]:
# all the transformed df are in name_upd format

books_upd = books
books_upd.shape

(833, 24)

In [17]:
### Q12: What is the mean value of rating of all the books in the dataset based on (average_rating) [books.csv] ? (F)

books_upd['average_rating'].mean()

4.021440576230492

In [18]:
### Q6: Which book (original_title) has the most number of counts of tags given by the user ie. the book with maximum user records including all tags [book_tags.csv,books.csv] ? (S)

### books_upd.columns

## from this table we know that goodreads book id is 865
tags_upd.groupby(['goodreads_book_id']).agg("sum").sort_values("count", ascending = 0)

                    tag_id   count
goodreads_book_id
865                1684837  675971
38447              1468201  469969
119322             1702041  348935
234225             1699064  296763
4069               1903905  230327
...                    ...     ...
313620             1673811     868
124524             1590749     808
716696             1857984     778
53809              2078750     772
609870             1442786     684

[851 rows x 2 columns]

In [19]:
mostcount = tags_upd.groupby(['goodreads_book_id']).agg("sum").sort_values("count", ascending = 0).iloc[0].name
mostcount

865

In [20]:
myindex = books_upd[books_upd['goodreads_book_id'].isin([mostcount])].index
myindex

books_upd.iloc[myindex,:]

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,NonEnglish
2,35,865,865,4835472,458,61122416,9.780061e+12,"Paulo Coelho, Alan R. Clarke",1988.0,O Alquimista,...,1403995,55781,74846,123614,289143,412180,504212,https://images.gr-assets.com/books/1483412266m...,https://images.gr-assets.com/books/1483412266s...,0

In [21]:
books_upd['original_title'][2]

'O Alquimista'

In [22]:
### Q4: Which book (original_title) has the maximum number of ratings based on (work_ratings_count) [books.csv] ? (S)

books_upd.sort_values(by='work_ratings_count', ascending = False).original_title[0]

'Angels & Demons'

In [23]:
### Q5: Which (tag_id) is the most frequently used ie. mapped with the highest number of books [book_tags.csv] ? (In case of more than one tag, mention the tag id with the least numerical value) (N)

d = dict()
for i in tags_upd['tag_id']:
  if i not in d.keys():
    d[i] = 1
  else:
    d[i] = d[i] + 1

#print(d)

freq = -1
my_id = 9999999999
for key, value in d.items():
  if value > freq:
    freq = value
    my_id = key
  elif value == freq:
    if key < my_id:
      my_id = key

print(my_id, freq)

25647 851

In [24]:
#### Q11: How many unique tags are there in the dataset [book_tags.csv] ? (N)

len(tags_upd.tag_id.unique())

7905

In [25]:
### Q8: Which is the least used tag, i.e. mapped with the lowest number of books [book_tags.csv]? (In case of more than one tag, mention the tag id with the least numerical value) (N)

# dictionary of tags is already created

freq = 9999999999999
my_id = 99999999999999

for key, value in d.items():
  if value < freq:
    freq = value
    my_id = key
  elif value == freq:
    if key < my_id:
      my_id = key

print(my_id, freq)

32 1

In [26]:
#### Q7: Which book (goodreads_book_id) is marked as to-read by most users [books.csv,toread.csv] ? (N)

to_read_upd.to_excel('read.xlsx')

In [27]:
to_read_upd.groupby('book_id').book_id.agg('count').max() # row label 45

1717

In [28]:
books_upd[books_upd['book_id'] == 45]

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,NonEnglish
5,45,4214,4214,1392700,264,770430074,9.780770e+12,Yann Martel,2001.0,Life of Pi,...,1077431,42962,39768,74331,218702,384164,360466,https://images.gr-assets.com/books/1320562005m...,https://images.gr-assets.com/books/1320562005s...,0

In [29]:
### Q2: How many unique books are present in the dataset ? Evaluate based on the 'book_id'? [books.csv] (N)

len(books_upd.book_id.unique())

833

In [30]:
### Q3: How many unique users are present in the dataset [ratings.csv] ? (N)
len(ratings_upd.user_id.unique())

50235

In [37]:
### Q14: Predict sentiment using Textblob. How many positive titles (title) are there [books.csv] ? (cut-off >0) N

# !pip install textblob

from textblob import TextBlob

def get_polarity(text):
        return (TextBlob(text).polarity)

books_upd["polarized"] = books_upd["original_title"].apply(get_polarity)
books_upd["sentiments"] = books_upd.polarized.apply(lambda x: "positive" if x > 0 else ("negative" if x < 0 else "neutral"))
ans = books_upd["sentiments"].value_counts()
print(ans)

neutral     639
positive    120
negative     74
Name: sentiments, dtype: int64

In [34]:
## rough
text = " i think it`s under a honeymoon by the good life -- either that or it`s under a honey moon by joseph arthur."
analysis = TextBlob(text)
analysis.sentiment

Sentiment(polarity=0.7, subjectivity=0.6000000000000001)