# Actor network clusters

Find the cluster of actors that work together.

In [2]:
# This notebook requires 3.3+ GB RAM to run

# Install scikit-network and other dependencies.
# On Colab, you need to restart the runtime after installing
!pip install scikit-network

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-network in /usr/local/lib/python3.7/dist-packages (0.26.0)
Requirement already satisfied: numpy>=1.21.5 in /usr/local/lib/python3.7/dist-packages (from scikit-network) (1.21.6)
Requirement already satisfied: scipy>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from scikit-network) (1.7.3)

In [3]:
# Import other dependencies
import numpy as np
import sknetwork.clustering
import sknetwork.utils
from scipy.sparse import csr_matrix

# Get a feel for Clustering algorithms

We'll take 4 networks like this, and see how the clustering algorithms group them.

![image.png]()

In [4]:
# c909: A-B = 9, B-C = 0, C-D = 9 = 2 clusters, each with 9 internal weight, 0 inter-connections
c909 = csr_matrix([[0,9,0,0],[9,0,0,0],[0,0,0,9],[0,0,9,0]])
c919 = csr_matrix([[0,9,0,0],[9,0,1,0],[0,1,0,9],[0,0,9,0]])
c191 = csr_matrix([[0,1,0,0],[1,0,9,0],[0,9,0,1],[0,0,1,0]])
c911 = csr_matrix([[0,9,0,0],[9,0,1,0],[0,1,0,1],[0,0,1,0]])

In [5]:
def fit(cls, **kwargs):
    algo = cls(**kwargs)
    for adjacency in [c909, c919, c191, c911]:
      print(algo.fit_transform(adjacency))

In [7]:
# Louvain seems to have a reasonable clustering approach
fit(sknetwork.clustering.Louvain)

[0 0 1 1]
[0 0 1 1]
[0 0 0 0]
[0 0 1 1]

![image.png]()

In [ ]:
# Propagation connects everything together
fit(sknetwork.clustering.PropagationClustering)

[0 0 1 1]
[0 0 0 0]
[0 0 0 0]
[0 0 0 0]

![image.png]()

In [ ]:
# KMeans makes no sense
fit(sknetwork.clustering.KMeans, n_clusters=2)

[0 1 0 0]
[0 0 1 0]
[1 0 1 0]
[0 1 0 1]

/usr/local/lib/python3.7/dist-packages/sknetwork/utils/check.py:288: Warning: The dimension of the embedding cannot exceed 3.Changed accordingly.
  "Changed accordingly.".format(n_min)))

![image.png]()

In [ ]:
import sknetwork.hierarchy

In [ ]:
# Strange that c191 does not connect 1-2 first, rest is OK
fit(sknetwork.hierarchy.Paris)

[[1.    0.    0.125 2.   ]
 [3.    2.    0.125 2.   ]
 [5.    4.      inf 4.   ]]
[[1.         0.         0.13157895 2.        ]
 [3.         2.         0.13157895 2.        ]
 [5.         4.         4.74999996 4.        ]]
[[1.         0.         0.22727272 2.        ]
 [3.         2.         0.22727272 2.        ]
 [5.         4.         0.30555556 4.        ]]
[[3.         2.         0.04545455 2.        ]
 [1.         0.         0.22727272 2.        ]
 [4.         5.         1.29545449 4.        ]]

![image.png]()

In [ ]:
# Strange that c191 does not connect 1-2 first, rest is OK
fit(sknetwork.hierarchy.LouvainHierarchy)

[[1. 0. 0. 2.]
 [3. 2. 0. 2.]
 [5. 4. 1. 4.]]
[[1. 0. 0. 2.]
 [3. 2. 0. 2.]
 [5. 4. 1. 4.]]
[[3. 2. 0. 2.]
 [4. 1. 0. 3.]
 [5. 0. 0. 4.]]
[[1. 0. 0. 2.]
 [3. 2. 0. 2.]
 [5. 4. 1. 4.]]

![image.png]()

In [ ]:
# Ward makes no sense
fit(sknetwork.hierarchy.Ward)

[[0.         3.         0.83330888 2.        ]
 [1.         2.         1.348789   2.        ]
 [4.         5.         1.63798415 4.        ]]
[[1.         3.         0.66852711 2.        ]
 [0.         2.         1.27510271 2.        ]
 [4.         5.         1.72187044 4.        ]]
[[0.         2.         0.02141568 2.        ]
 [1.         3.         0.33568762 2.        ]
 [4.         5.         1.98461754 4.        ]]
[[0.         2.         0.67167255 2.        ]
 [1.         3.         1.19331088 2.        ]
 [4.         5.         1.6708748  4.        ]]

/usr/local/lib/python3.7/dist-packages/sknetwork/utils/check.py:288: Warning: The dimension of the embedding cannot exceed 3.Changed accordingly.
  "Changed accordingly.".format(n_min)))

![image.png]()

# Download IMDb Data

[IMDb Datasets](https://www.imdb.com/interfaces/) provide dumps of all movie data. We'll download 3 tables:

## name.basics.tsv.gz

**nconst**|**primaryName**|**birthYear**|**deathYear**|**primaryProfession**|**knownForTitles**
:-----:|:-----:|:-----:|:-----:|:-----:|:-----:
nm0000001|Fred Astaire|1899|1987|soundtrack,actor,miscellaneous|tt0031983,tt0072308,tt0053137,tt0050419
nm0000002|Lauren Bacall|1924|2014|actress,soundtrack|tt0071877,tt0037382,tt0038355,tt0117057
nm0000003|Brigitte Bardot|1934|\N|actress,soundtrack,music\_department|tt0054452,tt0049189,tt0056404,tt0057345
nm0000004|John Belushi|1949|1982|actor,soundtrack,writer|tt0080455,tt0078723,tt0072562,tt0077975
nm0000005|Ingmar Bergman|1918|2007|writer,director,actor|tt0050976,tt0050986,tt0060827,tt0083922

## title.basics.tsv.gz

**tconst**|**titleType**|**primaryTitle**|**originalTitle**|**isAdult**|**startYear**|**endYear**|**runtimeMinutes**|**genres**
:-----:|:-----:|:-----:|:-----:|:-----:|:-----:|:-----:|:-----:|:-----:
tt0000001|short|Carmencita|Carmencita|0|1894|\N|1|Documentary,Short
tt0000002|short|Le clown et ses chiens|Le clown et ses chiens|0|1892|\N|5|Animation,Short
tt0000003|short|Pauvre Pierrot|Pauvre Pierrot|0|1892|\N|4|Animation,Comedy,Romance
tt0000004|short|Un bon bock|Un bon bock|0|1892|\N|12|Animation,Short
tt0000005|short|Blacksmith Scene|Blacksmith Scene|0|1893|\N|1|Comedy,Short

## title.principals.tsv.gz

**tconst**|**ordering**|**nconst**|**category**|**job**|**characters**
:-----:|:-----:|:-----:|:-----:|:-----:|:-----:
tt0000001|1|nm1588970|self|\N|["Self"]
tt0000001|2|nm0005690|director|\N|\N
tt0000001|3|nm0374658|cinematographer|director of photography|\N
tt0000002|1|nm0721526|director|\N|\N
tt0000002|2|nm1335271|composer|\N|\N

In [ ]:
# Download the data
# !rm -f *.tsv.gz
!curl --silent -C - -o name.basics.tsv.gz https://datasets.imdbws.com/name.basics.tsv.gz
!curl --silent -C - -o title.principals.tsv.gz https://datasets.imdbws.com/title.principals.tsv.gz
!curl --silent -C - -o title.basics.tsv.gz https://datasets.imdbws.com/title.basics.tsv.gz
!ls -la *.tsv.gz

-rw-r--r-- 1 root root 223785654 Feb 25 01:50 name.basics.tsv.gz
-rw-r--r-- 1 root root 152683251 Feb 25 01:50 title.basics.tsv.gz
-rw-r--r-- 1 root root 389617886 Feb 25 01:50 title.principals.tsv.gz

In [ ]:
# These gzip files have trailing garbage.
# Python's gzip module does not read GZIP files with trailing garbage.
# Let's create an equivalent of pandas.read_csv() that works around it.
# See https://stackoverflow.com/a/54608126/100904
import zlib
import io
import pandas as pd

def read_csv(path, **kwargs):
    with open(path, 'rb') as handle:
        raw = handle.read()
    stream = io.BytesIO(zlib.decompress(raw, zlib.MAX_WBITS|16))
    return pd.read_csv(stream, **kwargs)

In [ ]:
# Load the movies. 1.4GB RAM. 15s
movies = read_csv('title.basics.tsv.gz', sep='\t', na_values='\\N', dtype={
    'tconst': 'str',
    'titleType': 'str',
    'primaryTitle': 'str',
    'startYear': 'Int64',
}, usecols=['tconst', 'titleType', 'primaryTitle', 'startYear']).set_index('tconst')

In [ ]:
# Only consider movies, not TV series, etc. Shrinks data to ~5%
movies = movies[movies['titleType'] == 'movie']
del movies['titleType']
movies.head()

                          primaryTitle  startYear
tconst
tt0000502                     Bohemios       1905
tt0000574  The Story of the Kelly Gang       1906
tt0000591             The Prodigal Son       1907
tt0000615           Robbery Under Arms       1907
tt0000630                       Hamlet       1908

In [ ]:
# Load the cast of each film. 2.0 GB RAM. 30s
cast = read_csv('title.principals.tsv.gz', sep='\t', na_values='\\N', dtype={
    'tconst': 'str',
    'nconst': 'str',
    'category': 'str',
}, usecols=['tconst', 'nconst', 'category'])

In [ ]:
# Only consider actors, not directors, composers, etc. Shrinks data to about 40%
# Only consider actors that have acted in movies, not TV series, etc.
cast = cast[cast.category.isin({'actor', 'actress'}) & cast['tconst'].isin(movies.index)]
cast.head()

         tconst     nconst category
849   tt0000502  nm0215752    actor
850   tt0000502  nm0252720    actor
1041  tt0000574  nm0846887  actress
1042  tt0000574  nm0846894    actor
1043  tt0000574  nm1431224    actor

In [ ]:
# Load 11m names with birth year. 16s
name = read_csv('name.basics.tsv.gz', sep='\t', na_values='\\N', dtype={
    'nconst': 'str',
    'primaryName': 'str',
    'birthYear': 'Int64'
}, usecols=['nconst', 'primaryName', 'birthYear']).set_index('nconst')

In [ ]:
# Drop those who haven't acted in movies
name = name[name.index.isin(cast['nconst'])]
# name['titles'] has the number of movies they've acted in
name['titles'] = cast['nconst'].value_counts()
name.head()

               primaryName  birthYear  titles
nconst
nm0000001     Fred Astaire       1899      35
nm0000002    Lauren Bacall       1924      37
nm0000003  Brigitte Bardot       1934      35
nm0000004     John Belushi       1949       7
nm0000005   Ingmar Bergman       1918       3

# Which actors act with each other most?

In [ ]:
# First, we need to create an adjacency matrix of actors - movies
# Each row is an movie. Each column is an actor.
# Each cell has 1 if the actor acted in the movie.
# We'll use Pandas' category datatype to do this

p = cast.copy()
p['title'] = p['tconst'].astype('category')
p['name'] = p['nconst'].astype('category')

# Now, we can get a unique index for each title or movie.
# 'row' has the row number, and 'col' has the column number, of each
# cell that should be marked as 1
p['row'] = p['title'].cat.codes.values
p['col'] = p['name'].cat.codes.values
p.head()

         tconst     nconst category      title       name  row     col
849   tt0000502  nm0215752    actor  tt0000502  nm0215752    0   44228
850   tt0000502  nm0252720    actor  tt0000502  nm0252720    0   50887
1041  tt0000574  nm0846887  actress  tt0000574  nm0846887    1  145853
1042  tt0000574  nm0846894    actor  tt0000574  nm0846894    1  145854
1043  tt0000574  nm1431224    actor  tt0000574  nm1431224    1  296188

In [ ]:
# Now, let's create a sparse matrix out of this.
# Each row is a movie. Each column is an actor.
# If the actor acted in the movie, the cell has 1, else 0.
matrix = csr_matrix((np.ones(len(p), dtype='int'), (p['row'], p['col'])))
matrix[:10, 44200:44210].toarray()

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [ ]:
# 'matrix' is an "movie - actor" matrix.
# To convert this into an "actor - actor" matrix, we need to square it.
# Then, each row is an actor. Each column is an actor.
# The cell shows how many movies they acted together in.
square = matrix.T * matrix

# The diagonal has the number of movies a person has acted with themselves.
# Let's set that to zero.
square.setdiag(0)

# Here's what it looks like
square[:10, :10].toarray()

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 4, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 4, 0, 0, 0, 1, 0, 0, 0, 3],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 3, 0, 0, 0]])

In [ ]:
# Let's create a DataFrame with the number of times 2 actors acted together
# The code is wrapped into the get_pairs() function below.

# (we'll get rid of the spare variables now)
del p, matrix, square

In [ ]:
def get_pairs(min_acted=1, min_pairings=1):
    '''
    Returns an adjacency matrix and actor mapping of actor pairs where:
    - Each actor has acted in at least min_acted films
    - The two actors have acted together in at least min_pairings films
    '''
    top_actors = cast[cast['nconst'].isin(name.index[name['titles'] >= min_acted])]

    # First, we need to create an adjacency matrix of actors - movies
    # Each row is an movie. Each column is an actor.
    # Each cell has 1 if the actor acted in the movie.
    # We'll use Pandas' category datatype to do this
    p = top_actors.copy()
    p['title'] = p['tconst'].astype('category')
    p['name'] = p['nconst'].astype('category')

    # Now, we can get a unique index for each title or movie.
    # 'row' has the row number, and 'col' has the column number, of each
    # cell that should be marked as 1
    p['row'] = p['title'].cat.codes.values
    p['col'] = p['name'].cat.codes.values

    # Now, let's create a sparse matrix out of this.
    # Each row is a movie. Each column is an actor.
    # If the actor acted in the movie, the cell has 1, else 0.
    matrix = csr_matrix((np.ones(len(p), dtype='int'), (p['row'], p['col'])))

    # 'matrix' is an "movie - actor" matrix.
    # To convert this into an "actor - actor" matrix, we need to square it.
    # Then, each row is an actor. Each column is an actor.
    # The cell shows how many movies they acted together in.
    square = matrix.T * matrix

    # The diagonal has the number of movies a person has acted with themselves.
    # Let's set that to zero.
    square.setdiag(0)

    # Let's create a DataFrame with the number of times 2 actors acted together
    cat = name.reindex(p['name'].cat.categories)
    square = square.tocoo()
    pairs = pd.DataFrame({
        'row': cat.index[square.row],
        'col': cat.index[square.col],
        'n': square.data
    })
    pairs = pairs[pairs.n >= min_pairings].reset_index(drop=True)
    return pairs.sort_values('n', ascending=False)

In [ ]:
# See which pairs of actors have acted most together.
pairings = get_pairs()
pairings

               row        col    n
199062   nm0046850  nm0006982  187
381115   nm0006982  nm0046850  187
2194276  nm2082516  nm0648803  146
4330026  nm0648803  nm2082516  146
199051   nm0419653  nm0006982  130
...            ...        ...  ...
2267153  nm0005292  nm0674020    1
2267152  nm0005438  nm0674020    1
2267151  nm0493161  nm0674020    1
2267150  nm0391922  nm0674020    1
6393669  nm1056425  nm9993693    1

[6393670 rows x 3 columns]

In [ ]:
# The IMDb IDs are not that intuitive.
# Let's print the names to make it more meaningful
def lookup(pairs):
    return pd.concat([
        pairs.reset_index(drop=True),
        name.loc[pairs.row].reset_index(drop=True),
        name.loc[pairs.col].reset_index(drop=True),
    ], axis=1).drop(columns=['row', 'col'])

In [ ]:
lookup(pairings)

           n           primaryName  ...  birthYear  titles
0        187               Bahadur  ...       1929     561
1        187           Adoor Bhasi  ...       <NA>     408
2        146          Kijaku Ôtani  ...       1875     563
3        146      Matsunosuke Onoe  ...       1878     163
4        130           Jayabharati  ...       1929     561
...      ...                   ...  ...        ...     ...
6393665    1        Erik Palladino  ...       1974       5
6393666    1          Jeremy Sisto  ...       1974       5
6393667    1         Bianca Lawson  ...       1974       5
6393668    1            Lee Holmes  ...       1974       5
6393669    1  Rajpal Naurang Yadav  ...       <NA>       2

[6393670 rows x 7 columns]

These two Indian Malayalam actors [Adoor Bhasi](https://www.imdb.com/name/nm0006982/) and [Bahadur](https://www.imdb.com/name/nm0046850/) appeared together in 187 films.

![actors.jpg]()

Japanese actors [Kijaku Ôtani](https://www.imdb.com/name/nm2082516/) and [Matsunosuke Onoe](https://www.imdb.com/name/nm0648803/) acted together in 146 films.

# Create the utilities

In [ ]:
# Let's tag actors based on known data points
def tag_actors(**kwargs):
    result = []
    for name, tags in kwargs.items():
        for tag in tags.split(','):
            result.append([name, tag.strip().title()])
    return pd.DataFrame(result, columns=['primaryName', 'tag'])

actor_tags = tag_actors(**{
    'Aachi Manorama': 'Indian, South Indian, Tamil',
    'Aamir Khan': 'Indian, North Indian, Hindi',
    'Adel Emam': 'Egyptian',
    'Ajab Gul': 'Pakistani',
    'Alekos Alexandrakis': 'Greek',
    'Alon Aboutboul': 'Israeli',
    'Ansa Ikonen': 'Finnish, Old',
    'Amitabh Bachchan': 'Indian, North Indian, Hindi',
    'Amr Waked': 'Egyptian',
    'Anjali Devi': 'Indian, South Indian, Telugu, Old',
    'Anny Ondra': 'Czech, Old',
    'Antal Páger': 'Hungarian',
    'Antonio Banderas': 'Spanish, American',
    'Anup Kumar': 'Indian, North Indian, Bengali',
    'Anwar Hossain': 'Bangladeshi, Old',
    'Arifin Shuvo': 'Bangladeshi',
    'Badar Munir': 'Pakistani',
    'Bijay Mohanty': 'Indian, North Indian, Odia',
    'Brad Pitt': 'American',
    'Brahmanandam': 'Indian, South Indian, Telugu',
    'Bourvil': 'French, Old',
    'Burak Özçivit': 'Turkish',
    'Cary Grant': 'American, Old',
    'Charles Chaplin': 'British, Old',
    'Christian Bale': 'British',
    'Christoph Waltz': 'German',
    'Coco Martin': 'Filipino',
    'Daniel Brühl': 'German',
    'Danish Taimoor': 'Pakistani',
    'Delhi Ganesh': 'Indian, South Indian, Tamil',
    'Dinesh Lal Yadav': 'Indian, North Indian, Bhojpuri',
    'Durga Khote': 'Indian, North Indian, Hindi, Old',
    'Edvin Adolphson': 'Swedish, Old',
    'Eugenio Derbez': 'Mexican',
    'Ferdous Ahmed': 'Bangladeshi',
    'Fernanda Montenegro': 'Brazilian',
    'Fernandel': 'French, Old',
    'Frederik Jacobsen': 'Danish, Old',
    'Fritz Kampers': 'German, Old',
    'George Stover': 'Hollywood Horror',
    'Greta Garbo': 'Swedish, American, Old',
    'Hyun Bin': 'South Korean',
    'Ian McKellen': 'British',
    'Ingrid Bergman': 'Swedish, American, Old',
    'Jackson Anthony': 'Sri Lankan',
    'Janusz Gajos': 'Polish',
    'Javier Bardem': 'Spanish, American',
    'Jean Dujardin': 'French',
    'Jerzy Stuhr': 'Polish',
    'Joe DeBartolo': 'Hollywood Horror',
    'John Wayne': 'American, Old',
    'Johnny Walker': 'Indian, North Indian, Hindi, Old',
    'Jürgen Prochnow': 'German',
    'Kabori Sarwar': 'Bangladeshi, Old',
    'Kamal Addaraarachchi': 'Sri Lankan',
    'Katherine Hepburn': 'American, Old',
    'Kento Yamazaki': 'Japanese',
    'Kivanç Tatlitug': 'Turkish',
    'Labros Konstadaras': 'Greek',
    'Lionel Barrymore': 'American, Old',
    'M.G. Ramachandran': 'Indian, South Indian, Tamil, Old',
    'Mahira Khan': 'Pakistani',
    'Mammootty': 'Indian, South Indian, Malayalam',
    'Marcello Mastroianni': 'Italian',
    'Mari Töröcsik': 'Hungarian',
    'Mario Casas': 'Spanish',
    'Mario Maurer': 'Thai',
    'Marki Henderson': 'Hollywood - TV Series',
    'Marwan Kenzari': 'Dutch',
    'Masayoshi Nogami': 'Japanese Porno',
    'Maulik Nayak': 'Indian, Northi Indian, Gujarati',
    'Michael Caine': 'British',
    'Mihir Das': 'Indian, North Indian, Odia',
    'Milena Dravic': 'Yugoslavian',
    'Mohanlal': 'Indian, South Indian, Malayalam',
    'N.T. Rama Rao': 'Indian, South Indian, Telugu, Old',
    'Nagesh': 'Indian, South Indian, Tamil, Old',
    'Nicholas Saputra': 'Indonesian',
    'Odunlade Adekola': 'Nigerian',
    'Olga Engl': 'German, Old',
    'P. Anthony Perea': 'Hollywood - TV Series',
    'Parviz Parastui': 'Iranian',
    'Paul Hörbiger': 'German, Old',
    'Paul T.T. Easter': 'British',
    'Pedro Almodóvar': 'Spanish',
    'Philip Bech': 'Danish, Old',
    'Raghveer Boli': 'Indian, North Indian, Punjabi',
    'Rangeela': 'Pakistani, Old',
    'Reza Rahadian': 'Indonesian',
    'Roberto Benigni': 'Italian',
    'Rodrigo Santoro': 'Brazilian',
    'Ron Jeremy': 'Hollywood Porno',
    'Roni Jonah': 'Hollywood Horror',
    'Sanjay Pandey': 'Indian, North Indian, Bhojpuri',
    'Seiji Nakamitsu': 'Japanese Porno',
    'Senthil': 'Indian, South Indian, Tamil',
    'Shah Rukh Khan': 'Indian, North Indian, Hindi',
    'Shahab Hosseini': 'Iranian',
    'Shivaji Ganesan': 'Indian, South Indian, Tamil, Old',
    'Shivarajkumar': 'Indian, South Indian, Kannada',
    'Siddharth Randeria': 'Indian, North Indian, Gujarati',
    'Soumitra Chatterjee': 'Indian, North Indian, Bengali',
    'Sultan Rahi': 'Pakistani, Old',
    'Swaylee Loughnane': 'British',
    'Takeru Satoh': 'Japanese',
    'Tauno Palo': 'Finnish, Old',
    'Theodor Pistek': 'Czech, Old',
    'Tom Byron': 'Hollywood Porno',
    'Tom Hanks': 'American',
    'Tony Lee Gratz': 'Hollywood Horror',
    'Toyin Abraham': 'Nigerian',
    'Velimir \'Bata\' Zivojinovic': 'Yugoslavian',
    'Vijay Chavan': 'Indian, North Indian, Marathi',
    'Vincent Cassel': 'French',
    'Vladimir Mashkov': 'Russian',
    'Wagner Moura': 'Brazilian',
    'Will Smith': 'American',
    'Xian Li': 'Chinese',
    'Yang Yang': 'Chinese',
    'Yibo Wang': 'Chinese',
    'Yograj Singh': 'Indian, North Indian, Punjabi',
    'Yuri Kolokolnikov': 'Russian',
    'Zhan Xiao': 'Chinese',
})
actor_tags.head()

      primaryName           tag
0  Aachi Manorama        Indian
1  Aachi Manorama  South Indian
2  Aachi Manorama         Tamil
3      Aamir Khan        Indian
4      Aamir Khan  North Indian

In [ ]:
# Store all clusters, subclusters, models & submodels here
subclusters, models, metrics = {}, {}, {}

In [ ]:
def _cluster(pairs, **kwargs):
    '''
    Raw clustering function for internal use.
    '''
    # CREATE THE CLUSTERS
    # -------------------
    # Create a copy of the pairs dataset -- we will change it
    pairs = pairs.copy().reset_index(drop=True)
    # Convert IMDb IDs into sequential numbers for clustering
    uniq = pairs.row.unique()
    cat = pd.Series(np.arange(len(uniq)), index=uniq)
    # Create the adjacency matrix
    adjacency = sknetwork.utils.edgelist2adjacency(pd.DataFrame({
        'row': cat[pairs.row].reset_index(drop=True),
        'col': cat[pairs.col].reset_index(drop=True),
        'n': pairs['n'],
    }))
    
    # Cluster network using Louvain
    model = sknetwork.clustering.Louvain(random_state=1, **kwargs)
    labels = model.fit_transform(adjacency)
    metrics = sknetwork.clustering.modularity(adjacency, labels, return_all=True)
    # cluster is the output DataFrame. Start with the "name" DataFrame copy.
    # It already has nconst (index), primaryName, birthYear, titles
    cluster = name.loc[cat.index].copy()
    # Add the "cluster" column -- which cluster do they belong to
    cluster['cluster'] = pd.Series(labels, index=cat.index)

    # NAME THE CLUSTERS
    # -----------------
    # Show all tags at least 10% of actors have.
    # If 50% of actors have a tag, capitalize it.
    def top_tags(group, min=0.1, caps=0.5):
        freq = group['tag'].value_counts() / group['primaryName'].nunique()
        tags = []
        # TODO: Sort and pick the most specific tag, i.e. last in the hierarchy
        for tag_name, tag_freq in freq.sort_values(ascending=False).items():
            if tag_freq < min:
                break
            tags.append(tag_name.upper() if tag_freq > caps else tag_name)
        return ', '.join(tags)

    # Ignore any actor without a birth year. It's a crude way of de-duplicating for the merge
    # For each actor with a tag, merge on the cluster to get all tags
    join = actor_tags.merge(cluster, on='primaryName')
    # The name of the cluster is the top tags of the people in the cluster
    cluster_names = join.groupby('cluster').apply(top_tags)
    # Add the "clusterName" column by replacing cluster ID from "cluster" column
    cluster['clusterName'] = cluster['cluster'].replace(cluster_names) if len(cluster_names) else cluster['cluster']

    # ADD CLUSTER METRICS
    # -------------------
    # Explore pairings across clusters
    pairs['rowcluster'] = cluster.loc[pairs.row].cluster.reset_index(drop=True)
    pairs['colcluster'] = cluster.loc[pairs.col].cluster.reset_index(drop=True)
    pairs['incluster'] = pairs['n']
    pairs['incluster'] = pairs['n']
    pairs['incluster'].where(pairs['rowcluster'] == pairs['colcluster'], 0, inplace=True)
    groups = pairs.groupby('row')
    # costars: number of unique costars they've acted with
    cluster['costars'] = groups['col'].nunique()
    # coclusters: how many clusters do their costars belong to
    cluster['coclusters'] = groups['colcluster'].nunique()
    # pairings: how many co-starrings (actor-film combinations)
    cluster['pairings'] = groups['n'].sum()
    # incluster: % of pairings with actor in same cluster
    cluster['incluster'] = groups['incluster'].sum()
    cluster['incluster%'] = cluster['incluster'] / cluster['pairings']
    return cluster, model, metrics

In [ ]:
# _path('Brad Pitt', 'Nicolas Cage') returns the path to cluster
# (Brad Pitt's cluster, Nicolas Cage's cluster within Brad Pitt's cluster)
# All of the below are identical
# _path(0, 0)
# _path('Brad Pitt', 0)
# _path(0, 'Nicolas Cage')
# _path('Brad Pitt', 'Nicolas Cage')
def _path(*actors):
    path = []
    for index in range(len(actors)):
        cluster = subcluster(*path[:index])
        id = get_actor(actors[index], *path[:index]).cluster if type(actors[index]) is str else actors[index]
        path.append(id)
    return tuple(path)

In [ ]:
def subcluster(*path):
    '''
    For a cluster path, returns clustered dataset with cluster labels, & more.

    - subcluster[()] returns the root cluster.
    - subcluster[(3, )] subclusters the root cluster and returns cluster #3
    - subcluster[(3, 4)] returns cluster #4 under cluster #3, etc.

    Clusters are cached.
    '''
    path = _path(*path)
    if path in subclusters:
        return subclusters[path]
    # Return root cluster
    if len(path) == 0:
        subclusters[path], models[path], metrics[path] = _cluster(pairings)
        return subclusters[path]
    # Create parent cluster if required
    if path[:-1] not in subclusters:
        subcluster(path[:-1])
    # Create current subcluster
    parent, index = subclusters[path[:-1]], path[-1]
    indices = parent[parent['cluster'] == index].index
    subset = pairings[pairings.row.isin(indices) & pairings.col.isin(indices)]
    subclusters[path], models[path], metrics[path] = _cluster(subset)
    return subclusters[path]

In [ ]:
# subcluster() returns a DataFrame with:
# nconst (index): IMDb ID of the actor. https://www.imdb.com/name/<nconst>/ points to actor
# primaryName: Name of the actor
# birthYear: Year of birth, if available
# titles: Number of titles the actor has acted in
# cluster: Cluster ID the actor belongs to
# clusterName: Name of the cluster ID based on most popular actor_tags
# costars: How many other actors do they act with?
# coclusters: How many other clusters do they act with?
# pairings: How many co-starrings (pairings) have do the have?
# incluster: How many of these pairings are within their cluster?
# incluster%: % of pairings within their cluster (incluster / pairings)

subcluster()

                 primaryName  birthYear  ...  incluster  incluster%
nm0046850            Bahadur       <NA>  ...       1630    0.997552
nm0006982        Adoor Bhasi       1929  ...       2270    0.994741
nm2082516       Kijaku Ôtani       1878  ...        945    1.000000
nm0648803   Matsunosuke Onoe       1875  ...       1110    1.000000
nm0419653        Jayabharati       <NA>  ...       1120    0.997329
...                      ...        ...  ...        ...         ...
nm0674265        Yael Perlov       1959  ...          3    1.000000
nm0674261       David Perlov       1930  ...          3    1.000000
nm7200934    Louise Faulkner       <NA>  ...          1    1.000000
nm11771610        Ralph Lowe       <NA>  ...          1    1.000000
nm11806121   Mary Jo Perkins       <NA>  ...          1    1.000000

[646826 rows x 10 columns]

In [ ]:
def list_(method, *path, count=30, **kwargs):
    '''Base method to list cluster information'''
    path = _path(*path)
    cluster = subcluster(*path)
    top_clusters = cluster['clusterName'].value_counts()
    groups = {k: v for k, v in cluster.groupby('clusterName')}
    for clusterName, count in top_clusters.head(count).iteritems():
        group = groups[clusterName]
        print(f'{group["cluster"].iloc[0]} {clusterName} ({count:,d} actors):',
              method(group=group, **kwargs))

def list_clusters(*path, count=30, names=10):
    path = _path(*path)
    top_actors = lambda group, names: ', '.join(group.sort_values('titles', ascending=False).head(names)['primaryName'].values)
    return list_(top_actors, *path, count=count, names=names)

In [ ]:
# Returns a list of clusters with the total actors and the top actors by title
list_clusters(count=5, names=5)

0 American, British, Spanish, German (81,402 actors): Eric Roberts, Michael Madsen, Tom Sizemore, Danny Trejo, Joe Estevez
1 SPANISH, Mexican (29,716 actors): Mario Almada, Luis Aguilar, Eric del Castillo, Fernando Fernán Gómez, Joaquín Cordero
2 OLD, AMERICAN, Swedish, British (26,949 actors): Raymond Hatton, Charles Starrett, Johnny Mack Brown, Jack Holt, Noah Beery
3 FRENCH, Old, Israeli (25,713 actors): Gérard Depardieu, Charles Vanel, Michel Piccoli, Fernandel, Pierre Brasseur
4 GERMAN, Old, Hungarian (21,692 actors): Olga Engl, Paul Hörbiger, Fritz Kampers, Wilhelm Diegelmann, Georg Alexander

In [ ]:
def get_metrics(*path):
    '''Returns modularity, fit, diversity of a cluster'''
    path = _path(*path)
    subcluster(*path)
    m = metrics[path]
    print(f'Modularity: {m[0]:.1%}. Fit: {m[1]:.1%}. Diversity: {m[2]:.1%}')

In [ ]:
# Modularity = % links within cluster vs if actors paired randomly.
# Fit = % links within cluster
# Diversity = % of random pairings
# Modularity = Fit - Diversity
get_metrics()

Modularity: 90.8%. Fit: 94.9%. Diversity: 4.1%

In [ ]:
# Get actor info in a cluster
def get_actor(actor_name, *path):
    '''Get all information about an actor in a cluster'''
    path = _path(*path)
    cluster = subcluster(*path)
    return cluster[cluster['primaryName'] == actor_name].iloc[0]

In [ ]:
get_actor('Jackie Chan')

primaryName    Jackie Chan
birthYear             1954
titles                  90
cluster                  5
clusterName        CHINESE
costars                224
coclusters               9
pairings               271
incluster              197
incluster%        0.726937
Name: nm0000329, dtype: object

# Worldwide actor clusters

Let's look at the cluster of actors for all films.

In [ ]:
# Here are top 30 worldwide clusters with the 10 actors with most titles
list_clusters(count=30, names=10)

0 American, British, Spanish, German (81,402 actors): Eric Roberts, Michael Madsen, Tom Sizemore, Danny Trejo, Joe Estevez, John Savage, Michael Paré, Tony Devon, Vernon Wells, Malcolm McDowell
1 SPANISH, Mexican (29,716 actors): Mario Almada, Luis Aguilar, Eric del Castillo, Fernando Fernán Gómez, Joaquín Cordero, Ana Luisa Peluffo, Roberto 'Flaco' Guzmán, José Luis López Vázquez, Armando Silvestre, Francisco Rabal
2 OLD, AMERICAN, Swedish, British (26,949 actors): Raymond Hatton, Charles Starrett, Johnny Mack Brown, Jack Holt, Noah Beery, Buck Jones, Bob Steele, John Wayne, Lewis Stone, Lionel Barrymore
3 FRENCH, Old, Israeli (25,713 actors): Gérard Depardieu, Charles Vanel, Michel Piccoli, Fernandel, Pierre Brasseur, Catherine Deneuve, Bernard Blier, Michel Galabru, Isabelle Huppert, Jean-Louis Trintignant
4 GERMAN, Old, Hungarian (21,692 actors): Olga Engl, Paul Hörbiger, Fritz Kampers, Wilhelm Diegelmann, Georg Alexander, Erich Kaiser-Titz, Harry Liedtke, Hans Albers, Frida Richard, Theodor Loos
5 CHINESE (19,704 actors): Ying Cheung, Cho-Fan Ng, Sau-Nin Wong, Kuang-Chao Chiang, Simon Yam, Luquan Gao, Chun-Hsiung Ko, Yin Pak, Wood-Yau Cheung, Tat-Wah Tso
6 INDIAN, NORTH INDIAN, Hindi, Old, Bengali, Bhojpuri, Gujarati, Punjabi, Marathi (19,319 actors): Mithun Chakraborty, Shakti Kapoor, Ashok Kumar, Dharmendra, Helen, Soumitra Chatterjee, Anup Kumar, Pran Sikand, Aruna Irani, Raza Murad
7 JAPANESE (17,651 actors): Matsunosuke Onoe, Kanjûrô Arashi, Kazuo Hasegawa, Kaichi Yamamoto, Ritoku Arashi, Hideo Fujino, Shinobu Araki, Utaemon Ichikawa, Rintarô Fujima, Enshô Jitsukawa
8 RUSSIAN (17,225 actors): Armen Dzhigarkhanyan, Leonid Kuravlyov, Nikolay Kryuchkov, Lev Durov, Juozas Budraitis, Sergey Nikonenko, Sergey Garmash, Mikhail Gluzskiy, Lyudmila Gurchenko, Oleg Zhakov
9 ITALIAN (15,862 actors): Franco Nero, Vittorio De Sica, Marcello Mastroianni, Ugo Tognazzi, Alberto Sordi, Richard Harrison, Amedeo Nazzari, Rossano Brazzi, Livio Pavanelli, Vittorio Gassman
10 INDIAN, SOUTH INDIAN, Tamil, Old, Telugu, Malayalam (14,115 actors): Brahmanandam, Adoor Bhasi, Bahadur, Aachi Manorama, Mammootty, Mohanlal, Pandari Bai, Shivaji Ganesan, Nagesh, N.T. Rama Rao
11 BRITISH, Indian, North Indian, Hindi, Old (10,391 actors): Jon-Paul Gates, Paul Dewdney, Dani Thompson, Paul T.T. Easter, Swaylee Loughnane, Nicola Wright, Nigel Barber, Michael Brandon, Jason Croot, Lawrence Whitener
12 HOLLYWOOD PORNO (10,202 actors): Tom Byron, Ron Jeremy, Joey Silvera, Jamie Gillis, Billy Dee, Don Fernando, Eric Edwards, Randy West, Sharon Mitchell, Peter North
13 BRAZILIAN (9,633 actors): Grande Otelo, Rodolfo Arena, Walter Gabarron, Renato Aragão, Luís Miguel Cintra, Othon Bastos, Mário Benvenutti, Paulo César Peréio, Oscarito, Otávio Augusto
14 OLD, DANISH, Swedish (8,736 actors): Edvin Adolphson, Frederik Jacobsen, Max von Sydow, Ove Sprogøe, Philip Bech, Poul Reichhardt, Dirch Passer, Carl Schenstrøm, Ghita Nørby, Stig Järrel
15 TURKISH (8,337 actors): Cüneyt Arkin, Turgut Özatay, Atif Kaptan, Reha Yurdakul, Kazim Kartal, Sadri Alisik, Erol Tas, Fikret Hakan, Türkan Soray, Fatma Girik
16 JAPANESE PORNO (8,172 actors): Masayoshi Nogami, Seiji Nakamitsu, Yuri Izumi, Shinji Kubo, Kayoko Sugi, Makoto Sugimoto, Yutaka Ikejima, Shirô Shimomoto, Jirô Kokubu, Yuriko Azuma
17 FILIPINO (6,992 actors): Eddie Garcia, Paquito Diaz, George Estregan Jr., Max Alvarado, Chiquito, Fernando Poe Jr., Dolphy, Panchito, Gloria Romero, Vilma Santos
18 SOUTH KOREAN (6,578 actors): Sung-il Shin, Ji-mee Kim, No-shik Park, Yeong-gyun Shin, Jin Kyu Kim, Yun Jeong-hie, Won Namkung, Jang-kang Heo, Hie Mun, Jeong-im Nam
28 HOLLYWOOD HORROR (6,116 actors): Paul 'Maxx' Rinehart, Toni Thompson, Harold Dennis, Justin J. Wheeler, Shannon Brown, Siobhan Lumsden, Walt Sloan, Rick Jay Glen, Sonny Burnette, Anita Nicole Brown
19 INDONESIAN (5,701 actors): Barry Prima, W.D. Mochtar, Zainal Abidin, Reza Rahadian, P. Ramlee, Rano Karno, Pitradjaya Burnama, Rachmat Hidayat, Meriam Bellina, Eva Arnaz
20 GREEK (4,830 actors): Lavrentis Dianellos, Dionysis Papagiannopoulos, Andreas Barkoulis, Mimis Fotopoulos, Giannis Gionakis, Nikos Rizos, Thanasis Vengos, Dinos Iliopoulos, Labros Konstadaras, Costas Kakavas
21 NIGERIAN (4,550 actors): Bimbo Ademoye, Uzor Arukwe, Tana Adelana, Desmond Elliot, Toyin Abraham, Mofe Duncan, Seun Akindele, Ijeoma Grace Agu, Segun Arinze, Alexx Ekubo
22 CZECH, OLD (4,401 actors): Theodor Pistek, Anny Ondra, Jaroslav Marvan, Antonie Nedosinská, Rudolf Hrusínský, Jan W. Speerger, Karel Höger, Vlastimil Brodský, Lída Baarová, Jana Brejchová
23 IRANIAN (4,084 actors): Reza Beyk Imanverdi, Hamideh Kheirabadi, Naser Malek Motiee, Ali Miri, Manoochehr Vossoogh, Jamshid Mashayekhi, Jamshid Hashempur, Mansour Sepehrnia, Iraj Ghaderi, Ahmad Ghadakchian
24 EGYPTIAN (3,975 actors): Mahmoud Al Meleji, Farid Shawqi, Kamal El-Shinnawi, Imad Hamdi, Ismail Yassin, Tawfik El Deken, Rushdi Abazah, Shukri Sarhan, Nour El-Sherif, Adel Emam
32 HOLLYWOOD - TV SERIES (3,899 actors): Nelson J. Davis, Old-Nick, Alex Hall, Donald Imm, Anna Tenney, George McGill, Kevin Tan, Amber Dawn Fox, Jermaine Nix, David Schifter
25 YUGOSLAVIAN (3,895 actors): Velimir 'Bata' Zivojinovic, Rade Serbedzija, Milena Dravic, Ljubisa Samardzic, Pavle Vuisic, Predrag 'Miki' Manojlovic, Rade Markovic, Dragomir Bojanic-Gidra, Dragan Nikolic, Ljuba Tadic
26 PAKISTANI, INDIAN, NORTH INDIAN, ODIA, Old, Bangladeshi (3,851 actors): Sultan Rahi, Mihir Das, Rangeela, Mustafa Qureshi, Nadeem Baig, Allauddin, Abdur Razzak, Shabana, Bijay Mohanty, Shaan Shahid
27 POLISH (3,733 actors): Daniel Olbrychski, Jan Nowicki, Leon Niemczyk, Andrzej Chyra, Boguslaw Linda, Kazimierz Junosza-Stepowski, Henryk Bista, Janusz Gajos, Piotr Fronczewski, Zbigniew Zamachowski

# Which are the most insular / liberal clusters?

---

In [ ]:
def list_collaborations(*path, count=30, names=10):
    path = _path(*path)
    # Which clusters do clusters collaborate with?
    if path not in models:
        subcluster(*path)
    cluster, model = subclusters[path], models[path]
    stats = cluster.groupby('cluster').agg({'clusterName': 'first', 'primaryName': 'count'})
    # For the top count clusters
    for index in range(count):
        # model.aggregate_ is a matrix that has the number of collaborations between 2 clusters
        # Get the count of pairings of this clusteer with other clusters
        inter = pd.DataFrame(model.aggregate_[index].todense()).iloc[0]
        # There are "total" pairings in this cluster
        total = inter.sum()
        print(index, stats['clusterName'][index], stats['primaryName'][index], 'actors', end=': ')
        # Sort the clusters by pairings (The first will always be this cluster, since every cluster acts with itself most)
        for pair, count in inter.sort_values(ascending=False).head(names).iteritems():
            # Print cluster name and % of pairings with that cluster
            print(stats['clusterName'][pair] if pair != index else '', f'({count / total:.1%})', end='. ')
        print('')

list_collaborations()

0 American, British, Spanish, German 81402 actors:  (89.6%). OLD, AMERICAN, Swedish, British (2.3%). FRENCH, Old, Israeli (0.8%). BRITISH, Indian, North Indian, Hindi, Old (0.6%). SPANISH, Mexican (0.5%). ITALIAN (0.3%). GERMAN, Old, Hungarian (0.3%). HOLLYWOOD HORROR (0.2%). CHINESE (0.2%). OLD, DANISH, Swedish (0.2%).
1 SPANISH, Mexican 29716 actors:  (95.5%). ITALIAN (1.0%). American, British, Spanish, German (0.9%). FRENCH, Old, Israeli (0.7%). OLD, AMERICAN, Swedish, British (0.6%). BRAZILIAN (0.3%). GERMAN, Old, Hungarian (0.2%). 46 (0.1%). 29 (0.1%). OLD, DANISH, Swedish (0.0%).
2 OLD, AMERICAN, Swedish, British 26949 actors:  (94.1%). American, British, Spanish, German (2.6%). ITALIAN (0.7%). GERMAN, Old, Hungarian (0.6%). FRENCH, Old, Israeli (0.6%). SPANISH, Mexican (0.4%). HOLLYWOOD PORNO (0.1%). OLD, DANISH, Swedish (0.1%). 60 (0.1%). JAPANESE (0.1%).
3 FRENCH, Old, Israeli 25713 actors:  (89.6%). ITALIAN (2.4%). American, British, Spanish, German (2.0%). GERMAN, Old, Hungarian (1.5%). OLD, AMERICAN, Swedish, British (1.4%). SPANISH, Mexican (0.9%). 29 (0.3%). RUSSIAN (0.2%). OLD, DANISH, Swedish (0.2%). BRAZILIAN (0.2%).
4 GERMAN, Old, Hungarian 21692 actors:  (92.8%). FRENCH, Old, Israeli (1.4%). OLD, AMERICAN, Swedish, British (1.4%). ITALIAN (1.1%). American, British, Spanish, German (0.7%). OLD, DANISH, Swedish (0.5%). CZECH, OLD (0.4%). POLISH (0.2%). RUSSIAN (0.2%). SPANISH, Mexican (0.2%).
5 CHINESE 19692 actors:  (98.2%). American, British, Spanish, German (0.4%). SOUTH KOREAN (0.3%). JAPANESE (0.3%). INDONESIAN (0.1%). FILIPINO (0.1%). THAI (0.1%). OLD, AMERICAN, Swedish, British (0.1%). FRENCH, Old, Israeli (0.1%). JAPANESE PORNO (0.0%).
6 INDIAN, NORTH INDIAN, Hindi, Old, Bengali, Bhojpuri, Gujarati, Punjabi, Marathi 19319 actors:  (96.0%). INDIAN, SOUTH INDIAN, Tamil, Old, Telugu, Malayalam (2.6%). PAKISTANI, INDIAN, NORTH INDIAN, ODIA, Old, Bangladeshi (0.7%). American, British, Spanish, German (0.2%). 67 (0.0%). BRITISH, Indian, North Indian, Hindi, Old (0.0%). 50 (0.0%). SRI LANKAN (0.0%). OLD, AMERICAN, Swedish, British (0.0%). SPANISH, Mexican (0.0%).
7 JAPANESE 17651 actors:  (97.5%). JAPANESE PORNO (1.5%). American, British, Spanish, German (0.3%). CHINESE (0.3%). OLD, AMERICAN, Swedish, British (0.1%). SOUTH KOREAN (0.1%). FILIPINO (0.0%). FRENCH, Old, Israeli (0.0%). GERMAN, Old, Hungarian (0.0%). SPANISH, Mexican (0.0%).
8 RUSSIAN 17225 actors:  (97.7%). American, British, Spanish, German (0.4%). FRENCH, Old, Israeli (0.4%). GERMAN, Old, Hungarian (0.4%). POLISH (0.2%). CZECH, OLD (0.1%). YUGOSLAVIAN (0.1%). ITALIAN (0.1%). 41 (0.1%). SPANISH, Mexican (0.1%).
9 ITALIAN 15862 actors:  (88.1%). FRENCH, Old, Israeli (3.2%). OLD, AMERICAN, Swedish, British (2.2%). SPANISH, Mexican (1.9%). GERMAN, Old, Hungarian (1.6%). American, British, Spanish, German (1.2%). 29 (0.3%). YUGOSLAVIAN (0.2%). HOLLYWOOD PORNO (0.2%). GREEK (0.1%).
10 INDIAN, SOUTH INDIAN, Tamil, Old, Telugu, Malayalam 14115 actors:  (96.4%). INDIAN, NORTH INDIAN, Hindi, Old, Bengali, Bhojpuri, Gujarati, Punjabi, Marathi (3.3%). PAKISTANI, INDIAN, NORTH INDIAN, ODIA, Old, Bangladeshi (0.1%). American, British, Spanish, German (0.0%). SRI LANKAN (0.0%). BRITISH, Indian, North Indian, Hindi, Old (0.0%). 50 (0.0%). INDONESIAN (0.0%). TURKISH (0.0%). CHINESE (0.0%).
11 BRITISH, Indian, North Indian, Hindi, Old 10391 actors:  (91.3%). American, British, Spanish, German (5.4%). OLD, AMERICAN, Swedish, British (0.3%). INDIAN, NORTH INDIAN, Hindi, Old, Bengali, Bhojpuri, Gujarati, Punjabi, Marathi (0.2%). NIGERIAN (0.2%). FRENCH, Old, Israeli (0.2%). 50 (0.2%). OLD, DANISH, Swedish (0.2%). ITALIAN (0.1%). GERMAN, Old, Hungarian (0.1%).
12 HOLLYWOOD PORNO 10202 actors:  (97.6%). American, British, Spanish, German (0.6%). 29 (0.6%). OLD, AMERICAN, Swedish, British (0.5%). 34 (0.2%). ITALIAN (0.2%). 58 (0.0%). FRENCH, Old, Israeli (0.0%). GERMAN, Old, Hungarian (0.0%). SPANISH, Mexican (0.0%).
13 BRAZILIAN 9633 actors:  (96.6%). SPANISH, Mexican (1.3%). American, British, Spanish, German (0.7%). FRENCH, Old, Israeli (0.5%). ITALIAN (0.2%). GERMAN, Old, Hungarian (0.1%). OLD, AMERICAN, Swedish, British (0.1%). OLD, DANISH, Swedish (0.0%). POLISH (0.0%). JAPANESE (0.0%).
14 OLD, DANISH, Swedish 8736 actors:  (94.8%). American, British, Spanish, German (1.4%). GERMAN, Old, Hungarian (1.3%). OLD, AMERICAN, Swedish, British (0.6%). FRENCH, Old, Israeli (0.5%). FINNISH, OLD (0.2%). ITALIAN (0.2%). SPANISH, Mexican (0.1%). BRITISH, Indian, North Indian, Hindi, Old (0.1%). POLISH (0.1%).
15 TURKISH 8337 actors:  (99.1%). IRANIAN (0.2%). GERMAN, Old, Hungarian (0.2%). American, British, Spanish, German (0.1%). ITALIAN (0.1%). EGYPTIAN (0.1%). GREEK (0.0%). RUSSIAN (0.0%). FRENCH, Old, Israeli (0.0%). SPANISH, Mexican (0.0%).
16 JAPANESE PORNO 8172 actors:  (95.9%). JAPANESE (3.9%). CHINESE (0.1%). American, British, Spanish, German (0.0%). THAI (0.0%). FILIPINO (0.0%). SOUTH KOREAN (0.0%). 110 (0.0%). INDONESIAN (0.0%). FRENCH, Old, Israeli (0.0%).
17 FILIPINO 6992 actors:  (99.3%). CHINESE (0.2%). OLD, AMERICAN, Swedish, British (0.2%). American, British, Spanish, German (0.1%). JAPANESE (0.1%). INDONESIAN (0.0%). ITALIAN (0.0%). SPANISH, Mexican (0.0%). THAI (0.0%). HOLLYWOOD PORNO (0.0%).
18 SOUTH KOREAN 6578 actors:  (97.5%). CHINESE (1.2%). JAPANESE (0.4%). American, British, Spanish, German (0.4%). FRENCH, Old, Israeli (0.0%). FILIPINO (0.0%). OLD, AMERICAN, Swedish, British (0.0%). THAI (0.0%). BRITISH, Indian, North Indian, Hindi, Old (0.0%). SPANISH, Mexican (0.0%).
19 INDONESIAN 5701 actors:  (98.8%). CHINESE (0.5%). American, British, Spanish, German (0.2%). FILIPINO (0.1%). JAPANESE (0.1%). OLD, AMERICAN, Swedish, British (0.0%). INDIAN, NORTH INDIAN, Hindi, Old, Bengali, Bhojpuri, Gujarati, Punjabi, Marathi (0.0%). BRITISH, Indian, North Indian, Hindi, Old (0.0%). INDIAN, SOUTH INDIAN, Tamil, Old, Telugu, Malayalam (0.0%). THAI (0.0%).
20 GREEK 4830 actors:  (97.9%). American, British, Spanish, German (0.4%). ITALIAN (0.3%). FRENCH, Old, Israeli (0.3%). OLD, AMERICAN, Swedish, British (0.2%). GERMAN, Old, Hungarian (0.2%). 29 (0.2%). TURKISH (0.1%). SPANISH, Mexican (0.1%). YUGOSLAVIAN (0.0%).
21 NIGERIAN 4550 actors:  (97.4%). American, British, Spanish, German (1.1%). BRITISH, Indian, North Indian, Hindi, Old (0.3%). HOLLYWOOD - TV SERIES (0.1%). 37 (0.1%). FRENCH, Old, Israeli (0.1%). INDIAN, NORTH INDIAN, Hindi, Old, Bengali, Bhojpuri, Gujarati, Punjabi, Marathi (0.0%). HOLLYWOOD - TV SERIES (0.0%). 39 (0.0%). GERMAN, Old, Hungarian (0.0%).
22 CZECH, OLD 4401 actors:  (95.5%). GERMAN, Old, Hungarian (2.0%). POLISH (0.5%). ITALIAN (0.3%). American, British, Spanish, German (0.3%). RUSSIAN (0.3%). FRENCH, Old, Israeli (0.3%). OLD, AMERICAN, Swedish, British (0.2%). YUGOSLAVIAN (0.2%). SPANISH, Mexican (0.1%).
23 IRANIAN 4084 actors:  (98.6%). TURKISH (0.5%). American, British, Spanish, German (0.2%). EGYPTIAN (0.1%). FRENCH, Old, Israeli (0.1%). ITALIAN (0.1%). GERMAN, Old, Hungarian (0.1%). INDIAN, NORTH INDIAN, Hindi, Old, Bengali, Bhojpuri, Gujarati, Punjabi, Marathi (0.0%). RUSSIAN (0.0%). OLD, AMERICAN, Swedish, British (0.0%).
24 EGYPTIAN 3975 actors:  (98.6%). FRENCH, Old, Israeli (0.5%). American, British, Spanish, German (0.2%). TURKISH (0.1%). IRANIAN (0.1%). ITALIAN (0.1%). OLD, AMERICAN, Swedish, British (0.1%). 155 (0.0%). GERMAN, Old, Hungarian (0.0%). RUSSIAN (0.0%).
25 YUGOSLAVIAN 3895 actors:  (94.1%). American, British, Spanish, German (1.0%). GERMAN, Old, Hungarian (1.0%). ITALIAN (0.9%). FRENCH, Old, Israeli (0.8%). RUSSIAN (0.4%). OLD, AMERICAN, Swedish, British (0.3%). CZECH, OLD (0.3%). OLD, DANISH, Swedish (0.2%). POLISH (0.1%).
26 PAKISTANI, INDIAN, NORTH INDIAN, ODIA, Old, Bangladeshi 3851 actors:  (94.7%). INDIAN, NORTH INDIAN, Hindi, Old, Bengali, Bhojpuri, Gujarati, Punjabi, Marathi (4.6%). INDIAN, SOUTH INDIAN, Tamil, Old, Telugu, Malayalam (0.4%). American, British, Spanish, German (0.1%). SRI LANKAN (0.0%). 50 (0.0%). EGYPTIAN (0.0%). TURKISH (0.0%). BRITISH, Indian, North Indian, Hindi, Old (0.0%). HOLLYWOOD HORROR (0.0%).
27 POLISH 3733 actors:  (93.4%). GERMAN, Old, Hungarian (1.8%). RUSSIAN (0.9%). American, British, Spanish, German (0.9%). FRENCH, Old, Israeli (0.8%). CZECH, OLD (0.7%). ITALIAN (0.3%). OLD, DANISH, Swedish (0.2%). 41 (0.2%). SPANISH, Mexican (0.1%).
28 HOLLYWOOD HORROR 3466 actors:  (90.1%). American, British, Spanish, German (5.9%). 38 (0.3%). 39 (0.3%). BRITISH, Indian, North Indian, Hindi, Old (0.2%). HOLLYWOOD HORROR (0.1%). 76 (0.1%). 42 (0.1%). 74 (0.1%). HOLLYWOOD HORROR (0.1%).
29 29 2684 actors:  (91.7%). HOLLYWOOD PORNO (2.4%). FRENCH, Old, Israeli (1.7%). ITALIAN (1.5%). SPANISH, Mexican (1.0%). GERMAN, Old, Hungarian (0.9%). GREEK (0.3%). American, British, Spanish, German (0.1%). OLD, AMERICAN, Swedish, British (0.1%). OLD, DANISH, Swedish (0.1%).

# How do they collaborate with each other?

Used for blog post: [How isolated is Bollywood from World Cinema](https://www.s-anand.net/blog/how-isolated-is-bollywood-from-world-cinema/).

TODO: Convert this automatically into `cluster_collaboration.json`.

In [ ]:
def list_collaboration_matrix(*path, count=30):
    path = _path(*path)
    # Which clusters do clusters collaborate with?
    if path not in models:
        subcluster(*path)
    model = models[path]
    # model.aggregate is a matrix that has the number of collaborations between 2 clusters
    interrelation = model.aggregate_[:count]
    return pd.DataFrame((interrelation / interrelation.sum(axis=1))[:count, :count])

list_collaboration_matrix(count=10)

          0         1         2  ...         7         8         9
0  0.895526  0.004680  0.022570  ...  0.001479  0.000940  0.003197
1  0.009223  0.955072  0.006007  ...  0.000161  0.000303  0.010122
2  0.026138  0.003530  0.941236  ...  0.000618  0.000129  0.007097
3  0.020127  0.009099  0.014083  ...  0.000410  0.002483  0.023675
4  0.007013  0.002231  0.013522  ...  0.000248  0.002264  0.010890
5  0.004350  0.000188  0.000716  ...  0.003044  0.000081  0.000341
6  0.002429  0.000132  0.000136  ...  0.000036  0.000073  0.000089
7  0.002712  0.000149  0.000979  ...  0.974801  0.000089  0.000147
8  0.004212  0.000689  0.000501  ...  0.000218  0.976586  0.000795
9  0.011528  0.018522  0.022098  ...  0.000289  0.000640  0.881323

[10 rows x 10 columns]

# Top costars of actors

In [ ]:
def list_costars(actor, *path, names=10, id=False, min_costar=1):
    path = _path(*path)
    cluster = subcluster(*path)
    actor_id = name[name['primaryName'] == actor].index[0]
    titles = pairings[pairings['row'] == actor_id]
    costars = cluster.loc[titles['col']].copy()
    costars['n'] = titles.set_index('col')['n']
    cluster_names = cluster.groupby('cluster')['clusterName'].first()
    for cluster_index, count in costars.groupby('cluster')['n'].sum().sort_values(ascending=False).iteritems():
        cocluster = costars[costars['cluster'] == cluster_index].sort_values('n', ascending=False)
        cocluster = cocluster[cocluster['n'] >= min_costar]
        label = cluster_names[cluster_index]
        if id:
            print(f'{label} ({int(count)}):', ', '.join([f'{row.primaryName} ({row.name} {row.n})' for index, row in cocluster[:names].iterrows()]))
        else:
            print(f'{label} ({int(count)}):', ', '.join([f'{row.primaryName} ({row.n})' for index, row in cocluster[:names].iterrows()]))

In [ ]:
# Which cluster do popular actors' costars belong to?
list_costars('Will Smith', names=10)

American, British, Spanish, German (96): Kenneth Branagh (1), Robert De Niro (1), Whoopi Goldberg (1), Jeff Goldblum (1), Salma Hayek (1), Tommy Lee Jones (3), Kevin Kline (1), Charlize Theron (2), Renée Zellweger (1), Alec Baldwin (1)
SPANISH, Mexican (1): Jordi Mollà (1)
HOLLYWOOD HORROR (1): Lex Elle (1)

In [ ]:
# Robin Williams never acted with any actor thrice. Acted twice only with 2 actors
list_costars('Robin Williams', names=10)

American, British, Spanish, German (123): Pierce Brosnan (1), Robert De Niro (1), David Duchovny (1), Ethan Hawke (1), Dustin Hoffman (1), Nastassja Kinski (1), Diane Lane (1), Jennifer Lopez (1), Ewan McGregor (1), Al Pacino (1)
OLD, AMERICAN, Swedish, British (6): Walter Matthau (1), Dick Van Dyke (1), Ray Walston (1), Ruth Nelson (1), Jerry Reed (1), James Wainwright (1)
JAPANESE (3): Jonathan Freeman (1), Linda Larkin (1), Scott Weinger (1)
SPANISH, Mexican (2): Alejandro Rey (1), Roberto Aguire (1)
GERMAN, Old, Hungarian (1): Éva Igó (1)
OLD, DANISH, Swedish (1): Max von Sydow (1)
THAI (1): Chintara Sukapatana (1)
469 (1): JoJo (1)

In [ ]:
# TODO: Why is Lev Gorn not here?
list_costars('Kamal Haasan')

INDIAN, SOUTH INDIAN, Tamil, Old, Telugu, Malayalam (764): Sridevi (23), Sailaja S.P. (1), Kaikala Satyanarayana (2), Ilaiyaraaja (1), Girija (2), Narayana P.L. (2), Adoor Bhasi (6), Suhasini (2), Aamani (1), Abbas (1)
INDIAN, NORTH INDIAN, Hindi, Old, Bengali, Bhojpuri, Gujarati, Punjabi, Marathi (87): Amitabh Bachchan (2), Shekhar Kapur (1), Gulshan Grover (1), Dharmendra (1), Hema Malini (3), Tabu (1), Shakti Kapoor (1), Urmila Matondkar (2), Rati Agnihotri (5), Zeenat Aman (1)
American, British, Spanish, German (1): Miles Anderson (1)
GERMAN, Old, Hungarian (1): B.J. Britt (1)
PAKISTANI, INDIAN, NORTH INDIAN, ODIA, Old, Bangladeshi (1): Bindiya (1)
50 (1): Sunil Thapa (1)

In [ ]:
list_costars('Sophia Loren')

ITALIAN (79): Marcello Mastroianni (11), Vittorio De Sica (6), Anita Ekberg (1), Vittorio Gassman (1), Galina Andreeva (1), Steve Barclay (1), Maria Fiore (1), Rossano Brazzi (1), Pierre Brice (1), Eleonora Brown (1)
OLD, AMERICAN, Swedish, British (70): Marlon Brando (1), Richard Burton (1), Clark Gable (1), Cary Grant (2), Alec Guinness (1), Charlton Heston (1), William Holden (1), Alan Ladd (1), James Mason (1), Paul Newman (1)
FRENCH, Old, Israeli (22): Jean-Paul Belmondo (1), Jean-Pierre Aumont (1), Maurice Chevalier (1), Romy Schneider (1), Françoise Berd (1), Julien Bertheau (1), Lise Bourdin (1), Jean-Pierre Cassel (1), Muriel Catalá (1), Marcel Dalio (1)
American, British, Spanish, German (11): Julia Roberts (1), Mira Sorvino (1), Peter O'Toole (1), Pete Postlethwaite (1), Martin Sheen (1), Deborah Kara Unger (1), F. Murray Abraham (1), Ian Bannen (1), William Devane (1), Barbara Pilavin (1)
SPANISH, Mexican (3): Juan Luis Galiardo (1), Fernando Rey (1), Caspar Zafer (1)
GERMAN, Old, Hungarian (3): Mario Adorf (1), Maximilian Schell (1), Marianne Sägebrecht (1)
RUSSIAN (1): Lyudmila Saveleva (1)
OLD, DANISH, Swedish (1): Max von Sydow (1)
GREEK (1): Alexis Minotis (1)
EGYPTIAN (1): Omar Sharif (1)

# Crossover actors

We know that film actors mostly act within their own industry.

- Hollywood actors act with Hollywood actors 90% of the time.
- Chinese actors act with Chinese actors 99% of the time.

If a Hollywood producer wanted to cast a Chinese actor, whom could they pick?

Particularly if they wanted to reach out through their network of co-actors to find one?

In [ ]:
# Who are the big crossover actors from each cluster? Who act across multiple clusters?
def list_crossovers(*path, count=30, names=10, min_titles=30):
    path = _path(*path)
    def _crossovers(group):
        top_crossover = group[group['titles'] > min_titles].sort_values('incluster%').head(names)
        return ', '.join(f'{row.primaryName} ({row["incluster%"]:.0%})' for index, row in top_crossover.iterrows())
    return list_(_crossovers, *path, count=count)

list_crossovers()

0 American, British, Spanish, German (81,402 actors): Asia Argento (33%), Joaquim de Almeida (34%), Stellan Skarsgård (39%), Charlotte Rampling (40%), Udo Kier (42%), Gael García Bernal (42%), Jacqueline Bisset (43%), Ian Bannen (43%), Geneviève Bujold (46%), Michelle Yeoh (46%)
1 SPANISH, Mexican (29,716 actors): Mona Maris (35%), Rossy de Palma (40%), Geraldine Chaplin (40%), Omero Antonutti (44%), Fernando Rey (50%), Fernando Sancho (51%), Jordi Mollà (52%), Conchita Montenegro (54%), Ángela Molina (54%), George Rigaud (55%)
2 OLD, AMERICAN, Swedish, British (26,949 actors): Cynthia Rothrock (28%), Robert Z'Dar (29%), Ben Gazzara (30%), John Phillip Law (36%), David Carradine (38%), Lili Damita (39%), Charles Napier (39%), Karen Black (39%), Elke Sommer (40%), Henry Silva (40%)
3 FRENCH, Old, Israeli (25,713 actors): Jean Seberg (32%), Patrick Bauchau (34%), Mimsy Farmer (34%), Maria de Medeiros (37%), Erich von Stroheim (39%), Maurice Chevalier (39%), Romy Schneider (39%), Irène Jacob (40%), Howard Vernon (41%), Lou Castel (43%)
4 GERMAN, Old, Hungarian (21,692 actors): Lilli Palmer (28%), Maximilian Schell (29%), Horst Buchholz (35%), Senta Berger (39%), Daniel Brühl (41%), Carlos Thompson (42%), Walter Slezak (44%), Bruno Ganz (45%), Hardy Krüger (45%), Rolf Wanka (46%)
5 CHINESE (19,704 actors): Dragon Lee (63%), Joan Chen (64%), Jackie Chan (73%), Jeong-lee Hwang (75%), Jet Li (76%), Bo-lin Chen (79%), Bruce Le (79%), Yukari Ôshima (80%), Yasuaki Kurata (81%), Takeshi Kaneshiro (82%)
6 INDIAN, NORTH INDIAN, Hindi, Old, Bengali, Bhojpuri, Gujarati, Punjabi, Marathi (19,319 actors): Joy Badlani (41%), Ashish Vidyarthi (42%), Suman Ranganath (42%), Harish (42%), Priyanka Upendra (43%), Nagma (43%), Ragini (44%), Rami Reddy (45%), Ileana D'Cruz (46%), Ravi Kale (48%)
7 JAPANESE (17,651 actors): Hôsei Komatsu (51%), Sumiko Minami (59%), Morio Kazama (65%), Sôjin Kamiyama (66%), Taiji Tonoyama (69%), Jun Miho (72%), Joe Odagiri (75%), Hiroyuki Sanada (80%), Kaori Momoi (84%), Masaya Katô (85%)
8 RUSSIAN (17,225 actors): Ingeborga Dapkunaite (82%), Oleg Yankovskiy (83%), Regimantas Adomaitis (88%), Anatoliy Kuznetsov (91%), Donatas Banionis (92%), Boris Chirkov (92%), Fedor Bondarchuk (92%), Vsevolod Sanaev (93%), Konstantin Khabenskiy (93%), Aleksey Petrenko (93%)
9 ITALIAN (15,862 actors): Helmut Berger (26%), Lex Barker (31%), Lionel Stander (32%), Brett Halsey (35%), Monica Bellucci (36%), Klaus Kinski (39%), Marisa Mell (40%), Guy Madison (41%), Elsa Martinelli (41%), Sophia Loren (41%)
10 INDIAN, SOUTH INDIAN, Tamil, Old, Telugu, Malayalam (14,115 actors): Sayaji Shinde (51%), Jaya Prada (61%), Rakul Preet Singh (64%), Genelia D'Souza (64%), Madhavan (65%), Shriya Saran (71%), Kriti Kharbanda (72%), Shweta Menon (73%), Sridevi (73%), Murli Sharma (73%)
11 BRITISH, Indian, North Indian, Hindi, Old (10,391 actors): Dani Thompson (70%), Jon-Paul Gates (76%), Swaylee Loughnane (89%), Paul Dewdney (90%), Paul T.T. Easter (97%)
12 HOLLYWOOD PORNO (10,202 actors): Traci Lords (44%), Michelle Bauer (47%), Roberto Malone (76%), Yves Baillat (83%), Ginger Lynn (85%), Rocco Siffredi (85%), Serena (90%), Veronica Hart (91%), Ron Jeremy (93%), Jeannie Pepper (94%)
13 BRAZILIAN (9,633 actors): Luís Miguel Cintra (61%), Norma Bengell (71%), José Lewgoy (86%), José Wilker (86%), Joel Barcellos (94%), Grande Otelo (96%), Antônio Fagundes (97%), Maurício do Valle (97%), Othon Bastos (97%), Rodolfo Arena (97%)
14 OLD, DANISH, Swedish (8,736 actors): Max von Sydow (36%), Erland Josephson (45%), Liv Ullmann (52%), Nikolaj Coster-Waldau (53%), Ingrid Thulin (56%), Ulrich Thomsen (58%), Mads Mikkelsen (59%), Bibi Andersson (63%), Kim Sønderholm (66%), Alf Blütecher (75%)
15 TURKISH (8,337 actors): Cihangir Gaffari (50%), Tuncel Kurtiz (87%), Gülsen Bubikoglu (95%), Cüneyt Arkin (96%), Irfan Atasoy (96%), Perihan Savas (96%), Tarik Akan (97%), Halil Ergün (97%), Yilmaz Duru (97%), Fikret Hakan (97%)
16 JAPANESE PORNO (8,172 actors): Ren Ôsugi (55%), Asami (63%), Yukijirô Hotaru (66%), Daisuke Iijima (68%), Moeko Ezawa (68%), Hiroshi Chô (70%), Eimei Esumi (75%), Junko Miyashita (79%), Sanae Mitsuoka (80%), Kyôzô Fuyuki (82%)
17 FILIPINO (6,992 actors): Mercedes Cabral (91%), Tetchie Agbayani (91%), Kris Aquino (93%), Monsour Del Rosario (93%), Lotis Key (94%), Vic Diaz (94%), Pancho Magalona (94%), Ana Capri (94%), AiAi Delas Alas (95%), Zoren Legaspi (96%)
18 SOUTH KOREAN (6,578 actors): Su-cheon Bae (74%), Ki-joo Kim (79%), Jeong-hun Kim (85%), Lee Byung-hun (86%), Mi-hee Chang (91%), Lee Jung-jae (91%), Bong Choi (92%), Ha Jung-woo (94%), Chang-suk Kim (95%), Sung-Ki Ahn (96%)
28 HOLLYWOOD HORROR (6,116 actors): Shannon Brown (68%), Harold Dennis (82%), Toni Thompson (100%), Paul 'Maxx' Rinehart (100%), Justin J. Wheeler (100%)
19 INDONESIAN (5,701 actors): Jins Shamsuddin (88%), Christine Hakim (95%), Saiful Apek (96%), Verdi Solaiman (96%), Barry Prima (97%), Bront Palarae (97%), Erra Fazira (98%), Awie (98%), Zainal Abidin (98%), Jalaluddin Hassan (99%)
20 GREEK (4,830 actors): Irene Papas (27%), Spyros Fokas (68%), Giannis Voglis (92%), Nikos Kourkoulos (94%), Aliki Vougiouklaki (96%), Giorgos Foundas (97%), Andreas Barkoulis (97%), Ilias Logothetis (98%), Georgia Vasileiadou (98%), Maro Kodou (98%)
21 NIGERIAN (4,550 actors): Belinda Effah (99%), Chelsea Eze (99%), Jide Kosoko (99%), Desmond Elliot (99%), Segun Arinze (100%), Alexx Ekubo (100%), Blossom Chukwujekwu (100%), Mary Lazarus (100%), Mofe Duncan (100%), Uzor Arukwe (100%)
22 CZECH, OLD (4,401 actors): Anny Ondra (40%), Lída Baarová (59%), Hugo Haas (70%), Karel Roden (77%), Jana Brejchová (86%), Vlasta Burian (86%), Suzanne Marwille (86%), Radovan Lukavský (90%), Rudolf Hrusínský (90%), Josef Rovenský (91%)
23 IRANIAN (4,084 actors): Golshifteh Farahani (53%), Reza Fazeli (88%), Fourouzan (91%), Firuz (92%), Behrouz Vossoughi (94%), Pouri Baneai (94%), Naser Malek Motiee (94%), Shahab Hosseini (95%), Homayoun Ershadi (95%), Reza Beyk Imanverdi (95%)
24 EGYPTIAN (3,975 actors): Omar Sharif (46%), Gamil Ratib (90%), Bayoumi Fouad (96%), Farid Shawqi (97%), Sabah (97%), Faten Hamamah (97%), Naglaa Fathi (98%), Samira Ahmed (98%), Samia Gamal (98%), Yusuf Wahbi (98%)
32 HOLLYWOOD - TV SERIES (3,899 actors):
25 YUGOSLAVIAN (3,895 actors): Predrag 'Miki' Manojlovic (53%), Rade Serbedzija (57%), Neda Arneric (82%), Dragomir Bojanic-Gidra (87%), Rade Markovic (91%), Dragan Nikolic (93%), Lazar Ristovski (94%), Velimir 'Bata' Zivojinovic (94%), Ljuba Tadic (94%), Ljubisa Samardzic (95%)
26 PAKISTANI, INDIAN, NORTH INDIAN, ODIA, Old, Bangladeshi (3,851 actors): Rachana Banerjee (42%), Ghulam Mohammed (49%), Salma Agha (61%), Ferdous Ahmed (68%), M. Ismail (69%), Anu Choudhury (72%), Asha Posley (74%), Shabnam (74%), Meera (76%), Azim (81%)
27 POLISH (3,733 actors): Daniel Olbrychski (57%), Jan Nowicki (58%), Beata Tyszkiewicz (73%), Leon Niemczyk (74%), Krystyna Janda (75%), Andrzej Chyra (78%), Jerzy Stuhr (83%), Franciszek Pieczka (83%), Katarzyna Figura (85%), Zbigniew Zamachowski (88%)

In [ ]:
def acts_most_with(path1, path2, count=10, names=10, min_titles=30):
    '''Return actors in cluster path 1 who co-star most with cluster path 2'''
    path1, path2 = _path(*path1), _path(*path2)
    actors = subcluster()
    actors1 = subcluster(*path1)
    actors1 = actors1[actors1['titles'] >= min_titles]
    actors2 = subcluster(*path2)
    costars1 = pairings[pairings['row'].isin(actors1.index)]
    common_pairs = costars1[costars1['col'].isin(actors2.index)].sort_values('n', ascending=False)
    top_pairings = common_pairs.groupby('row')['n'].sum().sort_values(ascending=False).to_frame()
    top_pairings = top_pairings.merge(actors, how='left', left_index=True, right_index=True)
    for index, d in top_pairings.head(count).iterrows():
        print(f"{d['primaryName']}: {d['n']} ({d['n'] / d['pairings']:.0%}). ", end='')
        top_others = common_pairs[common_pairs['row'] == index].groupby('col')['n'].sum().sort_values(ascending=False)
        print(', '.join([f"{name['primaryName'][other_name]} ({other_count})"
          for other_name, other_count in top_others.head(names).iteritems()]))

In [ ]:
def acts_with(path1, path2):
    '''Returns how often cluster path 1 co-stars with cluster path 2'''
    path1, path2 = _path(*path1), _path(*path2)
    actors1 = subcluster(*path1)
    actors2 = subcluster(*path2)
    costars1 = pairings[pairings['row'].isin(actors1.index)]
    common_pairs = costars1['col'].isin(actors2.index).sum()
    return f'{common_pairs} / {len(costars1)} = {common_pairs / len(costars1):.1%}'

In [ ]:
# Which Chinese actor acts most with Hollywood actors?
acts_most_with(('Jackie Chan',), ('Brad Pitt',), min_titles=30, count=15)

Jackie Chan: 53 (20%). Chris Tucker (3), Owen Wilson (2), John Cusack (1), Mark Tandy (1), Michael Donovan (1), Lee Evans (1), Taraji P. Henson (1), Johnny Knoxville (1), Ken Leung (1), John Lone (1)
Joan Chen: 40 (30%). Rutger Hauer (3), John Lone (2), Anne Heche (1), Jack Thompson (1), Bruno Kirby (1), Michelle Krusiec (1), Art Malik (1), Elizabeth Morehead (1), Harold Pruett (1), John Stanton (1)
Jet Li: 32 (23%). Jason Statham (4), Sylvester Stallone (2), Michelle Yeoh (2), Anthony Anderson (1), Peter Doyle (1), Ric Young (1), Isaiah Washington (1), Jerry Trimble (1), John Lone (1), DMX (1)
Pei-Pei Cheng: 24 (12%). Don McKellar (1), Tzi Ma (1), Jolie Chan (1), Roger Yeh (1), Fenton Li (1), Andrew Leung (1), Yi Liu (1), Ludi Lin (1), Matt Whelan (1), Stephen Lin (1)
Chow Yun-Fat: 19 (6%). Michelle Yeoh (2), John Cusack (1), Paul Ben-Victor (1), Michael Rooker (1), Radha Mitchell (1), James Marsters (1), Jaime King (1), Tom Felton (1), Justin Chatwin (1), Seann William Scott (1)
Donnie Yen: 14 (8%). Michelle Yeoh (2), Keanu Reeves (1), Alec Baldwin (1), Laurence Fishburne (1), Vin Diesel (1), Scott Adkins (1), Frank Grillo (1), Felicity Jones (1), Diego Luna (1), Bill Skarsgård (1)
Simon Yam: 11 (2%). Jean-Claude Van Damme (1), Michael Biehn (1), Allen Payne (1), Orlando Bloom (1), Anzu Lawson (1), Maggie Q (1), Gino Salvano (1), Yasuhiro Shikamura (1), Philip Tan (1), Valerie Tian (1)
Gong Li: 9 (8%). John Cusack (1), Alan Arkin (1), Robert Downey Jr. (1), Jeremy Irons (1), David Morse (1), Jamie Foxx (1), Colin Farrell (1), Naomie Harris (1), Rhys Ifans (1)
Andy Lau: 9 (2%). Kevin Kline (1), Willem Dafoe (1), Matt Damon (1), Christopher Lambert (1), Peter Stormare (1), Max Brown (1), Maggie Q (1), Ron Yuan (1), Noah Centineo (1)
Richard Ng: 8 (4%). Michelle Yeoh (1), Kelly Hu (1), Cary-Hiroyuki Tagawa (1), Bryan Greenberg (1), Lynn Chen (1), Jamie Chung (1), Sarah Lian (1), Anna Akana (1)
Josie Ho: 8 (7%). Miguel Ferrer (1), Jonathan Rhys Meyers (1), Ralph Ineson (1), Thomas Kretschmann (1), Dominic Monaghan (1), Jeffrey Dean Morgan (1), Joseph Morgan (1), Sharlto Copley (1)
Kenneth Tsang: 8 (2%). Byron Mann (2), Mira Sorvino (1), Michelle Yeoh (1), Julia Nickson (1), Michael Rooker (1), Celinde Schoenmaker (1), Al Bowen (1)
Maggie Cheung: 7 (3%). Michelle Yeoh (5), Nick Nolte (1), James Franco (1)
Tseng Chang: 6 (3%). Chris Gauthier (1), John Lone (1), Sandra Oh (1), John Pyper-Ferguson (1), Ric Young (1), Valerie Tian (1)
Tony Ka Fai Leung: 6 (2%). Bai Ling (1), Jane March (1), David Morse (1), Pauline Lau (1), Maryann Urbano (1), Po-Lin Lau (1)

In [ ]:
list_costars('Michelle Yeoh', id=True, names=20, min_costar=2)

American, British, Spanish, German (59): Sigourney Weaver (nm0000244 3), Stephen Lang (nm0002332 3), Zoe Saldana (nm0757855 3), Henry Golding (nm6525901 2)
CHINESE (58): Chow Yun-Fat (nm0000334 2), Maggie Cheung (nm0001041 5), Jet Li (nm0001472 2), Kent Cheng (nm0155587 2), Hoi Mang (nm0388367 2), Damian Lau (nm0490521 2), Anita Mui (nm0611315 2), Donnie Yen (nm0947447 2), Ziyi Zhang (nm0955471 2)
JAPANESE (4):
FRENCH, Old, Israeli (2):
THAI (2):
OLD, AMERICAN, Swedish, British (1):
SOUTH KOREAN (1):

In [ ]:
# Which Hollywood actor acts most with Chinese actors?
acts_most_with(('Brad Pitt',), ('Jackie Chan',))

Michelle Yeoh: 58 (46%). Maggie Cheung (5), Anita Mui (2), Jet Li (2), Chow Yun-Fat (2), Damian Lau (2), Kent Cheng (2), Ziyi Zhang (2), Donnie Yen (2), Hoi Mang (2), Rongguang Yu (1)
Bai Ling: 43 (20%). Chow Yun-Fat (1), He Lei (1), Gregory Wong (1), Singh Hartihan Bitto (1), Weigang Fan (1), Yuanzhi Tang (1), Xiaohua Luo (1), Ping Guan (1), Yanjie Tong (1), Chunxiang Zhang (1)
Steven Seagal: 9 (8%). Joan Chen (1), Darren Shahlavi (1), Mike Tyson (1), Siu-Wong Fan (1), Janicke Askevold (1), Dong-xue Li (1), Li Ai (1), Zijian Wang (1), Bryan Byrne (1)
Tony Devon: 9 (2%). Lung Ti (3), Billy Zane (1), Manuel Poblete (1), Sarah-Anne Fawcett (1), Joe Black (1), Eric Wolfe (1), Colleen Chan (1)
Gary Daniels: 9 (6%). Darren Shahlavi (1), Keith Cooke (1), Sophia Crawford (1), Mark Houghton (1), Moon Lee (1), Carrie Ng (1), Kwong Leung Wong (1), Françoise Yip (1), Yukari Ôshima (1)
Jason Statham: 7 (6%). Jet Li (4), Bingbing Li (2), Shu Qi (1)
Scott Adkins: 7 (7%). Tiger Hu Chen (1), Yi Huang (1), Andy On (1), Donnie Yen (1), Vanness Wu (1), Danny Kwok-Kwan Chan (1), Lily Ji (1)
David Morse: 6 (6%). Gong Li (1), Chow Yun-Fat (1), Leon Dai (1), Tony Ka Fai Leung (1), Rene Liu (1), Vivian Wu (1)
Jean-Claude Van Damme: 6 (4%). Dennis Alexio (1), Nancy Brock (1), Dennis Chan (1), Charles Pitt (1), Daniele Romer (1), Simon Yam (1)
Dolph Lundgren: 6 (3%). Jet Li (1), Valerie Chow (1), Yi Huang (1), Nan Yu (1), William Shriver (1), Xue Zuren (1)

In [ ]:
# Which Hollywood actor acts most with Indian actors?
acts_most_with(('Brad Pitt',), ('Amitabh Bachchan',), count=20)

Julian Sands: 4 (3%). Ayesha Dharker (1), Rahul Khanna (1), Sarah Jane Dias (1), Jim Sarbh (1)
Harvey Keitel: 4 (1%). Gulshan Grover (1), Ayush Mahesh Khedekar (1), Neeraj Kabi (1), Palomi Ghosh (1)
Pierce Brosnan: 3 (2%). Shashi Kapoor (1), Saeed Jaffrey (1), Helena Michell (1)
Malcolm McDowell: 3 (1%). Rahul Dev (1), Perizaad Zorabian (1), Christopher Simpson (1)
Brendan Fraser: 3 (2%). Prem Chopra (1), Ronit Roy (1), Abhay Deol (1)
Stephen McHattie: 3 (3%). Anand Parmar (1), Ravi Khanvilkar (1), Rupak Ginn (1)
Christopher Atkins: 3 (2%). Gulshan Grover (1), Michelle Massey (1), Jaysha Patel (1)
David Arquette: 3 (2%). Priyanka Bose (2), Parambrata Chattopadhyay (1)
Corin Nemec: 3 (3%). Sarika Thakur (1), Parzaan Dastur (1), Naseeruddin Shah (1)
Jason Flemyng: 3 (2%). Shabana Azmi (1), Jamie Wilson (1), Sonu Sood (1)
Stellan Skarsgård: 3 (2%). Amjad Khan (1), Om Puri (1), Naseeruddin Shah (1)
Ron Perlman: 3 (1%). Jaaved Jaaferi (1), Hamad Al Omani (1), Yaqoob Abdullah (1)
Steven Berkoff: 2 (1%). Nandana Sen (1), Meredith Ostrom (1)
Gerard Butler: 2 (2%). Anupam Kher (1), Ali Fazal (1)
Vin Diesel: 2 (2%). Deepika Padukone (2)
Ben Kingsley: 2 (1%). Rohini Hattangadi (1), Aishwarya Rai Bachchan (1)
Asia Argento: 2 (2%). Anupam Kher (1), Denzil Smith (1)
Joe Estevez: 2 (0%). Adelaide Miller (1), San Banarje (1)
Danny Huston: 2 (2%). Emraan Hashmi (1), Geetanjali Thapa (1)
Miranda Richardson: 2 (2%). Nandita Das (1), Aishwarya Rai Bachchan (1)

In [ ]:
# Which Indian actor acts most with Hollywood?
acts_most_with(('Amitabh Bachchan',), ('Brad Pitt',), count=20)

Om Puri: 31 (6%). Linda Bassett (2), Tim Robbins (1), Gina McKee (1), Aqib Khan (1), Luke Pasqualino (1), Krystal Vee (1), Manish Dayal (1), Lucy Pinder (1), Albert Laveau (1), Monique Gabriela Curnen (1)
Gulshan Grover: 22 (3%). Harvey Keitel (1), Sean Young (1), Yuval David (1), Cullen Moss (1), Robert Merrill (1), Lorna Raver (1), Ed Quinn (1), Michael O'Hagan (1), Nick Moran (1), Alicia Minshew (1)
Saeed Jaffrey: 21 (9%). Roshan Seth (2), Pierce Brosnan (1), Sean Connery (1), Carrie Preston (1), Sophie Okonedo (1), Rik Mayall (1), Laura Kirk (1), Sakina Jaffrey (1), Galit Hershkovitz (1), Richard Graham (1)
Anupam Kher: 20 (3%). Michael Madsen (1), Asia Argento (1), Armie Hammer (1), Nazanin Boniadi (1), Austin Basis (1), Alison Brie (1), Sara Foster (1), Ewen MacIntosh (1), Luan Bexheti (1), Dee Wallace (1)
Priyanka Chopra Jonas: 17 (11%). Claire Danes (1), Zac Efron (1), Lyon Daniels (1), Liam Hemsworth (1), Adam Devine (1), Rebel Wilson (1), Sam Heughan (1), Jim Parsons (1), Alexandra Daddario (1), Pedro Pascal (1)
Irrfan Khan: 16 (7%). Tom Hanks (1), Dan Futterman (1), Angelina Jolie (1), Ben Foster (1), Jacinda Barrett (1), David Denman (1), Jeff Doucette (1), Rhys Ifans (1), Felicity Jones (1), Kelly Macdonald (1)
Victor Banerjee: 14 (5%). Kiera Chaplin (2), Amanda Donohoe (1), Judy Davis (1), James Fox (1), Warren Mitchell (1), Denis Quilley (1), Gemma Atkinson (1), George Stumpf (1), Sandey Lock (1), Samrat Chakrabarti (1)
Shabana Azmi: 12 (3%). Hugh Grant (1), John Hurt (1), Patrick Swayze (1), Jason Flemyng (1), Pauline Collins (1), Rosario Dawson (1), Jennifer Esposito (1), Melissa Leo (1), Ajay Naidu (1), Amanda Root (1)
Kabir Bedi: 12 (5%). Michael Caine (1), Max Beesley (1), Sanjeev Bhaskar (1), Kriss Dosanjh (1), Robert Maillet (1), Harry Eden (1), Anna Brewster (1), Sammy Durrani (1), Valmike Rampersad (1), Bill Oberst Jr. (1)
Adil Hussain: 10 (7%). Sarita Choudhury (2), Samrat Chakrabarti (2), Suraj Sharma (2), Judi Bowker (1), Sophia Ali (1), Reem Kadem (1), Madalina Bellariu Ion (1)
Sharmila Tagore: 9 (3%). Denzel Washington (1), Jane Fonda (1), Debra Winger (1), Sarita Choudhury (1), Adjoa Andoh (1), Kerry Fox (1), Thandiwe Newton (1), Roshan Seth (1), Tilda Swinton (1)
Aishwarya Rai Bachchan: 9 (7%). Colin Firth (1), Ben Kingsley (1), Dylan McDermott (1), Miranda Richardson (1), Naveen Andrews (1), Adewale Akinnuoye-Agbaje (1), Nitin Ganatra (1), Martin Henderson (1), Peter Mullan (1)
Neeru Bajwa: 8 (7%). Vik Sahay (2), Betty Gabriel (2), Megan Suri (2), Mohana Krishnan (1), Siddhartha Minhas (1)
Naseeruddin Shah: 8 (2%). Greta Scacchi (1), Stellan Skarsgård (1), Brian Cox (1), Naveen Andrews (1), Corin Nemec (1), John Altman (1), Madhur Jaffrey (1), Roshan Seth (1)
Tannishtha Chatterjee: 6 (6%). Samrat Chakrabarti (2), John Hannah (1), Sarita Choudhury (1), Judi Bowker (1), Tom Riley (1)
Dalip Tahil: 6 (3%). Sarita Choudhury (1), Preeya Kalidas (1), Madeleine Potter (1), Sheetal Sheth (1), Philip Tabor (1), Raza Jaffrey (1)
Radhika Apte: 5 (4%). Linus Roache (1), Stana Katic (1), Kathryn Beck (1), Sarah Megan Thomas (1), Zoë Castle (1)
Tabu: 5 (2%). Jacinda Barrett (1), Robert Cavanah (1), Kal Penn (1), Vinay Virmani (1), Suraj Sharma (1)
Rahul Bose: 4 (4%). Jennifer Ehle (1), Naveen Andrews (1), Miles Anderson (1), Linus Roache (1)
Nandita Das: 4 (3%). Jennifer Ehle (1), Miranda Richardson (1), Naveen Andrews (1), Linus Roache (1)

In [ ]:
# Which Chinese actor acts most with Bollywood actors?
acts_most_with(('Jackie Chan',), ('Amitabh Bachchan',), count=100)

Chia-Hui Liu: 3 (2%). Mithun Chakraborty (1), Akshay Kumar (1), Deepika Padukone (1)
Jackie Chan: 1 (0%). Disha Patani (1)
Donnie Yen: 1 (1%). Deepika Padukone (1)
Lu Huang: 1 (1%). Seema Biswas (1)

In [ ]:
# Which Bollywood actor acts most with Chinese actors?
acts_most_with(('Amitabh Bachchan',), ('Jackie Chan',))

Deepika Padukone: 5 (5%). Chia-Hui Liu (1), Donnie Yen (1), Jay Chou (1), Zoe Zhang (1), Kris Wu (1)
Seema Biswas: 3 (1%). Lu Huang (1), Sivakumar Palakrishnan (1), Udaya Soundari (1)
Gulshan Grover: 2 (0%). Jose Manuel (1), Michael Brian (1)
Mithun Chakraborty: 1 (0%). Chia-Hui Liu (1)
W.M. Khan: 1 (1%). Cho-cho Lam (1)
Akshay Kumar: 1 (0%). Chia-Hui Liu (1)
Govardhan Asrani: 1 (0%). Kheng Hua Tan (1)
Radhika Apte: 1 (1%). Winston Chao (1)

In [ ]:
# Which South Indian actor acts most with Hollywood actors?
acts_most_with(('Rajinikanth',), ('Brad Pitt',))

Dhanush: 4 (2%). James Cosmo (2), Erin Moriarty (1), Barkhad Abdi (1)
Rajinikanth: 3 (0%). Charlie Brill (1), Anna Nicholas (1), Brett Stimely (1)
Sarath Babu: 3 (0%). Jamie Elman (1), Danielle Hoover (1), Maurizio Rasti (1)
Vineeth: 2 (1%). Steven Berkoff (1), Heather Prete (1)
Sneha: 2 (1%). John Shea (1), Lucas Near-Verbrugghe (1)
H.G. Dattatreya: 2 (1%). Sai Lang (1), Yeshwant (1)
Kovai Sarala: 2 (0%). Nikesh Patel (1), Deborah Domínguez (1)
Mahesh Babu: 2 (1%). Ilez Badurgov (1), Duy Beck (1)
M.S. Bhaskar: 1 (0%). Deborah Domínguez (1)
Anushka Shetty: 1 (1%). Michael Madsen (1)

In [ ]:
# Which South Indian actor acts most with North Indian actors? (19/30, 30/50 = 60% are female. 10% chance of happening by chance, i.e. 90% likely that there's a preference for South Indian women)
acts_most_with(('Rajinikanth',), ('Amitabh Bachchan',), count=50)

Jaya Prada: 295 (39%). Jeetendra (23), Dharmendra (11), Kader Khan (9), Shakti Kapoor (9), Amitabh Bachchan (7), Shatrughan Sinha (7), Rajesh Khanna (6), Sanjay Dutt (6), Pran Sikand (5), Amrish Puri (5)
Sridevi: 191 (26%). Jeetendra (14), Anil Kapoor (10), Anupam Kher (8), Dharmendra (6), Rishi Kapoor (6), Kader Khan (6), Sunny Deol (6), Gulshan Grover (5), Vinod Khanna (5), Rajesh Khanna (5)
Sayaji Shinde: 177 (48%). Makarand Anaspure (6), Ashish Vidyarthi (4), Sonali Kulkarni (3), Nagesh Bhonsle (3), Deepak Shirke (3), Yashpal Sharma (2), Anant Jog (2), Usha Naik (2), Mangesh Desai (2), Milind Shinde (2)
Rajinikanth: 115 (19%). Kader Khan (4), Rakesh Roshan (4), Rati Agnihotri (4), Anita Raj (3), Vinod Khanna (3), Anupam Kher (3), Padmini Kolhapure (2), Govinda (2), Danny Denzongpa (2), Kimi Katkar (2)
Brahmanandam: 112 (4%). Harish (6), Divya Bharti (5), Nagma (4), Ileana D'Cruz (4), Monica Bedi (3), Atul Kulkarni (3), Rohini Hattangadi (3), Shilpa Shetty Kundra (2), Sayali Bhagat (2), Rami Reddy (2)
Padmini: 101 (14%). Ragini (14), Pran Sikand (6), Ashok Kumar (4), Vyjayanthimala (4), Agha (3), Helen (3), Balraj Sahni (2), Mehmood (2), Raj Kapoor (2), Raaj Kumar (2)
Madhavi: 100 (21%). Amitabh Bachchan (4), Dharmendra (4), Swapna (3), Mithun Chakraborty (3), Raj Babbar (3), Rati Agnihotri (3), Shakti Kapoor (2), Jeetendra (2), Govinda (2), Bob Christo (2)
Prakash Raj: 89 (11%). Ileana D'Cruz (3), Sanjay Dutt (3), Shilpa Shetty Kundra (3), Sobhita Dhulipala (2), Urvashi Rautela (2), Sonali Bendre (2), Tom Alter (2), Ashish Vidyarthi (2), Priyanka Chopra Jonas (2), Priyanka Upendra (2)
Kamal Haasan: 87 (10%). Rati Agnihotri (5), Manisha Koirala (4), Hema Malini (3), Poonam Dhillon (3), Amitabh Bachchan (2), Zarina Wahab (2), Raaj Kumar (2), Amrish Puri (2), Om Puri (2), Reena Roy (2)
Anjali Devi: 80 (9%). Vyjayanthimala (5), Nirupa Roy (4), B.M. Vyas (3), Helen (3), Lalita Pawar (3), Niranjan Sharma (3), Mahipal (3), Rati Agnihotri (2), Bharat Bhushan (2), Nisar Ahmad Ansari (2)
Nagarjuna Akkineni: 71 (21%). Salim Ghouse (4), Girish Karnad (3), Tabu (3), Sonali Bendre (3), Nagma (3), Paresh Rawal (2), Danny Denzongpa (2), Ayesha Jhulka (2), Juhi Chawla (2), Sonu Sood (2)
Jamuna: 69 (13%). Gulshan Grover (3), Pran Sikand (2), Dinesh Hingoo (2), Meena Kumari (2), Mehmood (2), Nutan Samarth (2), Nasir Hussain (2), Lalita Pawar (2), Chhayadevi (2), Kishore Kumar (2)
Pandari Bai: 63 (5%). Balraj Sahni (3), Manoj Kumar (2), Meena Kumari (2), Nirupa Roy (2), Radha Saluja (2), Shyama (2), Jagdeep (2), Navin Nischol (1), Lalita Pawar (1), Pramila (1)
Bhanupriya: 62 (12%). Jeetendra (8), Arun Govil (3), Shakti Kapoor (3), Mithun Chakraborty (2), Chunky Pandey (2), Amrita Singh (2), Govinda (2), Prem Chopra (2), Madhoo (2), Juhi Chawla (2)
Saroja Devi B.: 59 (9%). Helen (2), Shammi Kapoor (2), Jaymala Adarsh (2), Agha (2), Lalita Pawar (2), Mehmood (2), Raaj Kumar (2), K.N. Singh (2), Vyjayanthimala (2), Ulhas (1)
Mammootty: 58 (5%). Swapna (3), Nagma (2), Madhoo (2), Kiran Kumar (2), Juhi Chawla (1), Rajeev (1), Moon Moon Sen (1), Namrata Shirodkar (1), Shilpa Shirodkar (1), Dara Singh Randhawa (1)
Nassar: 58 (7%). Deepika Chikhalia (2), Yami Gautam (2), Salim Ghouse (2), Nawazuddin Siddiqui (2), Manisha Koirala (2), Isha Koppikar (2), Amitabh Bachchan (1), Shahana Goswami (1), Adil Hussain (1), Sonu Sood (1)
Mohanlal: 57 (5%). Ajay Devgn (3), Amitabh Bachchan (2), Zarina Wahab (2), Gavin Packard (2), Atul Kulkarni (2), Anupam Kher (2), Sharat Saxena (2), Bob Christo (2), Mahesh Anand (2), Arunoday Singh (1)
Madhavan: 56 (34%). Jimmy Shergill (3), Sanjay Suri (2), Kangana Ranaut (2), Deepak Dobriyal (2), Priyanka Kothari (1), Dalip Tahil (1), Darshan Kumaar (1), Dia Mirza (1), Harsh Chhaya (1), Sameera Reddy (1)
Chiranjeevi: 54 (9%). Paresh Rawal (6), Nagma (4), Sonali Bendre (3), Rati Agnihotri (3), Swapna (2), Tabu (2), Juhi Chawla (2), Meenakshi Sheshadri (2), Puneet Issar (2), Sharat Saxena (1)
Rambha: 50 (21%). Ravi Kishan (3), Mithun Chakraborty (3), Madhoo (2), Salman Khan (2), Ashwini Bhave (2), Paresh Rawal (2), Kader Khan (2), Kanchan (2), Raveena Tandon (1), Sushmita Sen (1)
Kushboo: 49 (11%). Jainendra (2), Rami Reddy (2), Shabana Azmi (1), Padmini Kolhapure (1), Madan Puri (1), Nadira (1), Yunus Parvez (1), Smita Patil (1), Jyoti Fernandes (1), Archana Puran Singh (1)
Lakshmi: 47 (5%). Vikram Makandar (3), Geeta Khanna (2), Girish Karnad (2), Purnima (1), Amrish Puri (1), Suman Ranganath (1), Waheeda Rehman (1), Parikshit Sahni (1), Shilpa Shetty Kundra (1), Vidya Sinha (1)
Ramya Krishnan: 46 (8%). Sharat Saxena (5), Isha Koppikar (3), Raveena Tandon (3), Amitabh Bachchan (2), Govinda (2), Madhoo (2), Rahul Dev (2), Om Puri (2), Monica Bedi (1), Vineeta (1)
Shweta Menon: 43 (27%). Rami Reddy (2), Meghna Naidu (2), Karisma Kapoor (1), Adil Hussain (1), Suman Ranganath (1), Nakul Vaid (1), Anupama Verma (1), Aman Verma (1), Aushim Khetarpal (1), Meghna Kothari (1)
Anant Nag: 42 (7%). Girish Karnad (4), Shabana Azmi (3), Smita Patil (3), Sonali Bendre (2), Priya Tendulkar (2), Naseeruddin Shah (2), Suman Ranganath (2), Amrish Puri (2), Amol Palekar (1), Urvashi Rautela (1)
Shriya Saran: 42 (29%). Vikramjeet Virk (2), Kay Kay Menon (2), Ajay Devgn (2), Mukesh Rishi (2), Jimmy Shergill (2), Tabu (2), Ali Fazal (1), Pankaj Tripathi (1), Govardhan Asrani (1), Dheerendra Dwivedi (1)
Simran: 42 (18%). Ayub Khan (2), Gulshan Grover (1), Ashish Vidyarthi (1), Aditya Pancholi (1), Chunky Pandey (1), Puru Rajkumar (1), Suman Ranganath (1), Chandrachur Singh (1), Raveena Tandon (1), Deepak Tijori (1)
Raghuvaran: 39 (10%). Rahul Dev (4), Girish Karnad (2), Manisha Koirala (2), Raj Zutshi (2), Jackie Shroff (2), Isha Koppikar (2), Sharat Saxena (2), Ashima Bhalla (2), Prasad Purandhare (1), Riya Sen (1)
Rakul Preet Singh: 39 (35%). Ajay Devgn (3), Sidharth Malhotra (3), John Abraham (2), Abhinay Raj Singh (2), Ayushmann Khurrana (1), Tara Sutaria (1), Rajkummar Rao (1), Sumeet Vyas (1), Himansh Kohli (1), Pooja Chopra (1)
Vishnuvardhan: 39 (6%). Juhi Chawla (2), Chandrashekhar Vaidya (2), Roopa Ganguly (2), Pankaj Dheer (2), Akshay Kumar (2), Sangeeta Bijlani (2), Sudha Chandran (1), Satyendra Kapoor (1), Farheen (1), C.S. Dubey (1)
Mohammad Ali: 39 (4%). Ileana D'Cruz (3), Joy Badlani (3), Rami Reddy (3), Rahul Dev (2), Tarun Arora (1), Tulip Joshi (1), Shraddha Nigam (1), Celina Jaitly (1), Nauheed Cyrusi (1), Twinkle Khanna (1)
Radhika Sarathkumar: 38 (6%). Amitabh Bachchan (1), Surabhi (1), Anita Raj (1), Ranjeet Bedi (1), M.B. Shetty (1), Shyama (1), Shatrughan Sinha (1), Swapna (1), Jayshree Talpade (1), Raj Kumar (1)
Tanikella Bharani: 38 (5%). Atul Kulkarni (3), Gulshan Grover (2), Rohini Hattangadi (2), Monica Bedi (2), Mahesh Anand (2), Milind Gunaji (1), Priyanka Chopra Jonas (1), Supurna Malakar (1), Joy Badlani (1), Taapsee Pannu (1)
Genelia D'Souza: 38 (36%). Riteish Deshmukh (4), Tom Alter (2), Om Puri (2), Shakti Kapoor (1), Abhay Deol (1), John Abraham (1), Shahid Kapoor (1), Sonu Sood (1), Imran Khan (1), Manjari Fadnnis (1)
Vijayshanti: 38 (10%). Rami Reddy (3), Amrish Puri (3), Girish Karnad (2), Ashish Vidyarthi (2), Shabana Azmi (1), Aditya Pancholi (1), Govardhan Asrani (1), Devraj (1), Damini (1), Master Amit (1)
Amala Akkineni: 37 (18%). Vikas Anand (2), Shatrughan Sinha (2), Saeed Jaffrey (1), Kalpana Iyer (1), Paresh Rawal (1), Sania (1), Sharat Saxena (1), Farooq Shaikh (1), Raj Zutshi (1), Master Antriksh (1)
Prabhu Deva: 36 (14%). Sonu Sood (3), Shraddha Kapoor (2), Varun Dhawan (2), Nagma (2), Lauren Gottlieb (2), Kajol (1), Naveen Bawa (1), Adah Sharma (1), Vishal Lalwani (1), Krrishna (1)
Nandamuri Balakrishna: 36 (12%). Sonal Chauhan (3), Amrish Puri (3), Vikramjeet Virk (2), Meenakshi Sheshadri (1), Arun Govil (1), Pradeep Kharab (1), Radhika Apte (1), Tanushree Dutta (1), Vidya Balan (1), Katrina Kaif (1)
Disco Shanti: 35 (20%). Poonam Dasgupta (5), Anil Dhawan (3), Harish (3), Kanwarjeet Paintal (3), Rita Bhaduri (3), Rajendra Kumar Tuli (1), Shambhu Bhattacharya (1), Salina (1), Shankar Sugandhi (1), Babloo (1)
Silk Smitha: 34 (8%). Kapil Karzan (2), Bob Christo (2), Jamuna (2), Salim Ghouse (2), Gulshan Grover (1), Sharat Saxena (1), Kamna (1), Shobhna (1), Baby Vijaya (1), Arun Mathur (1)
Venkatesh Daggubati: 33 (13%). Nagma (3), Tom Alter (2), Divya Bharti (2), Gulshan Grover (1), Suresh Oberoi (1), Taapsee Pannu (1), Mumtaz Sorcar (1), Farha Naaz (1), Govardhan Asrani (1), Satyendra Kapoor (1)
Tamannaah Bhatia: 33 (17%). Sonu Sood (3), Tarun Arora (2), Kurush Deboo (1), Ajay Devgn (1), Digangana Suryavanshi (1), Junior (1), Vidyut Jammwal (1), Sada Yadav (1), Raj Arjun (1), Ileana D'Cruz (1)
Bhoomika Chawla: 33 (24%). Amitabh Bachchan (2), Salman Khan (2), Sameera Reddy (2), Savita Prabhune (1), Manoj Tiwari (1), Singh Kunal (1), Madhumani (1), Aryeman Ramsay (1), Celina Jaitly (1), Chandramogli Madem (1)
Revathi: 33 (9%). Om Puri (3), Amitabh Bachchan (2), Priyanka Chopra Jonas (1), Disha Patani (1), Shrikant Verma (1), Hussain Dalal (1), Mrinmayee Godbole (1), Sayani Gupta (1), Satyajeet Dubey (1), Joy Badlani (1)
Bharathi: 32 (8%). Mehmood (3), Madhuri Dixit (1), Rajshree (1), Asha Kumari (1), Bharati (1), Mai Bhide (1), C.H. Atma (1), Moolchand (1), Bharti (1), Lala Yaqoob (1)
Sneha: 31 (15%). Mithun Chakraborty (3), Jackie Shroff (2), Anjan Srivastav (1), Aatish Devgan (1), Mashhoor Amrohi (1), Prem Bedi (1), Shagufta Ali (1), Mahua Chakraborty (1), Ranjit Raj (1), Firoz Irani (1)
Nandita Bose: 30 (20%). Uttam Kumar (3), Radhamohan Bhattacharya (2), Preeti Majumdar (1), Desh Maheshwari (1), Sunilesh Bhattacharya (1), Shishir Batabyal (1), Jayshree Talpade (1), C.S. Dubey (1), Deb Mukherjee (1), Tun Tun (1)
Kriti Kharbanda: 30 (28%). Bobby Deol (2), Pulkit Samrat (2), Dharmendra (1), Alka Amin (1), Gaurav Arora (1), Jim Sarbh (1), Vikrant Massey (1), Kriti Sanon (1), Suzanna Mukherjee (1), Kartik Aaryan (1)
Murli Sharma: 30 (27%). Chitrashi Rawat (2), Makrand Deshpande (1), Nawazuddin Siddiqui (1), Sobhita Dhulipala (1), Simran Sehmi (1), Kunal Sharma (1), Neha Joshi (1), Ekavali Khanna (1), Shreya Narayan (1), Anisa Butt (1)

In [ ]:
# Which North Indian actor acts most with South Indian actors? (25/50 are female)
acts_most_with(('Amitabh Bachchan',), ('Rajinikanth',), count=50)

Ashish Vidyarthi: 200 (54%). Rangayana Raghu (4), Priyamani (4), Sayaji Shinde (4), Nikita Thukral (3), Bhavana (3), Avinash (3), Vivek (3), Sai Kumar (3), Ajay (3), Kota Srinivasa Rao (2)
Rami Reddy: 122 (55%). Sai Kumar (5), Mohammad Ali (3), Devayani (3), Narra Venkateswara Rao (3), Roja (3), Thriller Manju (3), Vani Viswanath (3), Vijayshanti (3), Gundu Hanumantha Rao (3), Shweta Menon (2)
Nagma: 121 (54%). Chiranjeevi (4), Suman (4), Brahmanandam (4), Sarath Kumar (3), Karthik (3), Venkatesh Daggubati (3), Nagarjuna Akkineni (3), Prabhu Deva (2), Goundamani (2), Manivannan (2)
Girish Karnad: 105 (37%). Anant Nag (4), Nagarjuna Akkineni (3), Sudeep (2), Lakshmi (2), H.G. Dattatreya (2), Vijayshanti (2), Raghuvaran (2), Gautami (2), Radhika Kumaraswamy (2), G.V. Swarnamma (2)
Atul Kulkarni: 94 (36%). Tanikella Bharani (3), Brahmanandam (3), Prathap Pothen (2), Bianca Desai (2), Aryan Rajesh (2), Mohanlal (2), Venu Madhav (2), Sai Pallavi (2), Fahadh Faasil (2), Bhagath Baby Manuel (1)
Rahul Dev: 92 (36%). Raghuvaran (4), Abbas (2), Ramya Krishnan (2), Mahesh Babu (2), Ajay (2), Nagendra Babu (2), Sadhu Kokila (2), Mohammad Ali (2), Nabha Natesh (1), Gayathri Raghuram (1)
Joy Badlani: 84 (58%). Mohammad Ali (3), Gopichand (2), Ramesh Bhat (2), Chalapathi Rao (2), Rajan P. Dev (2), Jaffer Idukki (1), Richa Langella (1), Madalsa Sharma (1), Saira Bhanu (1), Avika Gor (1)
Swapna: 81 (49%). Madhavi (3), Mammootty (3), Anuradha (3), Prem Nazir (3), M.G. Soman (3), Mohan (2), Nalini (2), Sukumaran (2), Rajkumar (2), Srividya (2)
Ragini: 81 (46%). Padmini (14), Shivaji Ganesan (8), K.A. Thangavelu (3), M.N. Nambiar (3), M.G. Ramachandran (3), M.N. Rajam (2), Rajasulochana (2), Usman (1), Lalitha (1), Thankachan (1)
Rati Agnihotri: 78 (18%). Kamal Haasan (5), Rajinikanth (4), N.T. Rama Rao (4), Madhavi (3), Chiranjeevi (3), Jaya Prada (3), Unni Mary (3), Sobhan Babu (2), Anjali Devi (2), Kaikala Satyanarayana (2)
Suman Ranganath: 76 (58%). H.G. Dattatreya (3), Anant Nag (2), Achyuth Kumar (2), Reema Sen (2), Veena Sundar (2), Jai Jagadish (2), Jaggesh (2), Brinda Parekh (1), Sathish Neenasam (1), Sruthi Hariharan (1)
Harish: 76 (58%). Brahmanandam (6), Akkineni Nageshwara Rao (4), Disco Shanti (3), Kota Srinivasa Rao (3), Jayasudha (3), Uma Maheshwari (3), Annapoorna (3), Sridevi (2), Mallikharjunarao (2), Soundarya (2)
Manorama: 71 (20%). S.A. Ashokan (3), Nagesh (3), Gemini Ganesan (2), Padmini (2), K.R. Vijaya (2), V.K. Ramasamy (2), R.S. Manohar (2), Shobana (2), Radha Ravi (2), Aachi Manorama (2)
Zarina Wahab: 71 (26%). Nedumudi Venu (4), Jagathi Sreekumar (3), Krishna (2), Mohanlal (2), Thikkurisi Sukumaran Nair (2), Kamal Haasan (2), Ratheesh (2), Umashree (1), Makeup Subbanna (1), Sharapanjara Iyengar (1)
Madhoo: 68 (38%). Rambha (2), Ramya Krishnan (2), Arjun Sarja (2), Ashika Ranganath (2), Bhanupriya (2), Mammootty (2), Sarath Kumar (2), Mukesh (2), K.P.A.C. Lalitha (2), Nazriya Nazim (1)
Vyjayanthimala: 68 (29%). Anjali Devi (5), Gemini Ganesan (5), Padmini (4), M.N. Nambiar (4), Shivaji Ganesan (3), Ramachandran T.R. (2), Kamala Kumari (2), Varalakshmi S. (2), S.V. Ranga Rao (2), Saroja Devi B. (2)
Ravi Kale: 68 (52%). Avinash (3), Jeeva (2), Irfan (1), Kari Subbu (1), Achyuth Kumar (1), Chiranjeevi Sarja (1), Nishi Kothari (1), Suchendra Prasad (1), Ayesha Habib (1), Tanvi Vyas (1)
Taapsee Pannu: 65 (49%). Gopichand (2), Kajal Aggarwal (2), Aadhi (2), Ravi Teja (2), Rajendra Prasad (2), Ritika Singh (1), Kishore Kumar G. (1), Ravi Prakash (1), Mammootty (1), Priya Anand (1)
Sonu Sood: 65 (45%). Prabhu Deva (3), Tamannaah Bhatia (3), RJ Balaji (3), Amy Jackson (2), Nagarjuna Akkineni (2), Anushka Shetty (2), Prakash Raj (2), N.T. Rama Rao Jr. (2), Mahesh Babu (2), Kota Srinivasa Rao (1)
Jeetendra: 62 (8%). Jaya Prada (23), Sridevi (14), Bhanupriya (8), Madhavi (2), Asokan (1), Kushboo (1), Vaishali (1), Srividya (1), Rajinikanth (1), Radha (1)
Jackie Shroff: 59 (10%). Sridevi (3), Jaya Prada (3), Sneha (2), Raghuvaran (2), Rajinikanth (2), Sanjjanaa Galrani (1), Devi Ajith (1), Jayam Ravi (1), Arya (1), Rajeev Kanakala (1)
Priyanka Upendra: 58 (53%). K.S. Sridhar (3), Upendra (3), Lasya Nagaraj (2), Pruthvee Ambaar (2), Prakash Raj (2), Alphonsa (1), Pavan Acharya (1), Mathi (1), Vikram (1), Priyamani (1)
Sudha Chandran: 57 (24%). Radha Ravi (2), Mysore Lokesh (2), Sathyaraj (2), Prabhu (2), Potti Prasad (1), Jayam Ravi (1), Guru (1), Chinnijayanth (1), Anantharam Maccheri (1), Santha Devi (1)
Amitabh Bachchan: 52 (8%). Jaya Prada (7), Madhavi (4), Sridevi (3), Prabhas (2), Rajinikanth (2), Bhoomika Chawla (2), Ramya Krishnan (2), Mohanlal (2), Kamal Haasan (2), Revathi (2)
Shakti Kapoor: 51 (3%). Jaya Prada (9), Sridevi (5), Bhanupriya (3), Madhu Sharma (2), Jamuna (2), Madhavi (2), Simran (1), Sumalatha (1), Suresh (1), Gayatri (1)
Mithun Chakraborty: 50 (4%). Sridevi (3), Jaya Prada (3), Sneha (3), Rambha (3), Madhavi (3), Gayatri (2), Vani Viswanath (2), Sumalatha (2), Gautami (2), Bhanupriya (2)
Paresh Rawal: 49 (11%). Chiranjeevi (6), Sridevi (5), J.D. Chakravarthi (3), Nagarjuna Akkineni (2), Soundarya (2), Rambha (2), Jayasudha (2), Asin Thottumkal (1), Trisha Krishnan (1), Sona Nair (1)
Ileana D'Cruz: 49 (53%). Ravi Teja (4), Brahmanandam (4), Mohammad Ali (3), Prakash Raj (3), Charmme Kaur (2), Jayaprakash Reddy (2), Siddharth (2), N.T. Rama Rao Jr. (2), Munna (1), Raghu Babu (1)
Tabu: 47 (20%). Nagarjuna Akkineni (3), Chiranjeevi (2), Jyotika (2), Heera Rajgopal (2), Shriya Saran (2), Kaikala Satyanarayana (1), Prabhu (1), Prakash Raj (1), Ravi Teja (1), Venkatesh Daggubati (1)
Mukesh Rishi: 46 (29%). Brahmanandam (2), Pawan Kalyan (2), Trisha Krishnan (2), Shriya Saran (2), Nagarjuna Akkineni (1), Priya Anand (1), Ram Pothineni (1), Ajay (1), Nandamuri Kalyan Ram (1), Puneeth Rajkumar (1)
Chhayadevi: 45 (8%). N.T. Rama Rao (3), Jamuna (2), Vedavathi (2), Raja Kumari T.N. (2), Rama Sarma (2), Rajababu (2), Chittor V. Nagaiah (2), B. Jayamma (2), Mudigonda Lingamurthy (2), Devika (2)
Amrish Puri: 43 (8%). Sridevi (5), Jaya Prada (5), Nandamuri Balakrishna (3), Vijayshanti (3), Nagarjuna Akkineni (2), Kamal Haasan (2), Anant Nag (2), Radhika Sarathkumar (1), Nataneya Singh (1), Mohini (1)
Anupam Kher: 42 (5%). Sridevi (8), Rajinikanth (3), Mohanlal (2), Sayaji Shinde (1), Venkatesh Daggubati (1), Vijayshanti (1), Kushboo (1), Aishwarya (1), Reema Sen (1), Raogopalrao (1)
Aruna Irani: 42 (3%). Jaya Prada (5), Sridevi (2), V. Ravichandran (1), Y.G. Mahendran (1), Sneha (1), Kushboo (1), Krishna (1), Jaishankar (1), Babu Antony (1), Trisha Krishnan (1)
Sonali Bendre: 41 (29%). Aarthi Agarwal (3), Nagarjuna Akkineni (3), Chiranjeevi (3), Brahmanandam (2), Prakash Raj (2), Anant Nag (2), Meka Srikanth (2), Shivarajkumar (1), Snigdha Akolkar (1), Goundamani (1)
Makrand Deshpande: 41 (25%). Pooja Gandhi (5), P. Ravi Shankar (4), Sihi Kahi Chandru (3), Avinash (3), Sanjjanaa Galrani (2), Saloni Aswani (2), Murli Sharma (1), Sam Jones (1), S. Sreesanth (1), Raghu Mukherjee (1)
Manisha Koirala: 41 (17%). Kamal Haasan (4), Arjun Sarja (3), Arvind Swamy (2), Nassar (2), Raghuvaran (2), Nagarjuna Akkineni (1), Nataneya Singh (1), Dhanush (1), Pasupathy (1), Kitty (1)
Chandrashekhar Vaidya: 41 (11%). Arathi (4), Vishnuvardhan (2), Ambarish (2), Srinath (2), Comedian Guggu (1), B. Thyagarajan (1), Bhavya (1), K.S. Ashwath (1), Shivaram (1), Udaya Kumar (1)
Gulshan Grover: 40 (5%). Sridevi (5), Jamuna (3), Jaya Prada (3), Tanikella Bharani (2), Amit Bhargav (1), Samrat Chhiba (1), Giriraj Kabra (1), Alok Basnait (1), Venkatesh Daggubati (1), Priya Ahuja (1)
Helen: 40 (3%). Padmini (3), Anjali Devi (3), N.T. Rama Rao (2), Jayanthi (2), Prabhakar Reddy (2), Jyothi Lakshmi (2), M.G. Ramachandran (2), Saroja Devi B. (2), M.N. Rajam (1), Sunita (1)
Shilpa Shetty Kundra: 39 (29%). Prakash Raj (3), Brahmanandam (2), V. Ravichandran (2), Doddanna (2), Mohan Babu (2), J.V. Somayajulu (1), Upendra (1), Vinaya Prasad (1), Bharath (1), Radhika Kumaraswamy (1)
Poonam Dasgupta: 39 (13%). Disco Shanti (5), Abhilasha (2), Innocent (2), Doddanna (1), Prem Navaz (1), Uday Prakash (1), Lalithasree (1), Pattam Sadan (1), Prameela (1), Ambarish (1)
Om Puri: 38 (7%). Revathi (3), Abbas (2), Kamal Haasan (2), Jayaram (2), Ramya Krishnan (2), Genelia D'Souza (2), Aanchal Munjal (1), Nyra Banerjee (1), Disha Pandey (1), Shaji Chaudhary (1)
Ashutosh Rana: 38 (20%). Abbas (2), Saloni Aswani (1), Meera Chopra (1), Arya (1), Aditya (1), Nandamuri Kalyan Ram (1), Kishore Kumar G. (1), Sidhu Jonnalagadda (1), Sanchita Shetty (1), Nandita Raj (1)
Puneet Issar: 37 (12%). Chiranjeevi (2), S.P. Balasubrahmanyam (1), Aakash (1), Vishnuvardhan (1), Vijayakumar (1), Nishi Ganda (1), Rohini (1), Aarthi Agarwal (1), Vikas Gupta (1), Harnath Policherla (1)
Juhi Chawla: 37 (11%). V. Ravichandran (3), Ambarish (2), Ramesh Aravind (2), Bhanupriya (2), Chiranjeevi (2), Nagarjuna Akkineni (2), Vishnuvardhan (2), Mammootty (1), Mukhyamantri Chandru (1), Arvind Swamy (1)
Kader Khan: 37 (5%). Jaya Prada (9), Sridevi (6), Rajinikanth (4), Rambha (2), Jamuna (1), Kamal Haasan (1), Kirti Reddy (1), Ramya Krishnan (1), Malasri (1), Gautami (1)
Raveena Tandon: 36 (15%). Ramya Krishnan (3), Sayaji Shinde (2), Nagarjuna Akkineni (2), Upendra (2), Srividya (2), Simran (1), Yash (1), Malavika Avinash (1), Annapurnamma (1), Dhamini (1)
Nandita Das: 36 (26%). Geethu Mohandas (2), Manoj K. Jayan (2), Kashi (1), Manju Pillai (1), P. Balachandran (1), Puspavanam Kuppusamy (1), Rathi (1), Padmapriya (1), Master Manja (1), Mammootty (1)
Pran Sikand: 35 (3%). Padmini (6), Jaya Prada (5), Sridevi (3), Jamuna (2), Anant Nag (1), Chandrika (1), Keerthi (1), Vijayalakshmi (1), Sumalatha (1), Sharada (1)

# Hollywood sub-clusters

In [ ]:
# Create the subcluster of Hollywood
list_clusters('Brad Pitt', count=12)

0 American, British, Spanish, German (12,337 actors): Malcolm McDowell, Peter Coyote, Armand Assante, Michael Caine, Donald Sutherland, Nicolas Cage, Harvey Keitel, Robert De Niro, Udo Kier, Susan Sarandon
1 1 (5,424 actors): Vernon Wells, Bill Oberst Jr., Lance Henriksen, Debbie Rochon, Shawn C. Phillips, Lloyd Kaufman, Natalie Peri, Brinke Stevens, Felissa Rose, Tony Todd
2 2 (5,381 actors): Eric Roberts, Michael Madsen, Tom Sizemore, Danny Trejo, John Savage, Michael Paré, Michael Ironside, Corbin Bernsen, Robert Miano, James Duval
3 3 (3,647 actors): Steven Berkoff, Simon Phillips, Craig Fairbrass, Bruce Payne, Sean Cronin, Jon Campling, Vas Blackwood, John Wells, Adrian Bouchet, Al Snow
4 INDIAN, NORTH INDIAN, HINDI (3,376 actors): Colm Feore, Tantoo Cardinal, Stephen Chang, Katharine Isabelle, Gabrielle Rose, R.H. Thomson, Ashleigh Ball, Brendan Fletcher, Art Hindle, JR Bourne
5 5 (3,237 actors): Brian Krause, Chris Haywood, Colin Friels, John Jarratt, Tony Barry, Wendy Hughes, Bill Hunter, Ray Barrett, Jacqueline McKenzie, Clayton Watson
6 6 (3,197 actors): Vivica A. Fox, Clifton Powell, Omar Gooding, Glenn Plummer, Harry Lennix, Tom Lister Jr., Al Sapienza, Obba Babatundé, Miguel A. Núñez Jr., Trae Ireland
7 7 (2,505 actors): Tony Devon, Brian Anthony Wilson, Vincent Pastore, Peter Greene, Johnny Alonso, Joseph D'Onofrio, Mike Starr, Frank Vincent, Ángel Salazar, Richard Portnow
8 8 (1,804 actors): Dean Cain, DJ Perry, Kera O'Bryon, Cameron Arnett, Karen Abercrombie, Jenn Gotzon, Timothy Perez-Ross, Randall Oliver, Robert Shepherd, Dan Lauria
9 9 (1,391 actors): Jose Rosete, Zach Galligan, David Chattam, Scott Hellon, Caleb Thomas, David C. Hayes, Clint James, Anna Harr, Rob Edwards, Bill Wetherill
10 10 (1,312 actors): Patrick Bergin, Derek Nelson, Lee Bane, Patrick O'Donnell, Bill Fellows, Peter Coonan, Jade Asha, Ben Shockley, Lisa Harrow, Jayce Bartok
11 11 (1,299 actors): Kentucker Audley, Joe Swanberg, Amy Seimetz, Robert Longstreet, Kate Lyn Sheil, Lindsay Burdge, Alex Karpovsky, AJ Bowen, Brea Grant, Matt Smith

In [ ]:
list_collaborations('Brad Pitt', count=12)

0 American, British, Spanish, German 12337 actors:  (82.0%). 2 (3.6%). 3 (1.4%). INDIAN, NORTH INDIAN, HINDI (1.3%). 5 (1.0%). 6 (0.9%). 1 (0.7%). 7 (0.4%). 10 (0.4%). 11 (0.4%).
1 1 5424 actors:  (77.6%). 2 (4.0%). American, British, Spanish, German (2.9%). 7 (1.0%). 9 (0.8%). 6 (0.7%). 8 (0.7%). HOLLYWOOD HORROR (0.7%). 3 (0.5%). 12 (0.5%).
2 2 5381 actors:  (60.4%). American, British, Spanish, German (14.6%). 1 (4.1%). 6 (1.8%). INDIAN, NORTH INDIAN, HINDI (1.3%). 7 (0.9%). 8 (0.8%). 3 (0.8%). 5 (0.6%). HOLLYWOOD HORROR (0.5%).
3 3 3647 actors:  (80.1%). American, British, Spanish, German (11.5%). 2 (1.6%). 1 (1.1%). 10 (0.8%). 5 (0.4%). 8 (0.3%). INDIAN, NORTH INDIAN, HINDI (0.3%). 6 (0.2%). 11 (0.2%).
4 INDIAN, NORTH INDIAN, HINDI 3376 actors:  (78.2%). American, British, Spanish, German (11.9%). 2 (3.0%). 1 (0.6%). 6 (0.4%). 3 (0.3%). 5 (0.3%). 16 (0.2%). 7 (0.2%). 20 (0.2%).
5 5 3237 actors:  (84.4%). American, British, Spanish, German (9.4%). 2 (1.3%). 1 (0.6%). 3 (0.5%). INDIAN, NORTH INDIAN, HINDI (0.3%). 10 (0.1%). 14 (0.1%). 6 (0.1%). 19 (0.1%).
6 6 3197 actors:  (75.8%). American, British, Spanish, German (7.6%). 2 (3.7%). 1 (1.5%). 7 (1.0%). 8 (0.5%). HOLLYWOOD HORROR (0.4%). INDIAN, NORTH INDIAN, HINDI (0.4%). 12 (0.4%). 13 (0.3%).
7 7 2505 actors:  (80.4%). American, British, Spanish, German (4.8%). 1 (2.8%). 2 (2.4%). 6 (1.4%). 8 (0.7%). 28 (0.4%). 18 (0.3%). 17 (0.3%). 26 (0.3%).
8 8 1804 actors:  (78.2%). American, British, Spanish, German (3.9%). 2 (3.3%). 1 (2.9%). 6 (1.0%). 7 (1.0%). HOLLYWOOD HORROR (0.6%). 3 (0.5%). 13 (0.5%). 9 (0.3%).
9 9 1391 actors:  (85.3%). 1 (4.1%). American, British, Spanish, German (2.0%). 2 (1.7%). 6 (0.4%). 8 (0.4%). 14 (0.4%). HOLLYWOOD HORROR (0.3%). 19 (0.3%). 7 (0.2%).
10 10 1312 actors:  (80.6%). American, British, Spanish, German (11.1%). 3 (2.5%). 2 (1.6%). 1 (0.7%). INDIAN, NORTH INDIAN, HINDI (0.4%). 5 (0.4%). 6 (0.2%). 13 (0.1%). 29 (0.1%).
11 11 1299 actors:  (77.7%). American, British, Spanish, German (9.3%). 2 (1.8%). 1 (1.1%). 6 (0.5%). 3 (0.5%). 7 (0.4%). 17 (0.4%). 8 (0.3%). 13 (0.3%).

# South Indian sub-clusters

In [ ]:
# Cluster South Indian actors. It breaks up by language
list_clusters('Brahmanandam', count=8)

0 INDIAN, SOUTH INDIAN, KANNADA (3,411 actors): T.N. Balakrishna, Avinash, K.S. Ashwath, Anant Nag, Rajkumar, Ramesh Bhat, Sadhu Kokila, Vishnuvardhan, Rangayana Raghu, Doddanna
1 INDIAN, SOUTH INDIAN, TAMIL, Telugu, Old (2,890 actors): Nassar, Goundamani, Sathyaraj, Radhika Sarathkumar, Prabhu, Senthil, Karthik, Delhi Ganesh, Meena, Vadivelu
2 INDIAN, North Indian, Bengali, South Indian, Telugu (2,675 actors): Brahmanandam, Mohammad Ali, Prakash Raj, Tanikella Bharani, Rajendra Prasad, Ramya Krishnan, Kota Srinivasa Rao, Jagapathi Babu, Suman, Raghu Babu
3 INDIAN, SOUTH INDIAN, MALAYALAM (2,226 actors): Adoor Bhasi, Bahadur, Mammootty, Mohanlal, Prem Nazir, Jayabharati, Jagathi Sreekumar, Madhu, Mala Aravindan, Innocent
4 INDIAN, SOUTH INDIAN, OLD, TAMIL, Telugu (1,159 actors): Aachi Manorama, Pandari Bai, Shivaji Ganesan, Nagesh, N.T. Rama Rao, Anjali Devi, Gummadi, Akkineni Nageshwara Rao, Krishna, Sridevi
5 5 (85 actors): Shakeela, Reshma, Sindhu, Nowshad, Sharmily, Sajini, Bhaskar, Heera, Reshma, Babilona
6 6 (38 actors): Prabhakar Kunder, Usha Bhandary, Mata Koppala, Ananya Kasaravalli, Rameshwari Varma, Shlagha Saligrama, Prabhudeva Hosadurga, Ganesh Mogaveera, Dhanush Shetty, Ashwin Bolar
7 7 (31 actors): Tarak Ponnappa, Shubha Raksha, Sampath Kumar, Urvashi H.V., Thaarak Ponnappa, Sharanya Gowda, Subhash Chandra, S. Pradeep Varma, Chaithra Shetty, Bhoomi Agnani

In [ ]:
list_collaborations('Brahmanandam', count=8)

0 INDIAN, SOUTH INDIAN, KANNADA 3411 actors:  (85.9%). INDIAN, SOUTH INDIAN, OLD, TAMIL, Telugu (4.8%). INDIAN, SOUTH INDIAN, TAMIL, Telugu, Old (3.2%). INDIAN, North Indian, Bengali, South Indian, Telugu (3.2%). INDIAN, SOUTH INDIAN, MALAYALAM (2.3%). 6 (0.1%). 11 (0.0%). 9 (0.0%). 7 (0.0%). 18 (0.0%).
1 INDIAN, SOUTH INDIAN, TAMIL, Telugu, Old 2890 actors:  (70.3%). INDIAN, SOUTH INDIAN, MALAYALAM (9.3%). INDIAN, SOUTH INDIAN, OLD, TAMIL, Telugu (8.5%). INDIAN, North Indian, Bengali, South Indian, Telugu (8.3%). INDIAN, SOUTH INDIAN, KANNADA (3.1%). 5 (0.1%). 8 (0.0%). 83 (0.0%). 96 (0.0%). 64 (0.0%).
2 INDIAN, North Indian, Bengali, South Indian, Telugu 2675 actors:  (73.1%). INDIAN, SOUTH INDIAN, TAMIL, Telugu, Old (10.6%). INDIAN, SOUTH INDIAN, OLD, TAMIL, Telugu (7.8%). INDIAN, SOUTH INDIAN, KANNADA (3.9%). INDIAN, SOUTH INDIAN, MALAYALAM (3.8%). 17 (0.0%). 13 (0.0%). 8 (0.0%). 7 (0.0%). 22 (0.0%).
3 INDIAN, SOUTH INDIAN, MALAYALAM 2226 actors:  (86.8%). INDIAN, SOUTH INDIAN, TAMIL, Telugu, Old (5.6%). INDIAN, SOUTH INDIAN, OLD, TAMIL, Telugu (4.0%). INDIAN, North Indian, Bengali, South Indian, Telugu (1.8%). INDIAN, SOUTH INDIAN, KANNADA (1.3%). 5 (0.1%). 21 (0.0%). 28 (0.0%). 16 (0.0%). 159 (0.0%).
4 INDIAN, SOUTH INDIAN, OLD, TAMIL, Telugu 1159 actors:  (80.2%). INDIAN, SOUTH INDIAN, TAMIL, Telugu, Old (6.5%). INDIAN, SOUTH INDIAN, MALAYALAM (5.1%). INDIAN, North Indian, Bengali, South Indian, Telugu (4.7%). INDIAN, SOUTH INDIAN, KANNADA (3.5%). 9 (0.0%). 44 (0.0%). 157 (0.0%). 112 (0.0%). 5 (0.0%).
5 5 85 actors:  (71.7%). INDIAN, SOUTH INDIAN, MALAYALAM (19.8%). INDIAN, SOUTH INDIAN, TAMIL, Telugu, Old (5.0%). INDIAN, SOUTH INDIAN, KANNADA (1.7%). INDIAN, North Indian, Bengali, South Indian, Telugu (0.9%). INDIAN, SOUTH INDIAN, OLD, TAMIL, Telugu (0.9%). 71 (0.1%). 135 (0.0%). 127 (0.0%). 128 (0.0%).
6 6 38 actors:  (80.9%). INDIAN, SOUTH INDIAN, KANNADA (17.0%). 169 (1.1%). INDIAN, SOUTH INDIAN, MALAYALAM (0.7%). 18 (0.4%). 134 (0.0%). 126 (0.0%). 127 (0.0%). 128 (0.0%). 129 (0.0%).
7 7 31 actors:  (79.0%). INDIAN, SOUTH INDIAN, KANNADA (10.0%). INDIAN, North Indian, Bengali, South Indian, Telugu (6.7%). 12 (1.9%). INDIAN, SOUTH INDIAN, MALAYALAM (1.0%). 34 (1.0%). INDIAN, SOUTH INDIAN, TAMIL, Telugu, Old (0.5%). 131 (0.0%). 134 (0.0%). 133 (0.0%).

In [ ]:
# Kannada subcluster
list_clusters('Brahmanandam', 'Shivrajkumar', count=8, names=20)

0 0 (957 actors): Sadhu Kokila, Rangayana Raghu, Achyuth Kumar, H.G. Dattatreya, Bullet Prakash, Sharath Lohitashwa, Chikkanna, Tabla Nani, Ganesh, P. Ravi Shankar, Diganth, Pooja Gandhi, Suchendra Prasad, Vijay Raghavendra, Haripriya, Puneeth Rajkumar, Sudha Belawadi, Sanjjanaa Galrani, Sharan, Prajwal Devaraj
1 INDIAN, SOUTH INDIAN, KANNADA (789 actors): Avinash, Anant Nag, Ramesh Bhat, Doddanna, Bank Janardhan, Shivarajkumar, Devaraj, Ramesh Aravind, Mukhyamantri Chandru, Charan Raj, Srinivasa Murthy, Tennis Krishna, V. Ravichandran, Sudeep, Jaggesh, Shobharaj, Vinaya Prasad, Rekha Das, Komal Kumar, Upendra
2 2 (301 actors): T.N. Balakrishna, K.S. Ashwath, Rajkumar, Vishnuvardhan, Leelavathi, Jayanthi, Udaya Kumar, Bharathi, Ambarish, Shankar Nag, Dinesh, Arathi, B.S. Dwarakish, Kalpana, Kalyana Kumar, Srinath, Comedian Guggu, Jai Jagdeesh, Vajramuni, Saritha
3 3 (120 actors): Aravind Bolar, Pruthvee Ambaar, Naveen D. Padil, Lasya Nagaraj, Arjun Kapikad, Archana Jois, Gopalkrishna Deshpande, Raj B. Shetty, Kushee Ravi, Kaajal Kunder, Chethan Rai Maani, Bhojaraj Vamanjuru, Devadas Kapikad, Kushi, Deepak Rai Panaje, Chandan Achar, Seetha Kote, Roopesh Shetty, Nagraj Manjule, Satish Bandale
4 4 (117 actors): Aruna Balraj, Manjunath Hegde, Vishal Hegde, Rishita Malnad, Kavitha Gowda, Pallavi Gowda, Manjunath Gowda, Sujay Shastry, Kempegowda, Ravi Belagere, Nagendra Shah, Mandya Jayaram, Anil Kumar, Chandu Gowda, Sneha Nair, Ashalatha, Prathap Narayanan, Prakash Heggodu, M.G. Srinivas, Vineet Kumar
5 5 (104 actors): Rajesh Nataranga, Archana Kottige, Radhika Narayan, Sheetal Shetty, Akshatha Shreedhar Shastry, Aravind Rao, K.S. Sridhar, Prashanth Siddi, Saptha Pavoor, Giriraj Bm, Marwin Akkidhasari, Gopal Deshpande, Vatsala Mohan, Ahalya Suresh, Avinash Narsimharaju, Swathi Sharma, Yuvina Parthavi, Vishweshwara Bhat, Ashwin Rao Pallaki, Shanaya Katwe
6 6 (87 actors): Sonal Monteiro, Anitha Bhat, Kote Prabhakar, Rachana Dashrath, Harish Rai, Bala Rajwadi, Adhvithi Shetty, Krishne Gowda, Chandrakala Mohan, Deepthi Kapse, Anusha Rangnath, Dravya Shetty, Vihan Gowda, Abhishek, Sathya Prakash, Rekha, Satyajit Sharma, N.L. Narendra Babu, Payal Radhakrishna, Ravi Kiran
7 7 (85 actors): Kempe Gowda, Pranaya Murthy, Karthik Jayaram, Anupama Gowda, Sathyanath, Nakshatra, Valerian Menezes, Raaj Suriyan, Naveen Krishna, Vaishnavi Chandran, Kirik Keerthi, Mythriya Gowda, Raghu Bhat, Chakravarthi, Mimicry Gopi, Dhyan, Divya Gowda, Keerthi Lakshmi, Shashikanth Gatti, Prathama Prasad

In [ ]:
# Tamil subcluster
list_clusters('Brahmanandam', 'Delhi Ganesh', count=8, names=20)

0 0 (867 actors): Yogi Babu, M.S. Bhaskar, Manobala, Nayanthara, Santhanam, Vijay Sethupathi, Trisha Krishnan, Thambi Ramaiah, Samuthirakani, Motta Rajendran, V. Jayaprakash, Arya, Anjali, Soori, Aadukalam Naren, Hansika Motwani, Aishwarya Rajesh, Jiiva, T.R. Silambarasan, Shamna Kasim
1 INDIAN, SOUTH INDIAN, TAMIL (518 actors): Goundamani, Sathyaraj, Radhika Sarathkumar, Prabhu, Senthil, Karthik, Delhi Ganesh, Vadivelu, Meena, Radha Ravi, Silk Smitha, Kushboo, Nizhalgal Ravi, Venniradai Moorthy, Manivannan, Raghuvaran, Vijayakanth, Sarath Kumar, Arjun Sarja, Janakaraj
2 2 (458 actors): 'Ganja' Karuppu, Kishore Kumar G., Sneha, Karunas, Dhanush, Madhavan, Saranya Ponvannan, Ilavarasu, Mayilsamy, Namitha, Amala Paul, Appukutty, Sonia Agarwal, Daniel Balaji, Shaam, Devadarshini Chetan, Powerstar Srinivasan, Abhinaya, Aravind Akash, Dhansika
3 3 (188 actors): Nassar, Simran, Vikram, Jyotika, Suriya, Arvind Swamy, Jayam Ravi, Archana, Pasupathy, K.S. Ravikumar, Laila, Asin Thottumkal, Bala Singh, Jai Akash, Ashok Selvan, Kiran Rathod, Amy Jackson, Lakshmi Priyaa Chandramouli, Sanam Shetty, Jayakumar
4 4 (186 actors): Richard Rishi, Bose Venkat, Nellai Siva, Kadhal Sukumar, Crane Manohar, Bonda Mani, Kadhal Thandapani, Jasper, Sherin Shringar, Ganeshkar, Anuja Iyer, Nanditha Jennifer, Charle, Swarnamalya, Ranjith, Abhinaya Sri, Thennavan, Gayathri Raghuram, Sharmilee, Manobala Mahadevan
5 5 (126 actors): Santhana Bharathi, Chaams, T.P. Gajendran, Vinoth Kishan, Kadhal Dhandapani, Aarthi, Leema Babu, Meenakshi Dixit, Sree Raam, Arjun Das, Archana Sharma, Abhinayashree, Manishajith, Advaitha, Eden Kuriakosse, Munnar Ramesh, Santhoshi, Thamizh, Mahanadi Shankar, Aamna Sharif
6 6 (122 actors): Mime Gopi, Ramachandran Durairaj, Gautham Vasudev Menon, Gajaraj, Shritha Sivadas, Murugadass, Raveena Ravi, Manicka Vinayagam, Pavel Navageethan, Kpy Bala, Deepa Shankar, G.M. Kumar, Nadodigal Gopal, Dushara Vijayan, Aaru Bala, Karai Natrajan, Shanmugapandian, Maheshwaran, Suresh Ravi, Kavithran
7 7 (52 actors): Arun Vijay, Adithya Menon, RajeshB., Neelima Rani, Mysskin, Fefsi Vijayan, Sri Priyanka, Sri, Amit Bhargav, Rathan Mouli, Aravindhan, Deepu, Athulya, Gemini Ryker, M.S. Baskhar, E. Ramdoss, Deepa Venkat, Sinthar Athith, Ravi Venkatraman, Renuka Balan

In [ ]:
list_collaborations('Brahmanandam', 'Delhi Ganesh', count=8)

0 0 867 actors:  (70.4%). INDIAN, SOUTH INDIAN, TAMIL (10.2%). 2 (8.6%). 3 (3.5%). 6 (1.5%). 5 (1.5%). 4 (1.4%). 8 (0.6%). 7 (0.5%). 9 (0.3%).
1 INDIAN, SOUTH INDIAN, TAMIL 518 actors:  (79.2%). 0 (7.6%). 2 (5.1%). 3 (4.0%). 4 (1.2%). 5 (0.8%). 7 (0.5%). 6 (0.3%). 10 (0.2%). 9 (0.1%).
2 2 458 actors:  (51.8%). 0 (21.2%). INDIAN, SOUTH INDIAN, TAMIL (16.8%). 3 (3.4%). 4 (1.9%). 5 (1.5%). 6 (1.1%). 7 (0.5%). 8 (0.5%). 10 (0.3%).
3 3 188 actors:  (39.3%). INDIAN, SOUTH INDIAN, TAMIL (29.8%). 0 (19.4%). 2 (7.7%). 4 (1.4%). 6 (0.8%). 8 (0.5%). 7 (0.5%). 9 (0.2%). 5 (0.2%).
4 4 186 actors:  (56.7%). INDIAN, SOUTH INDIAN, TAMIL (16.6%). 0 (14.3%). 2 (7.8%). 3 (2.5%). 6 (0.7%). 5 (0.6%). 7 (0.3%). 9 (0.2%). 10 (0.2%).
5 5 126 actors:  (51.8%). 0 (21.7%). INDIAN, SOUTH INDIAN, TAMIL (15.8%). 2 (8.6%). 4 (0.8%). 3 (0.5%). 6 (0.4%). 15 (0.1%). 10 (0.1%). 8 (0.1%).
6 6 122 actors:  (59.9%). 0 (22.2%). INDIAN, SOUTH INDIAN, TAMIL (6.5%). 2 (6.5%). 3 (2.2%). 4 (1.1%). 8 (0.5%). 5 (0.4%). 9 (0.4%). 7 (0.2%).
7 7 52 actors:  (54.1%). INDIAN, SOUTH INDIAN, TAMIL (19.1%). 0 (15.5%). 2 (6.7%). 3 (2.6%). 4 (1.0%). 6 (0.5%). 9 (0.5%). 41 (0.0%). 45 (0.0%).

In [ ]:
# Telugu subcluster
list_clusters('Brahmanandam', 'Brahmanandam', count=8, names=20)

0 INDIAN, SOUTH INDIAN, TELUGU (589 actors): Brahmanandam, Mohammad Ali, Tanikella Bharani, Rajendra Prasad, Ramya Krishnan, Kota Srinivasa Rao, Jagapathi Babu, Raghu Babu, Giri Babu, Annapoorna, Soundarya, Srikanth, Venkatesh Daggubati, Krishna Bhagavan, Chalapathi Rao, V.K. Naresh, Babu Mohan, Rambha, M.S. Narayana, Jeeva
1 INDIAN, NORTH INDIAN, BENGALI (426 actors): Ajay, Naveen Chandra, Rajsekhar Aningi, Darbha Appaji Ambarisha, Mahesh Achanta, Priyadarshi, Srinivas Avasarala, Ravi Prakash, Aadi, Sampoornesh Babu, Tanya Hope, Harsha Chemudu, Ravi Varma, Adith Arun, Satyadev Kancharana, Ajay Ghosh, Chammak Chandra, Manoj Nandam, Rashmi Gautam, Kamal Kamaraju
2 2 (388 actors): Krishna Murali Posani, Vennela Kishore, Regina Cassandra, Ravi Babu, Krishnudu, Dhanraj, Sundeep Kishan, Varun Sandesh, Suman Shetty, Swathi Reddy, Nagineedu, Archana Shastry, Vimala Raman, Lavanya Tripathi, Thagubothu Ramesh, Pragathi, Jhansi, Rahul Ravindran, Madhunandan, Sakshi Chaudhary
3 3 (275 actors): Prakash Raj, Nagarjuna Akkineni, Tamannaah Bhatia, Ravi Teja, Kajal Aggarwal, Priyamani, Bhoomika Chawla, Shriya Saran, Samantha Ruth Prabhu, Anushka Shetty, Nithya Menen, Mahesh Babu, Suneel, Rakul Preet Singh, Siddharth, Genelia D'Souza, Murli Sharma, Raashi Khanna, Gopichand, Prabhas
4 4 (215 actors): Suman, Sai Kumar, Sayaji Shinde, Mumait Khan, Uday Kiran, Saloni Aswani, Nandamuri Kalyan Ram, Nikhil Siddharth, Satyam Rajesh, Avika Gor, Anita Hassanandani Reddy, Prudhviraj, Aksha Pardasany, Hebah Patel, Kabir Duhan Singh, Sai Ronak, Sheena Shahabadi, Tanish Alladi, Ravinder Kolishetty, Shubhangi Pant
5 5 (104 actors): Raghu Kumar Karumanchi, Ganesh Venkatraman, Aziz Naser, Chitram Basha, Dheer Charan Srivastav, Risha, Gullu Dada, Habib Al Aidroos, Mannara Chopra, R.K. Mama, Sri Hari, Adnan Sajid Khan, Madhulagna Das, R.K., Disney James, Anil Rai Mani, Masti Ali, Mast Ali, Farukh Khan, Matakari Mangli
6 6 (69 actors): Nyra Banerjee, Swetaa Varma, Punarnavi Bhupalam, Arvind Krishna, Ali Reza, Varshini Sounderajan, Raj Madiraju, Bhupal, Misha Narang, Praneeta Patnaik, Aishwarya Addala, Shriya Sharma, Abhishek Maharshi, Sai Pradeep Mocherla, Karteek Gopasana, Zara Shah, Supriya Shailja, Kartavya Sharma, Vishwadev Rachakonda, Vasudeva Rao
7 7 (65 actors): Dayanand Reddy, Kalpika Ganesh, Payal Ghosh, Aditi Myakal, Pavani Reddy, Venkatesh Harinathan, R.J. Hemant, Laxman Meesala, Bindu Chandramouli, Naresh Agastya, Salman Yusuff Khan, Srinivasa Kapavarapu, Sudhir Reddy Gujjula, Gayathri Gupta, Aditi Chengappa, Relangi Jr., Rakendu Mouli Vennelakanti, Deepti, Sri Simha Koduri, Gnaneswari Kandregula

In [ ]:
# Malayalam subcluster
list_clusters('Brahmanandam', 'Mohanlal', count=8, names=20)

0 0 (1,229 actors): Indrans, Prithviraj Sukumaran, Biju Menon, Kunchacko Boban, Jayasurya, Lal, Asif Ali, Bhavana, Shivaji Guruvayoor, Meera Jasmine, Aju Varghese, Suraj Venjaramoodu, Joju George, Fahadh Faasil, Indrajith Sukumaran, Riyaz Khan, Shine Tom Chacko, Tovino Thomas, Saiju Kurup, Jaffer Idukki
1 INDIAN, SOUTH INDIAN, MALAYALAM (461 actors): Mammootty, Mohanlal, Jagathi Sreekumar, Mala Aravindan, Innocent, Nedumudi Venu, Suresh Gopi, Jayaram, Jagadish, K.P.A.C. Lalitha, Mukesh, Lalu Alex, Rajan P. Dev, Devan, Siddique, Dileep, Urvashi, Kalabhavan Mani, Harisree Asokan, Sreenivasan
2 2 (384 actors): Adoor Bhasi, Bahadur, Prem Nazir, Jayabharati, Madhu, Janardanan, Srividya, Paravoor Bharathan, Ambika, Thikkurisi Sukumaran Nair, Alummoodan, M.G. Soman, Sukumari, Balan K. Nair, Kuthiravattam Pappu, Sukumaran, Anuradha, Nellikode Bhaskaran, Meena, Jayan
3 3 (12 actors): Basil, Divya Prabha, Badri, Krishnakumar, Henna Bella, Arafath, Devadevan, Muhammed Noufal, Jafeena, Shruti, Shalini, Sukanya
4 4 (11 actors): K.K. Aroor, Alleppy Vincent, Durga Varma, Master Madan, Gopinathan Nair, M.V. Sanku, Chellappan Pillai, L. Ponnamma, C.K. Rajam, C.A. Seetalakshmi, M.V. Shankar
5 5 (9 actors): Yadu Krishnan, Yamuna Mahesh, Krishna Prasad, Girish, Sudhish Shankar, Anjana Menon, Ancy K. Thampi, Rohan Painter, Paul Mathew
6 6 (8 actors): Levin Simon Joseph, Rony Raj, Vinod Kedamangalam, Jenson Alappat, Ilaneore, Nimmy Arun Gopan, Shivakumar Raju, Sadhika Venugopal
7 7 (7 actors): Sneha Babu, Jeevan Mammen Stephen, Anand Mathews, Kiran Viyyath, Arjun Ratan, Anu K. Aniyan, Sabareesh Sajjin

In [ ]:
# Old Tamil/Telugu subcluster
list_clusters('Brahmanandam', 'Shivaji Ganesan', count=8, names=20)

2 INDIAN, SOUTH INDIAN, TAMIL, OLD (596 actors): Aachi Manorama, Pandari Bai, Shivaji Ganesan, Nagesh, Lakshmi, Kamal Haasan, Jaishankar, M.N. Nambiar, Gemini Ganesan, K.R. Vijaya, Rajinikanth, Saroja Devi B., V.K. Ramasamy, R. Muthuraman, Padmini, M.G. Ramachandran, Sowcar Janaki, Jayalalitha J, Thengai Srinivasan, Major Sundarrajan
0 INDIAN, SOUTH INDIAN, TELUGU, OLD (403 actors): N.T. Rama Rao, Anjali Devi, Gummadi, Akkineni Nageshwara Rao, Krishna, Sridevi, Mohan Babu, Jayasudha, Jaya Prada, Kaikala Satyanarayana, Sharada, Savitri, Chiranjeevi, Chandramohan, S.V. Ranga Rao, Sarath Babu, Sobhan Babu, Vanisri, Kongara Jaggaiah, Chittor V. Nagaiah
3 3 (58 actors): Pushpavalli, Kanchanamala, C. Krishnaveni, Srirama Murthy Addanki, L.V. Prasad, Bezawada Rajarathnam, Tanguturi Suryakumari, Y.V. Rao, Balijepalli Lakshmikanta Kavi, Subba Rao A.V., Balasaraswathi Raavu, Hanumantha Rao Kallakoori, Sundaramma, Banda Kanakalingeshwara Rao, Suryanarayana, Rao C.S.R., Narayanrao, Puvvula Ansuya, Lakshmana Swamy S.P., Ganga Ratnam P.
4 4 (25 actors): Vemuri Gaggaiah, Ramatilakam, Sriranjani Sr., Venkateswarlu Pulipati, Parepalli Satyanarayana, Parepalli Subba Rao, Bellari Raghava, Saluri Rajeshwara Rao, Nagaraja Rao Nellori, Venkatramaiah Madhavapeddi, Ghantasala Balaramaiah, G.V. Sitapati, Master Bhimarao, Malleshwara Rao, Bhushana Sastry, S. Rangaswamy, Sivaramakrishna Rao, Master Kalyani, Satyanarayana Aarani, Ramakrishna Sastry
5 5 (22 actors): S.D. Subbalakshmi, G. Pattu Iyer, S.S. Mani Bhagavathar, M.S. Subbalakshmi, K.K. Parvati Bai, Vidwan Sankaralingam, Jolly Kittu, Papanasam Sivan, Kunchithapadam, Mrs. Jayalakshmi, Varadachar, F.G. Natesa Iyer, M.S. Sundari Bai, R.S. Sundarambal, V. Govindasami, Salem Sundaram, Kunjithapatham Pillai, K.E. Madhava Iyer, J.M. Sundaram, M.V. Krishnappa
6 6 (9 actors): Chandra Babu, Krishnaveni, Pantulu B.R., Kottappuli Jayaraman, Gnanakumari, K.S. Hariharan, V.K. Karthikeyan, S.R. Lakshmi, Boddapaati
7 7 (7 actors): Prabhakar, Mohan Rao, N. Basavaraj, Vajru Mani, Ceylone Mani, Mahesh Raj, Shabana
8 8 (6 actors): Rupa, G. Narayana Rao, Bhoopal Reddy, B. Narsing Rao, Rami Reddy, Gaddar

In [ ]:
list_collaborations('Brahmanandam', 'Shivaji Ganesan', count=8)

0 INDIAN, SOUTH INDIAN, TELUGU, OLD 403 actors:  (81.4%). INDIAN, SOUTH INDIAN, TAMIL, OLD (13.1%). INDIAN, SOUTH INDIAN, TAMIL, OLD (4.7%). 3 (0.5%). 4 (0.1%). 7 (0.1%). 8 (0.0%). 9 (0.0%). 6 (0.0%). 11 (0.0%).
1 INDIAN, SOUTH INDIAN, TAMIL, OLD 327 actors:  (60.2%). INDIAN, SOUTH INDIAN, TAMIL, OLD (26.8%). INDIAN, SOUTH INDIAN, TELUGU, OLD (11.7%). 3 (0.6%). 5 (0.3%). 4 (0.2%). 6 (0.1%). 10 (0.0%). 9 (0.0%). 7 (0.0%).
2 INDIAN, SOUTH INDIAN, TAMIL, OLD 269 actors:  (71.9%). INDIAN, SOUTH INDIAN, TELUGU, OLD (15.2%). INDIAN, SOUTH INDIAN, TAMIL, OLD (12.5%). 3 (0.1%). 7 (0.1%). 9 (0.1%). 5 (0.1%). 10 (0.0%). 6 (0.0%). 12 (0.0%).
3 3 58 actors:  (58.6%). INDIAN, SOUTH INDIAN, TELUGU, OLD (23.9%). INDIAN, SOUTH INDIAN, TAMIL, OLD (10.9%). 4 (3.8%). INDIAN, SOUTH INDIAN, TAMIL, OLD (2.8%). 11 (0.0%). 16 (0.0%). 15 (0.0%). 14 (0.0%). 13 (0.0%).
4 4 25 actors:  (66.0%). INDIAN, SOUTH INDIAN, TELUGU, OLD (13.8%). 3 (10.8%). INDIAN, SOUTH INDIAN, TAMIL, OLD (9.4%). 11 (0.0%). 16 (0.0%). 15 (0.0%). 14 (0.0%). 13 (0.0%). 12 (0.0%).
5 5 22 actors:  (77.7%). INDIAN, SOUTH INDIAN, TAMIL, OLD (15.2%). INDIAN, SOUTH INDIAN, TAMIL, OLD (5.7%). INDIAN, SOUTH INDIAN, TELUGU, OLD (1.4%). 11 (0.0%). 16 (0.0%). 15 (0.0%). 14 (0.0%). 13 (0.0%). 12 (0.0%).
6 6 9 actors:  (75.3%). INDIAN, SOUTH INDIAN, TAMIL, OLD (11.7%). INDIAN, SOUTH INDIAN, TAMIL, OLD (7.8%). INDIAN, SOUTH INDIAN, TELUGU, OLD (5.2%). 11 (0.0%). 16 (0.0%). 15 (0.0%). 14 (0.0%). 13 (0.0%). 12 (0.0%).
7 7 7 actors:  (35.3%). INDIAN, SOUTH INDIAN, TELUGU, OLD (31.4%). INDIAN, SOUTH INDIAN, TAMIL, OLD (29.4%). INDIAN, SOUTH INDIAN, TAMIL, OLD (3.9%). 11 (0.0%). 16 (0.0%). 15 (0.0%). 14 (0.0%). 13 (0.0%). 12 (0.0%).

In [ ]:
# Dig deeper into old Tamil subcluster
list_clusters('Brahmanandam', 'Shivaji Ganesan', 'Rajinikanth', count=4, names=20)

1 INDIAN, SOUTH INDIAN, TAMIL, OLD (125 actors): Pandari Bai, Shivaji Ganesan, Nagesh, M.N. Nambiar, Gemini Ganesan, K.R. Vijaya, Saroja Devi B., V.K. Ramasamy, R. Muthuraman, Sowcar Janaki, Jayalalitha J, Major Sundarrajan, S.A. Ashokan, R.S. Manohar, Cho Ramaswamy, M.R. Radha, V.S. Raghavan, Manjula, K. Balaji, Ravichandran
0 INDIAN, SOUTH INDIAN, TAMIL (124 actors): Aachi Manorama, Lakshmi, Kamal Haasan, Jaishankar, Rajinikanth, Thengai Srinivasan, Vijayakumar, Sivakumar, Sujatha, Srikanth, Y.G. Mahendran, Jayachitra, Sripriya, Jai Ganesh, Latha, Suruli Rajan, Sumithra, Roja Ramani, Jayalakshmi, Venniradai Nirmala
3 3 (18 actors): Gandhimathi, V. Gopalakrishnan, S.V. Ramadoss, Anuradha, K. Kannan, A. Sakunthala, Kallapetti Singaram, Usilai Mani, Rama Prabha, Amjathkumar, Calcutta Viswanathan, Malasia Bhaskar, Thilagam Narayanasaamy, Trichy Soundararajan, Devi Sri, Siyona Sneha, Noel Sanjith, C. Vasantha
4 4 (2 actors): Chitralaya Gopu, Baby Mahalakshmi

In [ ]:
list_collaborations('Brahmanandam', 'Shivaji Ganesan', 'Rajinikanth', count=4)

0 INDIAN, SOUTH INDIAN, TAMIL 124 actors:  (52.3%). INDIAN, SOUTH INDIAN, TAMIL, OLD (29.4%). INDIAN, SOUTH INDIAN, TAMIL, OLD (15.2%). 3 (3.1%). 4 (0.0%).
1 INDIAN, SOUTH INDIAN, TAMIL, OLD 82 actors:  (50.5%). INDIAN, SOUTH INDIAN, TAMIL (26.1%). INDIAN, SOUTH INDIAN, TAMIL, OLD (20.6%). 3 (2.8%). 4 (0.0%).
2 INDIAN, SOUTH INDIAN, TAMIL, OLD 43 actors: INDIAN, SOUTH INDIAN, TAMIL, OLD (39.9%).  (31.0%). INDIAN, SOUTH INDIAN, TAMIL (26.2%). 3 (2.9%). 4 (0.0%).
3 3 18 actors: INDIAN, SOUTH INDIAN, TAMIL, OLD (34.0%). INDIAN, SOUTH INDIAN, TAMIL (33.3%). INDIAN, SOUTH INDIAN, TAMIL, OLD (18.6%).  (14.1%). 4 (0.0%).

In [ ]:
list_crossovers('Brahmanandam', count=6)

0 INDIAN, SOUTH INDIAN, KANNADA (3,411 actors): Saritha (15%), Sithara (29%), Charan Raj (40%), Prema (49%), Malasri (50%), Bharathi (54%), Haripriya (55%), Jayanthi (58%), Sanjjanaa Galrani (58%), Tiger Prabhakar (59%)
1 INDIAN, SOUTH INDIAN, TAMIL, Telugu, Old (2,890 actors): Silk Smitha (31%), Nadia Moidu (33%), Prathap Pothen (34%), Meena (36%), Radhika Sarathkumar (38%), Charu Haasan (39%), Revathi (39%), Amala Akkineni (42%), Abbas (43%), Seetha (44%)
2 INDIAN, North Indian, Bengali, South Indian, Telugu (2,675 actors): Jayalalitha (31%), Kavitha (32%), Priyamani (35%), Suresh (35%), Rambha (35%), Vani Viswanath (36%), Sai Kumar (37%), Ramya Krishnan (37%), S.P. Balasubrahmanyam (39%), Prakash Raj (39%)
3 INDIAN, SOUTH INDIAN, MALAYALAM (2,226 actors): Meera Jasmine (39%), Riyaz Khan (43%), Srividya (43%), Kaveri (46%), Karan (46%), Geetha (47%), Urvashi (47%), Ambika (48%), Shubha (49%), Rahman (54%)
4 INDIAN, SOUTH INDIAN, OLD, TAMIL, Telugu (1,159 actors): Bhanupriya (31%), Suhasini (31%), Sangeetha (38%), Sumithra (43%), Sumalatha (43%), Sarath Babu (43%), Vijayakumar (44%), Rajani (46%), Madhavi (46%), Lakshmi (46%)
5 5 (85 actors): Shakeela (55%)

# Indian - North

In [ ]:
# Cluster North Indian actors
list_clusters('Amitabh Bachchan', count=8)

0 INDIAN, NORTH INDIAN, HINDI (4,449 actors): Mithun Chakraborty, Shakti Kapoor, Dharmendra, Aruna Irani, Raza Murad, Kiran Kumar, Anupam Kher, Govardhan Asrani, Prem Chopra, Gulshan Grover
1 INDIAN, NORTH INDIAN, MARATHI (3,399 actors): Mohan Joshi, Ramesh Deo, Laxmikant Berde, Vijay Chavan, Milind Gunaji, Jayshree Gadkar, Sudhir Dalvi, Shreeram Lagoo, Ashok Saraf, Usha Naik
2 INDIAN, NORTH INDIAN, BENGALI (3,143 actors): Soumitra Chatterjee, Anup Kumar, Prasenjit Chatterjee, Utpal Dutt, Bhanu Bannerjee, Uttam Kumar, Chhabi Biswas, Anil Chatterjee, Kali Bannerjee, Rituparna Sengupta
3 INDIAN, OLD, NORTH INDIAN, HINDI, South Indian, Telugu (2,302 actors): Ashok Kumar, Helen, Pran Sikand, Jeevan Dhar, Master Bhagwan, Lalita Pawar, Nirupa Roy, Agha, Madan Puri, Om Prakash
4 INDIAN, NORTH INDIAN, PUNJABI (1,375 actors): Mehar Mittal, Satish Kaul, Guggu Gill, Gurpreet Ghuggi, Yograj Singh, Karamjit Anmol, Binnu Dhillon, Mukul Dev, Daljit Kaur, Arpana Choudhary
5 INDIAN, NORTH INDIAN, BHOJPURI (961 actors): Ravi Kishan, Dinesh Lal Yadav, Monalisa, Awdhesh Mishra, Pawan Singh, Khesari Lal Yadav, Kajal Raghwani, Pradeep Pandey, Sanjay Pandey, Rani Chatterjee
6 INDIAN, GUJARATI, Northi Indian, North Indian (802 actors): Hiten Kumar, Chetan Daiya, Omkar Das Manikpuri, Jayesh More, Malhar Thakar, Hitu Kanodia, Pratik Gandhi, Monal Gajjar, Pranjal Bhatt, Dinesh Lamba
7 7 (193 actors): Manoj Bakshi, Muntazir Ahmad, Humayoon Shams Khan, Aayush Upadhyay, Mouli Ganguly, Radha Bhatt, Vikrant Anand, Uttam Halder, Matin Khan, Bobby Vats

In [ ]:
list_collaborations('Amitabh Bachchan', count=8)

0 INDIAN, NORTH INDIAN, HINDI 4449 actors:  (78.9%). INDIAN, OLD, NORTH INDIAN, HINDI, South Indian, Telugu (9.3%). INDIAN, NORTH INDIAN, MARATHI (5.0%). INDIAN, NORTH INDIAN, PUNJABI (2.1%). INDIAN, NORTH INDIAN, BENGALI (1.9%). INDIAN, NORTH INDIAN, BHOJPURI (1.0%). INDIAN, GUJARATI, Northi Indian, North Indian (0.4%). 7 (0.1%). 8 (0.1%). 9 (0.1%).
1 INDIAN, NORTH INDIAN, MARATHI 3399 actors:  (85.6%). INDIAN, NORTH INDIAN, HINDI (8.8%). INDIAN, OLD, NORTH INDIAN, HINDI, South Indian, Telugu (4.0%). INDIAN, NORTH INDIAN, BENGALI (0.3%). INDIAN, NORTH INDIAN, PUNJABI (0.2%). INDIAN, NORTH INDIAN, BHOJPURI (0.2%). INDIAN, GUJARATI, Northi Indian, North Indian (0.1%). 9 (0.1%). 8 (0.0%). 7 (0.0%).
2 INDIAN, NORTH INDIAN, BENGALI 3143 actors:  (92.6%). INDIAN, OLD, NORTH INDIAN, HINDI, South Indian, Telugu (3.3%). INDIAN, NORTH INDIAN, HINDI (3.3%). INDIAN, NORTH INDIAN, MARATHI (0.3%). INDIAN, NORTH INDIAN, BHOJPURI (0.1%). INDIAN, NORTH INDIAN, PUNJABI (0.1%). INDIAN, GUJARATI, Northi Indian, North Indian (0.0%). 7 (0.0%). 45 (0.0%). 14 (0.0%).
3 INDIAN, OLD, NORTH INDIAN, HINDI, South Indian, Telugu 2302 actors:  (83.2%). INDIAN, NORTH INDIAN, HINDI (10.8%). INDIAN, NORTH INDIAN, MARATHI (2.7%). INDIAN, NORTH INDIAN, BENGALI (2.2%). INDIAN, NORTH INDIAN, PUNJABI (0.7%). 11 (0.1%). INDIAN, NORTH INDIAN, BHOJPURI (0.1%). 41 (0.0%). 40 (0.0%). 39 (0.0%).
4 INDIAN, NORTH INDIAN, PUNJABI 1375 actors:  (77.1%). INDIAN, NORTH INDIAN, HINDI (15.6%). INDIAN, OLD, NORTH INDIAN, HINDI, South Indian, Telugu (4.8%). INDIAN, NORTH INDIAN, MARATHI (1.0%). INDIAN, NORTH INDIAN, BHOJPURI (0.4%). INDIAN, NORTH INDIAN, BENGALI (0.4%). 7 (0.1%). INDIAN, GUJARATI, Northi Indian, North Indian (0.1%). 8 (0.1%). 13 (0.0%).
5 INDIAN, NORTH INDIAN, BHOJPURI 961 actors:  (81.5%). INDIAN, NORTH INDIAN, HINDI (13.4%). INDIAN, NORTH INDIAN, MARATHI (1.8%). INDIAN, NORTH INDIAN, PUNJABI (0.8%). INDIAN, NORTH INDIAN, BENGALI (0.7%). INDIAN, OLD, NORTH INDIAN, HINDI, South Indian, Telugu (0.7%). INDIAN, GUJARATI, Northi Indian, North Indian (0.3%). 8 (0.2%). 7 (0.1%). 21 (0.1%).
6 INDIAN, GUJARATI, Northi Indian, North Indian 802 actors:  (85.7%). INDIAN, NORTH INDIAN, HINDI (9.7%). INDIAN, NORTH INDIAN, MARATHI (2.1%). INDIAN, NORTH INDIAN, BENGALI (0.7%). INDIAN, NORTH INDIAN, BHOJPURI (0.5%). INDIAN, NORTH INDIAN, PUNJABI (0.3%). 8 (0.2%). INDIAN, OLD, NORTH INDIAN, HINDI, South Indian, Telugu (0.2%). 7 (0.1%). 12 (0.1%).
7 7 193 actors:  (80.5%). INDIAN, NORTH INDIAN, HINDI (10.8%). INDIAN, NORTH INDIAN, MARATHI (2.4%). INDIAN, NORTH INDIAN, BENGALI (1.6%). INDIAN, NORTH INDIAN, PUNJABI (1.6%). INDIAN, NORTH INDIAN, BHOJPURI (0.9%). INDIAN, GUJARATI, Northi Indian, North Indian (0.5%). 8 (0.3%). 13 (0.3%). 22 (0.3%).

In [ ]:
# Cluster Hindi actors
list_clusters('Amitabh Bachchan', 'Shah Rukh Khan', count=4, names=20)

2 INDIAN, NORTH INDIAN, HINDI (2,651 actors): Mithun Chakraborty, Dharmendra, Aruna Irani, Anupam Kher, Govardhan Asrani, Prem Chopra, Gulshan Grover, Jeetendra, Amitabh Bachchan, Ranjeet Bedi, Raj Babbar, Shatrughan Sinha, Jackie Shroff, Rekha, Rajesh Khanna, Jagdeep, Om Puri, Kader Khan, Bindu Desai, Shashi Kapoor
1 1 (902 actors): Shakti Kapoor, Raza Murad, Kiran Kumar, Sadashiv Amrapurkar, Rakesh Bedi, Dinesh Hingoo, Mushtaq Khan, Bharat Kapoor, Rita Bhaduri, Alok Nath, Avtar Gill, Johny Lever, Beena Banerjee, Anil Dhawan, Goga Kapoor, Arun Bakshi, Mohnish Bahl, Reema Lagoo, Ishrat Ali, Upasna Singh
3 3 (532 actors): Birbal, Anil Nagrath, Sapna Sappu, Amit Pachori, Hemant Birje, Rakesh Pandey, Ali Khan, Vinod Tripathi, Poonam Dasgupta, Joginder Shelly, Satnam Kaur, Ramesh Goyal, Shiva Rindani, Deepak Shirke, Mahesh Raaj, Brij Gopal, Amrit Pal, Prithvi, Aman Sagar, Manmauji
5 5 (35 actors): Sunil Pal, Bobby Kumar, Rajkumar Kanojia, Neelu Kohli, Ganesh Acharya, Siraj Mustafa Khan, Mukesh J Bharti, Ehsaan Qureshi, Maninder Singh, Hiten Paintal, Abhishek Patel, Manju Bharti, Parveen Kaur, Mustaq Khan, Armaan Shahabi, Rajendra Chauhan, Manish Mehta, Nupur Sharma, Daisy, Imran Ahmed Khan

In [ ]:
# Dig deeper into mainstream Hindi actors
list_clusters('Amitabh Bachchan', 'Shah Rukh Khan', 'Aamir Khan', count=8, names=20)

0 0 (105 actors): Om Puri, Naseeruddin Shah, Paresh Rawal, Rohini Hattangadi, Urmila Matondkar, Neena Gupta, Pankaj Kapur, Annu Kapoor, Supriya Pathak, Archana Puran Singh, Anang Desai, Salim Ghouse, Deepa Sahi, Priya Gill, Akash Khurana, Manohar Singh, Harman Baweja, Pearl Padamsee, Sanjana Kapoor, Amardeep Jha
1 1 (85 actors): Ayesha Jhulka, Rahul Roy, Mamta Kulkarni, Pooja Bhatt, Sanjay Kapoor, Sharad S. Kapoor, Himani Shivpuri, Deepak Tijori, Pooja Batra, Atul Agnihotri, Rohit Roy, Suparna Anand, Vikas Bhalla, Arman Kohli, Mink Singh, Suchitra Krishnamoorthi, Mohan Bhandari, Pooja Bedi, Karishma Kotak, Shilpa Anand
2 2 (76 actors): Anupam Kher, Satish Kaushik, Pallavi Joshi, Akshay Anand, Jugal Hansraj, Ravi Baswani, Sushmita Mukherjee, Somy Ali, Renuka Shahane, Deven Bhojani, Anjali Jathar, J. Brandon Hill, Darsheel Safary, Keith Stevenson, Navneet Nishan, Jamie Alter, Shaheen, Richa Sharma, Karan Razdan, Bhavana Balsawar
3 INDIAN, NORTH INDIAN, HINDI (67 actors): Jackie Shroff, Anil Kapoor, Sunny Deol, Juhi Chawla, Dimple Kapadia, Manisha Koirala, Madhuri Dixit, Nana Patekar, Aamir Khan, Satish Shah, Shilpa Shirodkar, Vivek Mushran, Nakul Vaid, Puru Rajkumar, Anupama Verma, Payal Malhotra, Kaivalya Chheda, Aadar Jain, Master Makrand, Ashley Nicole Blake
4 4 (62 actors): Gulshan Grover, Sanjay Dutt, Govinda, Raveena Tandon, Aditya Pancholi, Karisma Kapoor, Farha Naaz, Chunky Pandey, Harish, Shilpa Shetty Kundra, Kimi Katkar, Neelam Kothari, Sonam, Sumeet Saigal, Sangeeta Bijlani, Divya Bharti, Twinkle Khanna, Sujata Mehta, Sonu Walia, Aashif Sheikh
5 5 (50 actors): Kiran Juneja, Mita Vashisht, Madan Jain, Soni Razdan, Anita Kanwar, Gopi Desai, Aditya Lakhia, Lalit Tiwari, M.K. Raina, Vijay Kashyap, K.K. Raina, Achyut Potdar, Kamal Chopra, Virendra Razdan, Riju Bajaj, Deepak Qazir, Satyadev Dubey, Kesar Vasistha, Hemant Desai, Aloknath
6 6 (22 actors): Dalip Tahil, Pradeep Kabra, Vineeta, Gavin Packard, Amole Gupte, Imran Qureshi, Raghu Khosla, Sachin Nayak, Pradip Sagar, Vijay Suthar, Narendra Kumar, Preeti Mishra, Shahalam, Deepti Shrivstava, Pankaj Sharma, Pradeep Mitra, Muzaffar Ali, Abhishek Pathak, Pernia Qureshi, Varun Buddhadev
7 7 (9 actors): Kitu Gidwani, Ashish Sharma, Sohaila Kapur, Jyoti Subash Chandra, Malti Chahar, Ashish Balram Nagpal, Ami Arora, Roshan Bano, Bhaveen Gosain

In [ ]:
list_collaborations('Amitabh Bachchan', 'Shah Rukh Khan', 'Aamir Khan', count=8)

0 0 105 actors:  (59.1%). INDIAN, NORTH INDIAN, HINDI (11.5%). 4 (11.5%). 2 (7.5%). 1 (4.8%). 5 (4.1%). 6 (0.6%). 8 (0.5%). 7 (0.3%). 9 (0.0%).
1 1 85 actors:  (60.4%). 4 (13.8%). INDIAN, NORTH INDIAN, HINDI (12.5%). 0 (8.5%). 2 (3.2%). 6 (0.9%). 5 (0.4%). 8 (0.4%). 7 (0.0%). 9 (0.0%).
2 2 76 actors:  (55.6%). 4 (13.1%). 0 (12.6%). INDIAN, NORTH INDIAN, HINDI (12.6%). 1 (3.0%). 5 (1.5%). 6 (1.0%). 7 (0.5%). 8 (0.2%). 9 (0.0%).
3 INDIAN, NORTH INDIAN, HINDI 67 actors:  (48.1%). 4 (22.0%). 0 (11.1%). 2 (7.2%). 1 (6.8%). 5 (2.2%). 6 (1.6%). 8 (0.6%). 9 (0.2%). 7 (0.1%).
4 4 62 actors:  (56.2%). INDIAN, NORTH INDIAN, HINDI (18.7%). 0 (9.4%). 1 (6.4%). 2 (6.4%). 6 (1.3%). 5 (0.7%). 8 (0.7%). 9 (0.2%). 7 (0.1%).
5 5 50 actors:  (74.9%). 0 (12.1%). INDIAN, NORTH INDIAN, HINDI (6.8%). 2 (2.7%). 4 (2.7%). 1 (0.6%). 8 (0.3%). 6 (0.0%). 7 (0.0%). 9 (0.0%).
6 6 22 actors:  (59.0%). INDIAN, NORTH INDIAN, HINDI (13.9%). 4 (13.1%). 0 (4.9%). 2 (4.9%). 1 (4.1%). 5 (0.0%). 7 (0.0%). 8 (0.0%). 9 (0.0%).
7 7 9 actors:  (76.5%). 0 (8.8%). 2 (8.8%). INDIAN, NORTH INDIAN, HINDI (2.9%). 4 (2.9%). 1 (0.0%). 5 (0.0%). 6 (0.0%). 8 (0.0%). 9 (0.0%).

In [ ]:
# Explore modern parallel Bollywood
list_clusters('Amitabh Bachchan', 'Irrfan Khan', 'Nawazuddin Siddiqui', count=8, names=20)

0 0 (249 actors): Ashutosh Rana, Taapsee Pannu, Radhika Apte, Rajkummar Rao, Pankaj Tripathi, Yami Gautam, Kalki Koechlin, Varun Dhawan, Richa Chadha, Ali Fazal, Kiara Advani, Ayushmann Khurrana, Rajeev Khandelwal, Gulshan Devaiah, Kriti Sanon, Nushrratt Bharuccha, Vicky Kaushal, Kartik Aaryan, Bhumi Pednekar, Vidyut Jammwal
1 INDIAN, NORTH INDIAN, HINDI (214 actors): Akshay Kumar, Ajay Devgn, Suniel Shetty, Salman Khan, Tabu, Shah Rukh Khan, Saif Ali Khan, Manoj Bajpayee, Priyanka Chopra Jonas, John Abraham, Kareena Kapoor, Abhishek Bachchan, Rani Mukerji, Bobby Deol, Bipasha Basu, Riteish Deshmukh, Arjun Rampal, Abhinay Raj Singh, Sonali Bendre, Aishwarya Rai Bachchan
2 2 (205 actors): Ashish Vidyarthi, Irrfan Khan, Kay Kay Menon, Adil Hussain, Vinay Pathak, Nandita Das, Konkona Sen Sharma, Saurabh Shukla, Rahul Bose, Neha Dhupia, Tannishtha Chatterjee, Tisca Chopra, Ranvir Shorey, Rajat Kapoor, Prashant Narayanan, Abhay Deol, Manjari Fadnnis, Mallika Sherawat, Priyanka Bose, Arif Zakaria
3 3 (145 actors): Rajpal Naurang Yadav, Seema Biswas, Divya Dutta, Yashpal Sharma, Govind Namdeo, Rajit Kapoor, Mukesh Tiwari, Zakhir Hussain, Darshan Jariwala, Sharib Hashmi, Lisa Ray, Kumud Mishra, Suhasini Mulay, Asif Basra, Manoj Pahwa, Mohan Kapur, Palak Singh, Bhavna Pani, Alka Amin, Rinke Khanna
4 4 (126 actors): Sanjay Mishra, Vijay Raaz, Sharat Saxena, Brijendra Kala, Parvin Dabas, Smita Jaykar, Lillete Dubey, Vrajesh Hirjee, Mukesh S. Bhatt, Ruslaan Mumtaz, Sayali Bhagat, Ali Asgar, Namit Das, Rasika Dugal, Vindu Singh Randhawa, Achint Kaur, Kavin Dave, Arjun Mathur, Amol Parashar, Mahesh Chandra Deva
5 5 (101 actors): Arshad Warsi, Jaaved Jaaferi, Shreyas Talpade, Boman Irani, Tusshar Kapoor, Sharman Joshi, Riya Sen, Soha Ali Khan, Mugdha Godse, Kunal Khemu, Nitu Chandra, Minissha Lamba, Vir Das, Nandana Sen, Ila Arun, Sandhya Mridul, Neha Sharma, Daisy Shah, Sneha Ullal, Tanushree Dutta
6 6 (94 actors): Jimmy Shergill, Hrishitaa Bhatt, Arbaaz Khan, Mahie Gill, Sanjay Suri, Deepak Dobriyal, Kashmira Shah, Gracy Singh, Nauheed Cyrusi, Sammir Dattani, Mandira Bedi, Amrita Arora, Yuvika Chaudhary, Rajshri Deshpande, Sudhanshu Pandey, Tara Sharma, Nafisa Ali, Shamita Shetty, Zulfi Sayed, Samir Aftab
7 7 (75 actors): Rahul Dev, Meghna Naidu, Abhimanyu Singh, Milind Soman, Akhilendra Mishra, Sushant Singh, Raj Zutshi, Dipannita Sharma, Ankur Vikal, Vidya Malvade, Mayuri Kango, Tia Bajpai, Kenneth Desai, Himanshu Malik, Sunil Grover, Sharbani Mukherji, Raja Chaudhary, Kalpana Pandit, Suchitra Pillai, Gautam Rode

In [ ]:
list_collaborations('Amitabh Bachchan', 'Irrfan Khan', 'Nawazuddin Siddiqui', count=8)

0 0 249 actors:  (57.3%). INDIAN, NORTH INDIAN, HINDI (14.4%). 2 (7.3%). 3 (4.0%). 4 (3.7%). 5 (2.3%). 8 (2.2%). 6 (1.9%). 13 (1.6%). 9 (1.1%).
1 INDIAN, NORTH INDIAN, HINDI 214 actors:  (66.0%). 0 (7.3%). 2 (5.3%). 5 (5.2%). 6 (2.9%). 3 (2.7%). 8 (2.6%). 4 (2.0%). 7 (1.4%). 13 (1.2%).
2 2 205 actors:  (55.1%). INDIAN, NORTH INDIAN, HINDI (11.2%). 0 (7.8%). 4 (4.7%). 5 (4.0%). 3 (3.8%). 6 (3.2%). 8 (2.1%). 7 (2.0%). 9 (1.4%).
3 3 145 actors:  (51.0%). INDIAN, NORTH INDIAN, HINDI (10.2%). 0 (7.7%). 2 (6.7%). 4 (5.8%). 6 (4.0%). 5 (3.6%). 7 (2.2%). 9 (1.9%). 10 (1.4%).
4 4 126 actors:  (49.5%). 2 (9.1%). INDIAN, NORTH INDIAN, HINDI (8.3%). 0 (7.6%). 3 (6.3%). 5 (4.1%). 6 (3.4%). 7 (2.4%). 12 (1.4%). 8 (1.4%).
5 5 101 actors:  (43.3%). INDIAN, NORTH INDIAN, HINDI (21.8%). 2 (7.8%). 0 (4.9%). 4 (4.2%). 3 (4.0%). 6 (3.9%). 8 (3.1%). 7 (1.7%). 10 (1.2%).
6 6 94 actors:  (45.2%). INDIAN, NORTH INDIAN, HINDI (15.5%). 2 (8.1%). 3 (5.7%). 0 (5.1%). 5 (5.0%). 4 (4.4%). 11 (2.2%). 8 (2.2%). 7 (1.9%).
7 7 75 actors:  (50.8%). INDIAN, NORTH INDIAN, HINDI (12.1%). 2 (8.5%). 3 (5.3%). 4 (5.1%). 0 (4.4%). 5 (3.6%). 6 (3.2%). 11 (1.5%). 13 (1.1%).

# Who acts most with Hindi actors?

In [ ]:
# South Indian actors act with Hindi actors under 3% of the time
acts_with(('Brahmanandam', ), ('Amitabh Bachchan', 'Shah Rukh Khan'))

'6497 / 234091 = 2.8%'

In [ ]:
# Bengali actors act with Hindi actors even more often ~ 4% of the time
acts_with(('Amitabh Bachchan', 'Anup Kumar'), ('Amitabh Bachchan', 'Shah Rukh Khan'))

'2048 / 51891 = 3.9%'

In [ ]:
# Which Bengali actors act most with Hindi actors? Ans: Utpal Dutt, Biswajeet Chatterjee, etc.
acts_most_with(('Amitabh Bachchan',  'Anup Kumar'), ('Amitabh Bachchan', 'Shah Rukh Khan'), min_titles=0)

Utpal Dutt: 170 (25%). Shabana Azmi (9), Amol Palekar (6), Rekha (5), Mithun Chakraborty (5), A.K. Hangal (4), Govardhan Asrani (4), Raj Babbar (3), C.S. Dubey (3), Jeetendra (3), Jagdeep (3)
Biswajeet Chatterjee: 105 (18%). Rekha (4), Dharmendra (4), Shatrughan Sinha (3), Moushumi Chatterjee (2), Rakesh Roshan (2), Sharmila Tagore (2), Dev Malhotra (2), Shehzad Khan (2), Ramesh Goyal (2), Parikshit Sahni (2)
Prasenjit Chatterjee: 66 (7%). Shakti Kapoor (5), Juhi Chawla (2), Shafi Inamdar (2), Moon Moon Sen (2), Rameshwari (2), Vijayata Pandit (2), Rakesh Bedi (2), Beena Banerjee (2), Birbal (1), Riya Sen (1)
Rituparna Sengupta: 65 (14%). Mithun Chakraborty (4), Ronit Roy (4), Rohit Roy (3), Sharad S. Kapoor (3), Chunky Pandey (3), Kay Kay Menon (2), Rahul Bose (2), Divya Dutta (2), Rajat Kapoor (2), Mamta Kulkarni (2)
Priyanshu Chatterjee: 55 (45%). Sandali Sinha (2), Neha Dhupia (2), Konkona Sen Sharma (2), Darshan Kumaar (1), Dia Mirza (1), Anupriya Laxmi Katoch (1), Aarti Gupta (1), Rohit Roy (1), Amit Misra (1), K.K. Goswami (1)
Victor Banerjee: 54 (18%). Sanjay Suri (3), Moushumi Chatterjee (3), Preeti Jhangiani (2), Nakul Vaid (2), Om Puri (2), Raj Zutshi (2), Mithun Chakraborty (2), Pankaj Kapur (2), Sharmila Tagore (1), Ashish Vidyarthi (1)
Rajesh Sharma: 46 (26%). Amita Nangia (2), Radhika Apte (2), Shakti Kapoor (1), Ankur Vikal (1), Gopal Datt (1), Neelu Kohli (1), Kunal Kapoor (1), Atul Srivastava (1), Arjun Kapoor (1), Abhay Deol (1)
Raima Sen: 42 (28%). Rahul Bose (2), Konkona Sen Sharma (2), Vinay Pathak (2), Javed Akhtar (1), Shawar Ali (1), Riya Sen (1), Rimi Sen (1), Amit Behl (1), Gul Panag (1), Tisca Chopra (1)
Roopa Ganguly: 40 (22%). Mithun Chakraborty (3), Jackie Shroff (2), Sangeeta Bijlani (2), Shilpa Shirodkar (2), Kiran Kumar (2), Abhishek Bachchan (1), Chunky Pandey (1), Soha Ali Khan (1), Devendra Khandelwal (1), Jaya Mathur (1)
Debashree Roy: 35 (11%). Mithun Chakraborty (6), Arun Govil (3), Raj Babbar (2), Satish Shah (1), Pallavi Dutt (1), Kanwaljeet Singh (1), Shashi Puri (1), Konkona Sen Sharma (1), T.P. Jain (1), Ram Sethi (1)

In [ ]:
# Marathi actors act with Hindi actors ~9% of the time
acts_with(('Amitabh Bachchan', 'Vijay Chavan'), ('Amitabh Bachchan', 'Shah Rukh Khan'))

'5291 / 58028 = 9.1%'

In [ ]:
# Which Marathi actors act most with Hindi actors? Ans: Mohan Joshi, Sudhir Dalvi, etc.
acts_most_with(('Amitabh Bachchan',  'Vijay Chavan'), ('Amitabh Bachchan', 'Shah Rukh Khan'), min_titles=0)

Mohan Joshi: 476 (44%). Kiran Kumar (21), Shakti Kapoor (19), Mithun Chakraborty (13), Satnam Kaur (11), Dharmendra (10), Razak Khan (9), Mushtaq Khan (8), Dinesh Hingoo (8), Raza Murad (7), Anil Nagrath (7)
Sudhir Dalvi: 275 (46%). Birbal (7), Sadashiv Amrapurkar (7), Rakesh Bedi (6), Gulshan Grover (5), Raj Kiran (5), Bharat Kapoor (5), Suresh Chatwal (4), Raza Murad (4), Aruna Irani (4), Kalpana Iyer (3)
Shreeram Lagoo: 273 (47%). Mithun Chakraborty (7), Vinod Mehra (6), Jagdeep (5), Jeetendra (5), Dharmendra (5), Urmila Bhatt (5), Amol Palekar (5), C.S. Dubey (4), Prem Chopra (4), Smita Patil (4)
Milind Gunaji: 202 (40%). Shakti Kapoor (5), Dinesh Hingoo (5), Seema Biswas (4), Deepak Shirke (4), Govind Namdeo (4), Mushtaq Khan (4), Ehsan Khan (3), Raza Murad (3), Sadashiv Amrapurkar (3), Adi Irani (3)
Laxmikant Berde: 188 (19%). Aruna Irani (6), Govardhan Asrani (5), Mithun Chakraborty (5), Sadashiv Amrapurkar (5), Mohnish Bahl (4), Prem Chopra (4), Ayesha Jhulka (3), Brij Gopal (3), Govinda (3), Madhuri Dixit (3)
Viju Khote: 159 (30%). Aruna Irani (6), Dinesh Hingoo (5), Mushtaq Khan (4), Mac Mohan (4), Kiran Kumar (4), Rakesh Bedi (3), Kishore Bhanushali (3), Goga Kapoor (3), Birbal (3), Reema Lagoo (3)
Ramesh Deo: 152 (20%). Amitabh Bachchan (4), Aruna Irani (4), Yogeeta Bali (4), Jagdeep (4), Satyendra Kapoor (3), Jeetendra (3), Amrish Puri (3), Beena Banerjee (3), Rekha (3), Raj Kiran (3)
Sulabha Deshpande: 136 (40%). Bharat Kapoor (4), Sadashiv Amrapurkar (3), Alok Nath (3), Smita Patil (2), Mithun Chakraborty (2), Jeetendra (2), Kishore Bhanushali (2), Kulbhushan Kharbanda (2), Raza Murad (2), Farooq Shaikh (2)
Vikram Gokhale: 127 (26%). Reema Lagoo (4), Rajni Bala (3), Sadashiv Amrapurkar (3), Anjana Mumtaz (3), Padmini Kolhapure (3), Dinesh Hingoo (2), Smita Jaykar (2), Shreyas Talpade (2), Deepika Chikhalia (2), Shail Chaturvedi (2)
Ashwini Bhave: 82 (34%). Akshay Kumar (4), Sadashiv Amrapurkar (4), Jackie Shroff (3), Mohnish Bahl (3), Rishi Kapoor (3), Mithun Chakraborty (2), Vinod Khanna (2), Ronit Roy (2), Zeba Bakhtiar (2), Rakesh Bedi (2)

In [ ]:
# Punjabi actors act with Hindi actors ~15% of the time
acts_with(('Amitabh Bachchan', 'Mehar Mittal'), ('Amitabh Bachchan', 'Shah Rukh Khan'))

'2283 / 14949 = 15.3%'

In [ ]:
# Which Punjabi actors act most with Hindi actors? Ans: Satish Kaul, Mehar Mittal, etc.
acts_most_with(('Amitabh Bachchan', 'Mehar Mittal'), ('Amitabh Bachchan', 'Shah Rukh Khan'))

Satish Kaul: 142 (34%). Raza Murad (16), Kader Khan (7), Tina Ghai (4), Shakti Kapoor (3), Kiran Kumar (3), Rama Vij (3), Rita Bhaduri (3), Birbal (3), Prema Narayan (3), Kanwarjeet Paintal (2)
Mehar Mittal: 123 (23%). Raza Murad (13), Rajni Bala (6), Tina Ghai (6), Aruna Irani (5), Dharmendra (4), Navin Nischol (3), Padmini Kapila (3), Rama Vij (3), Pankaj Berry (2), Anil Dhawan (2)
Arpana Choudhary: 89 (44%). Raza Murad (8), Danny Denzongpa (3), Jalal Agha (3), Vijay Arora (3), Rakesh Pandey (2), Kanwarjeet Paintal (2), Vinod Mehra (2), Kiran Kumar (2), Dinesh Hingoo (2), Rama Vij (2)
Mukul Dev: 62 (42%). Rahul Dev (4), Ashish Vidyarthi (2), Nana Patekar (2), Jimmy Shergill (2), Amitabh Bachchan (1), Dinesh Kaushik (1), Namrata Shirodkar (1), Anupama Verma (1), Malay Chakrabarty (1), Pinky Chinoy (1)
Daljit Kaur: 61 (32%). Deep Dhillon (4), Shashi Puri (4), Tina Ghai (3), Pankaj Dheer (3), Arjun (3), Upasna Singh (2), Amrit Pal (2), Dharmendra (1), Rajni Bala (1), Aashif Sheikh (1)
Bhavana Bhatt: 40 (29%). Raza Murad (10), Aruna Irani (2), Coca Cola (2), Rana Jung Bahadur (1), Master Ankit (1), Kishore Bhanushali (1), Banjara (1), Jhony Nirmal (1), Uma Dhawan (1), Mahesh Raaj (1)
Gurpreet Ghuggi: 39 (21%). Jimmy Shergill (3), Raj Babbar (3), Mahie Gill (2), Rana Jung Bahadur (2), Upasna Singh (2), Chandrachur Singh (1), Ragini Khanna (1), Zareen Khan (1), Gary Gill (1), Preeti Arora (1)
Guggu Gill: 34 (13%). Upasna Singh (6), Deep Dhillon (3), Dharmendra (2), Rama Vij (2), Jimmy Shergill (2), Mahie Gill (2), Pankaj Dheer (2), Tinnu Verma (1), Sheetal Bedi (1), Tina Ghai (1)
Yograj Singh: 28 (13%). Upasna Singh (5), Arjun (3), Vidyashree (2), Pankaj Dheer (1), Shagufta Ali (1), Vaani Kapoor (1), Nazia Hussain (1), Ayushmann Khurrana (1), Sumit Gulati (1), Anjana Sukhani (1)
Jaswinder Bhalla: 23 (17%). Jaspal Bhatti (3), Jimmy Shergill (2), Upasna Singh (2), Rana Jung Bahadur (2), Shakti Kapoor (1), Aarti Chhabria (1), Vishal Karwal (1), Mahie Gill (1), Kanwaljeet Singh (1), Sunil Grover (1)

In [ ]:
# Bhojpuri actors act with Hindi actors ~13% of the time
acts_with(('Amitabh Bachchan', 'Dinesh Lal Yadav'), ('Amitabh Bachchan', 'Shah Rukh Khan'))

'1122 / 8254 = 13.6%'

In [ ]:
# Which Bhojpuri actors act most with Hindi actors? Ans: Ravi Kishan, Monalisa
acts_most_with(('Amitabh Bachchan', 'Dinesh Lal Yadav'), ('Amitabh Bachchan', 'Shah Rukh Khan'))

Ravi Kishan: 220 (45%). Raza Murad (7), Nagma (6), Kiran Kumar (6), Upasna Singh (4), Shakti Kapoor (4), Hrishitaa Bhatt (3), Rakhi Sawant (3), Yunus Parvez (3), Bhagyashree Patwardhan (2), Birbal (2)
Monalisa: 43 (27%). Raza Murad (3), Shakti Kapoor (2), Vikas Kalantri (2), Hina Tasleem (2), Jatin Garewal (2), Vishwajeet Pradhan (2), Dharmendra (1), Chahat Khanna (1), Hyder Kazmi (1), Tarun Arora (1)
Rani Chatterjee: 14 (13%). Raza Murad (2), Shakti Kapoor (1), Sadashiv Amrapurkar (1), Shahbaaz Khan (1), Johny Lever (1), Nagma (1), Surendra Pal (1), Ranjeet Bedi (1), Tinnu Verma (1), Ketki Dave (1)
Awdhesh Mishra: 13 (7%). Raza Murad (2), Upasna Singh (2), Amitabh Bachchan (1), Gulshan Grover (1), Shakti Kapoor (1), Jaya Bachchan (1), Prem Chopra (1), Anupam Kher (1), Sapna Sappu (1), Gajendra Chauhan (1)
Pawan Singh: 8 (7%). Dharmendra (1), Rati Agnihotri (1), Kader Khan (1), Shahbaaz Khan (1), Sapna Sappu (1), Rakhi Sawant (1), Sara Loren (1), Shahid Shams (1)
Pradeep Pandey: 8 (7%). Arun Bakshi (1), Rahul Dev (1), Raju Shrestha (1), Sanjay Mishra (1), Mukesh Rishi (1), Upasna Singh (1), Shubhi Shukla (1), Ishrat Khan (1)
Dinesh Lal Yadav: 5 (3%). Brij Gopal (1), Ravi Jhankal (1), Kiran Kumar (1), Sapna Sappu (1), Krishna Abhishek (1)
Khesari Lal Yadav: 2 (2%). Mahesh Chandra Deva (1), Ayaz Khan (1)
Kajal Raghwani: 2 (2%). Rahul Roy (1), Naresh Kanodia (1)
Arvind Akela Kallu: 2 (3%). Mushtaq Khan (1), Sapna Sappu (1)

In [ ]:
# Pakistani actors act with Hindi actors <1% of the time
acts_with(('Rangeela', 'Rangeela'), ('Amitabh Bachchan', 'Shah Rukh Khan'))

'123 / 14556 = 0.8%'

In [ ]:
# Which Pakistani actors act most with Hindi actors? Ans: Salma Agha, Shabnam
acts_most_with(('Rangeela', 'Rangeela'), ('Amitabh Bachchan', 'Shah Rukh Khan'))

Salma Agha: 43 (33%). Raj Babbar (5), Birbal (3), Arjun (3), Harbans Darshan M. Arora (2), Brando Bakshi (2), Rakesh Bedi (2), Mithun Chakraborty (2), Firoz Irani (1), Naseeruddin Shah (1), Farooq Shaikh (1)
Shabnam: 21 (6%). Shashi Kapoor (1), Ratna Bhooshan (1), Arun Govil (1), Amit Dhamija (1), Madhumalti Kapoor (1), Meera Madhuri (1), Randhir Singh (1), Shamsuddin (1), Devar (1), Somesh Agarwal (1)
Jawed Sheikh: 7 (3%). Rekha (1), Hema Malini (1), Tom Alter (1), Avtar Gill (1), Om Puri (1), Paresh Rawal (1), Sunil Pal (1)
Deeba Begum: 6 (2%). Juhi Chawla (1), Zeenat Aman (1), Zeba Bakhtiar (1), Divya Dutta (1), Nagma (1), Sushant Singh (1)
Nadeem Baig: 4 (1%). Zeba Bakhtiar (1), Tamanna (1), Somesh Agarwal (1), Sheeba Bhakri (1)
Sultan Rahi: 4 (0%). Chandni (3), Sabeeha (1)
Nanha: 2 (1%). Tamanna (2)
Munawar Zarif: 2 (1%). Sangeeta Naik (1), Sabeeha (1)
Mustafa Qureshi: 2 (0%). Zeba Bakhtiar (2)
Nazar: 1 (0%). Shahina (1)

In [ ]:
# Hindi actors act with Pakistani actors 0.1% of the time
acts_with(('Amitabh Bachchan', 'Shah Rukh Khan'), ('Rangeela', 'Rangeela'))

'123 / 101764 = 0.1%'

In [ ]:
# Which Hindi actors act most with Pakistani actors? Ans: Zeenat Aman, Raj Babbar & other Salma Agha co-stars
acts_most_with(('Amitabh Bachchan', 'Shah Rukh Khan'), ('Rangeela', 'Rangeela'))

Zeenat Aman: 6 (2%). Deeba Begum (1), Firdous (1), Masood Akhtar (1), Nighat (1), Kashif Aslam (1), Alauddin (1)
Raj Babbar: 5 (1%). Salma Agha (5)
Birbal: 3 (0%). Salma Agha (3)
Arjun: 3 (1%). Salma Agha (3)
Mithun Chakraborty: 2 (0%). Salma Agha (2)
Ranjeet Bedi: 2 (0%). Salma Agha (1), Iqbal Hasan (1)
Shashi Kapoor: 2 (0%). Zia Mohyeddin (1), Shabnam (1)
Ramesh Goyal: 2 (1%). Salma Agha (1), Yusuf Khan (1)
Rakesh Bedi: 2 (0%). Salma Agha (2)
Smita Patil: 1 (0%). Salma Agha (1)

In [ ]:
# Manipuri actors act with Hindi actors ~13% of the time
subcluster().loc['nm5869061']

primaryName    Bala Hijam
birthYear            <NA>
titles                  5
cluster                67
clusterName            67
costars                16
coclusters              2
pairings               16
incluster              13
incluster%         0.8125
Name: nm5869061, dtype: object

## Who acts in the most clusters?

In [ ]:
# Who acts most across world clusters? Eric Roberts, Joe Estevez, etc.
subcluster().sort_values('coclusters', ascending=False).query('titles >= 50').head(20)

                  primaryName  birthYear  ...  incluster  incluster%
nm0000616        Eric Roberts       1956  ...        856    0.859438
nm0261724         Joe Estevez       1946  ...        302    0.692661
nm2454994     Bill Oberst Jr.       1965  ...        246    0.768750
nm1864017         Maria Olsen       <NA>  ...        222    0.813187
nm1678610  Theodore Bouloukos       <NA>  ...        105    0.552632
nm0442207       Lloyd Kaufman       1945  ...        277    0.710256
nm3025400   Shawn C. Phillips       1985  ...        307    0.783163
nm0001698         John Savage       1949  ...        275    0.787966
nm0004193       Debbie Rochon       1968  ...        280    0.760870
nm0001424            Udo Kier       1944  ...        116    0.415771
nm0000514      Michael Madsen       1957  ...        410    0.855950
nm0879186       Richard Tyson       1961  ...        167    0.810680
nm0583951        Robert Miano       1942  ...        220    0.856031
nm0222881          Tony Devon       1951  ...        314    0.841823
nm0523344          Lynn Lowry       1947  ...        190    0.775510
nm0001803         Danny Trejo       1944  ...        353    0.907455
nm0828288      Brinke Stevens       1954  ...        286    0.848665
nm0741378        Felissa Rose       1969  ...        235    0.880150
nm0001744        Tom Sizemore       1961  ...        420    0.913043
nm0001595        Michael Paré       1958  ...        300    0.842697

[20 rows x 10 columns]

In [ ]:
# Who from North Indian films acts most across world clusters? Gulshan Grover, Om Puri, Naseeruddin Shah
subcluster().loc[subcluster('Amitabh Bachchan').index].sort_values('coclusters', ascending=False).query('titles >= 50').head(20)

                    primaryName  birthYear  ...  incluster  incluster%
nm0004109        Gulshan Grover       1955  ...        783    0.908353
nm0700875               Om Puri       1950  ...        449    0.848771
nm0787462      Naseeruddin Shah       1950  ...        465    0.928144
nm0222144             Rahul Dev       <NA>  ...        149    0.577519
nm0001934            Kabir Bedi       1946  ...        181    0.819005
nm0084443          Seema Biswas       1965  ...        185    0.852535
nm0051856       Victor Banerjee       1946  ...        280    0.909091
nm0006762         Saeed Jaffrey       1929  ...        198    0.849785
nm0000818          Shabana Azmi       1950  ...        435    0.931478
nm0451321        Shah Rukh Khan       1965  ...        188    0.944724
nm0006764       Sonali Kulkarni       1974  ...        192    0.927536
nm0023868           Zeenat Aman       1951  ...        296    0.939683
nm1056425  Rajpal Naurang Yadav       1971  ...        198    0.900000
nm0438501          Rishi Kapoor       1952  ...        446    0.938947
nm0000821      Amitabh Bachchan       1942  ...        555    0.906863
nm0013159        Rati Agnihotri       1960  ...        343    0.805164
nm0244890           Divya Dutta       1971  ...        199    0.892377
nm0896573      Ashish Vidyarthi       1962  ...        154    0.416216
nm0045136         Sarika Thakur       1960  ...        273    0.978495
nm0451234           Irrfan Khan       1967  ...        184    0.855814

[20 rows x 10 columns]

In [ ]:
# Who from South Indian films acts most across world clusters? Brahmanandam, Dhanush, Sadhu Kokila, Kamal Haasan
subcluster().loc[subcluster('Brahmanandam').index].sort_values('coclusters', ascending=False).query('titles >= 50').head(20)

                    primaryName  birthYear  ...  incluster  incluster%
nm0103977          Brahmanandam       1956  ...       2585    0.953171
nm1333687               Dhanush       1983  ...        167    0.865285
nm2794335          Sadhu Kokila       <NA>  ...        619    0.970219
nm0352032          Kamal Haasan       1954  ...        764    0.893567
nm1184326           Babu Antony       <NA>  ...        314    0.934524
nm0793851         Sayaji Shinde       <NA>  ...        187    0.506775
nm0004437               Sridevi       1963  ...        528    0.731302
nm0080238     Tanikella Bharani       1954  ...        732    0.944516
nm0471447        Ramya Krishnan       1970  ...        530    0.915371
nm0695177           Prakash Raj       1965  ...        739    0.889290
nm0619047             Anant Nag       1948  ...        576    0.926045
nm1289230            Riyaz Khan       1972  ...        190    0.969388
nm0576169                 Meena       <NA>  ...        474    0.963415
nm0659250           Pandari Bai       1930  ...       1160    0.946939
nm0419682              Jayanthi       1945  ...        481    0.937622
nm2132667          M.S. Bhaskar       <NA>  ...        317    0.972393
nm0030280            Annapoorna       <NA>  ...        401    0.945755
nm0043199               Avinash       <NA>  ...        758    0.968072
nm0482285               Lakshmi       1952  ...        904    0.946597
nm1335387  Prithviraj Sukumaran       1982  ...        315    0.931953

[20 rows x 10 columns]

In [ ]:
# Who from Chinese films acts most across world clusters? Yasuaki Kurata, Lieh Lo, Jackie Chan
subcluster().loc[subcluster('Jackie Chan').index].sort_values('coclusters', ascending=False).query('titles >= 50').head(20)

                    primaryName  birthYear  ...  incluster  incluster%
nm0475602        Yasuaki Kurata       1946  ...        187    0.809524
nm0516316               Lieh Lo       1939  ...        449    0.945263
nm0000329           Jackie Chan       1954  ...        197    0.726937
nm0151155  Michael Wai-Man Chan       1946  ...        499    0.970817
nm0938975           Carter Wong       1947  ...        217    0.896694
nm0911093         Jimmy Wang Yu       1944  ...        248    0.950192
nm0151080             Sing Chen       1936  ...        356    0.962162
nm0939255          Michael Wong       1965  ...        206    0.927928
nm0960013         Yukari Ôshima       1963  ...        159    0.798995
nm0514904          Chia-Hui Liu       1951  ...        164    0.881720
nm0151827          Sylvia Chang       1953  ...        326    0.964497
nm0152054             Roy Chiao       1927  ...        272    0.974910
nm0047016              Ying Bai       1940  ...        317    0.969419
nm0465062            Tao Chiang       1942  ...        267    0.923875
nm0438071            Phillip Ko       1949  ...        269    0.943860
nm0157747              Han Chin       1946  ...        330    0.979228
nm0945189             Simon Yam       1955  ...        572    0.969492
nm0795517                Shu Qi       1976  ...        229    0.942387
nm0005033     Sammo Kam-Bo Hung       1952  ...        284    0.946667
nm0490489              Andy Lau       1961  ...        495    0.964912

[20 rows x 10 columns]

In [ ]:
# Who acts most across North-Indian clusters? Raza Murad, Asrani, Rakesh Bedi, Gulshan Grover, etc.
subcluster('Amitabh Bachchan').sort_values('coclusters', ascending=False).query('titles >= 50').head(20)

                    primaryName  birthYear  ...  incluster  incluster%
nm0451272          Mushtaq Khan       <NA>  ...        336    0.721030
nm0613417            Raza Murad       1950  ...        971    0.763965
nm2147526      Govardhan Asrani       1941  ...        673    0.784382
nm0066075           Rakesh Bedi       1954  ...        503    0.787167
nm0004109        Gulshan Grover       1955  ...        670    0.855683
nm0592799         Sanjay Mishra       <NA>  ...        132    0.737430
nm0787462      Naseeruddin Shah       1950  ...        405    0.870968
nm0022758             Tom Alter       1950  ...        236    0.682081
nm0700875               Om Puri       1950  ...        361    0.804009
nm0084443          Seema Biswas       1965  ...        110    0.594595
nm0348004         Milind Gunaji       1961  ...        219    0.463002
nm0000818          Shabana Azmi       1950  ...        325    0.747126
nm0451163              Ali Khan       <NA>  ...        282    0.878505
nm0051856       Victor Banerjee       1946  ...        206    0.735714
nm0159159           Prem Chopra       1935  ...        554    0.668275
nm1056425  Rajpal Naurang Yadav       1971  ...        142    0.717172
nm0451600           Anupam Kher       1955  ...        650    0.897790
nm0451561       Sachin Khedekar       1965  ...        141    0.640909
nm0222144             Rahul Dev       <NA>  ...         98    0.657718
nm0430803           Mohan Joshi       1945  ...        559    0.520969

[20 rows x 10 columns]

In [ ]:
# Who acts most across south Indian clusters? Avinash, Sai Kumar, etc
subcluster('Brahmanandam').sort_values('coclusters', ascending=False).query('titles >= 50').head(20)

                  primaryName  birthYear  ...  incluster  incluster%
nm0043199             Avinash       <NA>  ...        634    0.836412
nm0474871           Sai Kumar       <NA>  ...        110    0.369128
nm0080238   Tanikella Bharani       1954  ...        625    0.853825
nm2794335        Sadhu Kokila       <NA>  ...        557    0.899838
nm1693209         Ramesh Bhat       <NA>  ...        588    0.892261
nm5724719       Achyuth Kumar       <NA>  ...        318    0.900850
nm5701208  Sharath Lohitashwa       <NA>  ...        193    0.861607
nm6489058           Yogi Babu       <NA>  ...        342    0.890625
nm0893449       Nedumudi Venu       1948  ...        664    0.891275
nm0103977        Brahmanandam       1956  ...       1924    0.744294
nm0707270          Charan Raj       <NA>  ...         95    0.404255
nm0007123           Mammootty       1951  ...       1018    0.844813
nm0787631            Shakeela       <NA>  ...         86    0.547771
nm0151526        Chandramohan       <NA>  ...        388    0.608150
nm1119913       Vadivukkarasi       <NA>  ...        127    0.654639
nm0415538            Jagadish       <NA>  ...        731    0.932398
nm3369902      Tennis Krishna       <NA>  ...        175    0.925926
nm0838520               Suman       <NA>  ...        181    0.497253
nm0764853   Saranya Ponvannan       <NA>  ...        134    0.690722
nm2284321       Samuthirakani       <NA>  ...        156    0.829787

[20 rows x 10 columns]

## Who are the most insular actors in World Cinema?

In [ ]:
# Who are the most insular across world clusters among Hollywood actors? Ben Affleck
subcluster().loc[subcluster('Brad Pitt').index].query('pairings == incluster').sort_values('pairings', ascending=False).head(20)

                  primaryName  birthYear  ...  incluster  incluster%
nm0000255         Ben Affleck       1972  ...        130         1.0
nm0323304      Donald F. Glut       1944  ...        107         1.0
nm0314775       David Gerrold       1944  ...        107         1.0
nm4050725        Jason Barker       <NA>  ...         95         1.0
nm0001305          Lukas Haas       1976  ...         93         1.0
nm0005188       James Marsden       1973  ...         93         1.0
nm0241049        Josh Duhamel       1972  ...         91         1.0
nm0000982         Josh Brolin       1968  ...         87         1.0
nm0004879          Snoop Dogg       1971  ...         85         1.0
nm0000337  Rachael Leigh Cook       1979  ...         84         1.0
nm2846621       Bradford Hill       <NA>  ...         81         1.0
nm0001701          Devon Sawa       1978  ...         81         1.0
nm0256121         Ethan Embry       1978  ...         80         1.0
nm0258402           Mike Epps       1970  ...         78         1.0
nm0001491     Melanie Lynskey       1977  ...         76         1.0
nm0001828      Melora Walters       1960  ...         76         1.0
nm5551119      Bill Wetherill       <NA>  ...         73         1.0
nm0001650    Michael Rapaport       1970  ...         69         1.0
nm1159180            Ed Helms       1974  ...         68         1.0
nm0004875          Taye Diggs       1971  ...         66         1.0

[20 rows x 10 columns]

In [ ]:
# Who are the most insular across world clusters among Hindi actors? Sapna Sappu, Satnam Kaur, Neetu Singh
subcluster().loc[subcluster('Amitabh Bachchan', 'Shah Rukh Khan').index].query('pairings == incluster').sort_values('pairings', ascending=False).head(20)

                primaryName  birthYear  titles  ...  pairings incluster  incluster%
nm0764598       Sapna Sappu       <NA>      87  ...       365       365         1.0
nm2071432       Satnam Kaur       <NA>      53  ...       265       265         1.0
nm0802183       Neetu Singh       1958      48  ...       187       187         1.0
nm1294392       Shashi Puri       <NA>      25  ...       133       133         1.0
nm0154222    Suresh Chatwal       <NA>      29  ...       129       129         1.0
nm1031273      Ramesh Mehta       1934      29  ...       127       127         1.0
nm0419741      Smita Jaykar       <NA>      27  ...       119       119         1.0
nm0318783   Benjamin Gilani       1946      24  ...       112       112         1.0
nm2210312   Durgesh Nandini       <NA>      17  ...       105       105         1.0
nm1249116     Ranvir Shorey       1972      30  ...       100       100         1.0
nm0202542        Nalin Dave       <NA>      19  ...       100       100         1.0
nm0223524    Krishan Dhawan       <NA>      18  ...       100       100         1.0
nm0430787      Arvind Joshi       <NA>      25  ...       100       100         1.0
nm1030401    Naresh Kanodia       1943      24  ...        95        95         1.0
nm1082344    Girija Shankar       <NA>      19  ...        89        89         1.0
nm2097312  Rajesh Sabharwal       <NA>      20  ...        89        89         1.0
nm0897197          Rama Vij       1951      22  ...        88        88         1.0
nm1263583       Imtiaz Khan       1942      20  ...        88        88         1.0
nm1032187     Arvind Rathod       1938      20  ...        87        87         1.0
nm1055653    Padmini Kapila       <NA>      17  ...        84        84         1.0

[20 rows x 10 columns]

In [ ]:
# Who are the most insular across world clusters among South Indian actors? 
subcluster().loc[subcluster('Brahmanandam').index].query('pairings == incluster').sort_values('pairings', ascending=False).head(20)

                    primaryName  birthYear  ...  incluster  incluster%
nm2133977   Kaduvakkulam Antony       <NA>  ...        417         1.0
nm1522315                 Baiju       <NA>  ...        320         1.0
nm1314762           Gandhimathi       <NA>  ...        315         1.0
nm1267637         Ponnamma Babu       <NA>  ...        251         1.0
nm1459145    Bobby Kottarakkara       <NA>  ...        247         1.0
nm1135609          Rani Chandra       <NA>  ...        245         1.0
nm1182244        S.S. Rajendran       1928  ...        241         1.0
nm0680927             Philomina       1925  ...        239         1.0
nm3159930    Shivaji Guruvayoor       <NA>  ...        237         1.0
nm0426958                 Johny       <NA>  ...        223         1.0
nm0474853            Prem Kumar       <NA>  ...        217         1.0
nm3383462  Musari Krishnamurthy       <NA>  ...        209         1.0
nm1485941            Madhan Bob       <NA>  ...        199         1.0
nm1431568      Sphadikam George       <NA>  ...        196         1.0
nm0695266       Narendra Prasad       1945  ...        188         1.0
nm0701110            Pushpalata       <NA>  ...        182         1.0
nm0490058                 Latha       <NA>  ...        171         1.0
nm1167045    Aranmulla Ponnamma       1914  ...        169         1.0
nm1434433          Idavela Babu       <NA>  ...        167         1.0
nm0659553        Adoor Pankajam       <NA>  ...        165         1.0

[20 rows x 10 columns]

In [ ]:
# Who are the most insular across world clusters among Tamil actors? Madhan Bob, Vidharth, KS Ravikumar
subcluster().loc[subcluster('Brahmanandam', 'Delhi Ganesh').index].query('pairings == incluster').sort_values('pairings', ascending=False).head(20)

                    primaryName  birthYear  ...  incluster  incluster%
nm1485941            Madhan Bob       <NA>  ...        199         1.0
nm5180541         Imman Annachi       <NA>  ...        106         1.0
nm1217876          S. Ve. Sekar       <NA>  ...         90         1.0
nm2011414   Devadarshini Chetan       <NA>  ...         90         1.0
nm2465676          Poonam Bajwa       <NA>  ...         88         1.0
nm0433893        K.S. Ravikumar       <NA>  ...         84         1.0
nm8038620      Vijay Krishnaraj       <NA>  ...         83         1.0
nm2670388            Singampuli       <NA>  ...         81         1.0
nm6897761     Thalapathi Dinesh       <NA>  ...         81         1.0
nm1719748               Ranjith       <NA>  ...         77         1.0
nm5463331  Powerstar Srinivasan       <NA>  ...         71         1.0
nm4787081        Gnanasambandam       <NA>  ...         67         1.0
nm0890868    Malaysia Vasudevan       1943  ...         67         1.0
nm6106052        Bala Saravanan       <NA>  ...         67         1.0
nm6106360          Kaali Venkat       <NA>  ...         66         1.0
nm1429504           Nellai Siva       1952  ...         66         1.0
nm4776159              Vidharth       <NA>  ...         66         1.0
nm5654277           Bobby Simha       1983  ...         65         1.0
nm1759353           Nalinikanth       <NA>  ...         64         1.0
nm5199559          Robo Shankar       <NA>  ...         64         1.0

[20 rows x 10 columns]

In [ ]:
list_costars('Goundamani')

INDIAN, SOUTH INDIAN, Tamil, Old, Telugu, Malayalam (825): Senthil (54), Aachi Manorama (34), Sathyaraj (26), Karthik (20), Radha Ravi (14), Kushboo (13), Sarath Kumar (12), S.S. Chandran (10), Prabhu (10), Vijayakanth (10)
INDIAN, NORTH INDIAN, Hindi, Old, Bengali, Bhojpuri, Gujarati, Punjabi, Marathi (17): Salim Ghouse (3), Nagma (2), Rekha Mallick (2), Poonam Dhillon (1), Poonam Dasgupta (1), Girish Karnad (1), Manisha Koirala (1), Vijay Kumar (1), Rati Agnihotri (1), Sonali Bendre (1)
PAKISTANI, INDIAN, NORTH INDIAN, ODIA, Old, Bangladeshi (2): Rachana Banerjee (2)

In [ ]:
list_costars('Senthil')

INDIAN, SOUTH INDIAN, Tamil, Old, Telugu, Malayalam (725): Goundamani (54), Aachi Manorama (21), Radha Ravi (20), Karthik (18), Kovai Sarala (17), Srividya (14), M.N. Nambiar (12), Ramarajan (11), Janakaraj (11), Vinuchakravarthy (10)
INDIAN, NORTH INDIAN, Hindi, Old, Bengali, Bhojpuri, Gujarati, Punjabi, Marathi (14): Salim Ghouse (3), Rekha Mallick (3), Kaundamani (1), Poonam Dasgupta (1), Eva Grover (1), Meenakshi Sheshadri (1), Swapna (1), Manorama (1), Aishwarya Rai Bachchan (1), Shanti Priya (1)
PAKISTANI, INDIAN, NORTH INDIAN, ODIA, Old, Bangladeshi (1): Rachana Banerjee (1)

In [ ]:
# Premgi Amaren
# subcluster('Brahmanandam', 'Premgi Amaren', 'Premgi Amaren', 'Premgi Amaren', 'Premgi Amaren')
list_costars('Premgi Amaren')

INDIAN, SOUTH INDIAN, Tamil, Old, Telugu, Malayalam (52): Jai (2), Shiva (2), S.P.B. Charan (2), Chaams (2), Raasi (1), Subbu Panchu (1), Sonu Gowda (1), Piaa Bajpai (1), Sampath Raj (1), Nitin Sathya (1)

# Experiments

In [ ]:
# Dig deeper into mainstream Hindi actors
list_clusters(*get_path('Fawad Khan'), count=8, names=40)

# TODO

- Find actors in one cluster that act closest with another cluster
- Create the network of clusters based on the distance metric

# Stories

- [.] How easy is it to enter an industry as a foreigner? e.g. in Tamil?
- [?] Do movie with crossover stars do better business? (IMDBPro)
- [.] Cohort analysis. Do actors crossover more later or in their early career?
- [.] Do clusters become more/less insular over time? Was Hollywood more open in 1950s?
- Heroines: (e.g. Nayantara, Angelina Jolie)
  - [.] Which heroines entered multiple clusters?
  - [.] How long do heroines last? Is it much less than heroes? Who are outliers?
  - [?] Do crossover heroines have higher collections?
- Sectors: Hollywood (global), Indian, Tamil